[2018-01-03 06:01] bhatiak opened #1006 "Feature Request: Ability to view & edit link in anchor-plugin"
- After adding a link with the anchor-plugin, I can't see what the link is quickly (it takes ~3 seconds to come up).
- If I want to edit this link, I'd have to remove it and add another link.

Here's how a few apps implement these features:

Medium has a hover state popover showing the URL that comes up immediately:
<img width="140" alt="screen shot 2018-01-03 at 12 44 42 am" src="https://user-ima

[2018-01-03 11:08] moleynik opened #1007 "Mention - Suggestion popup doesn't show when using rich text utills"
## Version
"draft-js": "^0.10.4"
"draft-js-export-html": "^1.2.0"
"draft-js-linkify-plugin": "^2.0.1"
"draft-js-mention-plugin": "^2.0.1"
"draft-js-plugins-editor": "^2.0.3"
"draft-js-static-toolbar-plugin": "^2.0.1"
## Steps

1. start typing text
2. typing space [\s]
3. pushing button [B] or [Ctrl+B] [Cmd+B]
4. typing [@]
## Result
The mention suggestion popup doesn't appear.
<img width="1014" al

[2018-01-03 14:19] neo182 commented on #941
I am having the same problem for two days in row. Anyone to rescue?

[2018-01-03 15:55] ricardopacheco opened #1008 "videoPlugin is not working"
package.json
[code]

[code]

I want to be able to preview youtube video when pasting the link in the editor. However, I followed the suggestion of some previous issues, and it does not work.

The entity should be created here `videoPlugin.addVideo(editorState, { data: { src: videoUtils.getYoutubeSrc(text).url}};`, however, when make console.log(JSON.stringfy(editorState.getCurrentContent()):

[cod

[2018-01-03 16:45] LarsLiden opened #1009 "Multiple instances of MentionSuggestions, onSearchChange only called for last one"
Having issues with multiple instances on the same parent component, specifically, onSearchChange is only called for the last one I create.  Followed example in #298 (i.e. create plugin in constructor) but problem still exists.

My parent component, creates multiple instances like this:

 {...somecode...}.map(slot =>
 {
        return (
         <MyChildComponent
              editorState={this.sta

[2018-01-03 20:59] agarrharr commented on #665
@johndavedecano Thank you, your code works great!

Now, I wish there was an option to reverse the order of the suggestions. If you have the suggestions on top, it would be nice if you could make the suggestions start from the bottom of the list.

[2018-01-03 21:56] bengotow commented on #855
Hey folks—just ran into this as well. The performance of the EmojiSelectButton is really bad, and it renders the entire emoji selection panel / popover, even when it's closed. (I think this is the source of the problem - there are 1369 emoji, and it spends nearly 80ms rendering them on my machine, only to hide them with CSS)

I think it'd be really easy to fix this - the emoji button shouldn't ren

[2018-01-03 22:42] bengotow commented on #709
Hey folks—just stumbled across this one as well. Would it be possible to catch paste using the `handlePastedText` handler and only do the expensive computation in the following update?

[2018-01-04 06:44] zzsoszz opened #1010 "plugins (.css file) change to (.module.css) to use css module feature,like this way is it better?"
plugins (.css file) change to  (.module.css)  to use css module feature,like this way is it better?

[2018-01-05 01:45] dobesv commented on #1005
What do you mean by "generated HTML" ?  Is this something you are looking at in the chrome dev tools?

[2018-01-05 01:46] dobesv commented on #965
Have you tried adding position:relative to some parent element of the editor ?

[2018-01-05 01:51] dobesv commented on #916
It may depend on the particular plugin whether it supports this, but draft-js has APIs to save and restore the editor contents, e.g. https://draftjs.org/docs/api-reference-content-state.html#content

You can save the editor contents as JSON.  I don't think it works for editor state.  But, in any case, you should bring this up with draft-js for the more "general" concept of saving out the state, if

[2018-01-05 02:00] dobesv opened #1011 "Move Emoji selector popover to above input"
When the editor is the bottom of the UI, the emoji selector popover appears off the bottom of the view and adds a scrollbar to the page.

It would be great if there was an easy way to make the selector appear above the input, instead of below it.

[2018-01-05 02:30] nareshbhatia commented on #1005
Exactly! When I look at the generated HTML in the chrome dev tools there is no `<a>` tag there. However, if I do the same in anchor-plugin demo, there is an `<a>` tag. So I must be missing something in my code that I listed above that's preventing the `<a>` tag from being generated.

[2018-01-05 03:01] dobesv commented on #1011
Actually I figured this out.  I can provide your own `positionSuggestions` function in the emoji plugin config, which can do the necessary.

Here's a "good enough for me" version for anyone who is curious:

https://gist.github.com/dobesv/da2ce40e839c5f6577f923ba92177e12

[2018-01-05 03:01] #1011 closed

[2018-01-05 03:10] dobesv commented on #1005
Hmm, well one thing you should change is to create a new plugin instance for each instance of your component.  e.g. move the calls to `createXXXPlugin` into your constructor.

The plugins seem to assume that they have a 1:1 ratio with the actual editors and keep state within the plugin itself.

So in the constructor you might have `this.plugins = [...]` and reference that in `render()`.

I'm not s

[2018-01-05 16:31] nareshbhatia commented on #1005
@dobesv, as you suggested, I moved the plugin instantiation to the constructor - that did not help. However I figured out the root cause of the problem. I have a componentDidMount() method in my component which disables the decorators. I am not the first to hit this problem. Here's another issue open on this: https://github.com/draft-js-plugins/draft-js-plugins/issues/955.

cc: @bkniffler, @julian

[2018-01-05 23:08] agarrharr commented on #665
@johndavedecano That actually doesn't work for me. I thought it was because when it first opens, it will be above the cursor, then then after I move my mouse over the menu, or if I type another character, the menu moves back down below.

[2018-01-06 15:05] nareshbhatia commented on #1005
I have now tried a couple of workarounds but none of them work. The first was to move the `componentDidMount()` logic to `componentWillReceiveProps()`, but that works only when the props change, not when the editor is first loaded. Then I tried to move the `componentDidMount()` logic to the constructor. However, that didn't work either - initializing the `editorState` here does not show up it in t

[2018-01-07 03:44] nareshbhatia commented on #1005
I have finally been able to solve this!

TL;DR: I needed to initialize the editorState from props. If I do this in `componentDidMount()`, then the decorators are lost. However if I do this initialization in the constructor (where props are still available), everything works just fine.

**Old Code**
[code]

**New Code**
[code]

[2018-01-07 10:54] iShawnWang commented on #995
emmmm, I will try to downgrade draft.js version, and any update here ?

[2018-01-08 21:58] santryn commented on #860
Would also love to know if there is any update on this. Currently reworking a textbox that already uses emoji mart to utilise DraftJS- this would be a big problem solver for us!

[2018-01-09 02:34] simsim0709 opened #1014 "Make entity and block type configurable"
## Use-case/Problem

Currently, it's not possible to change entity and block type, because it's hardcoded.
For example, the entity type of `draft-js-image-plugin` is 'image'. But, I want it to be 'IMAGE' or 'AVATAR_IMAGE' or something else. Not only that, other plugins that handle entity or block type such as `draft-js-emoji-plugin`, `draft-js-video-plugin` are same situation, as described above.

[2018-01-09 14:20] josemontiel commented on #941
Same happening here.

[2018-01-10 00:26] josemontiel opened #1016 "Cannot align text using align buttons in static Toolbar"
[code]

[2018-01-10 09:32] abhilisten opened #1017 "how can i get the value to be submitted to backend from the editor"
i am not able to get the value to be submitted to backend from editor. How and where can i get?

[2018-01-12 04:34] glenn-allen commented on #995
For anyone looking for a workaround, wrap your `CompositeDecorator` with the Draft JS Plugins' `MultiDecorator`:

[code]

[2018-01-12 10:12] johndavedecano commented on #665
@agarrharr I think we can use popper.js for this case then. I created a textarea with mention library https://github.com/johndavedecano/react-mention-plugin/blob/master/src/mentions/Suggestions.js

What i did is i track the coordinates of the caret then use it to position a span tag. I use that span tag as a reference for my popper element.

I think draftJS can also implement popperJS for managing

[2018-01-14 00:33] gavrichards commented on #860
@juliankrispel @dimaslz Hey guys, I'd really like to use this in my project as the existing emoji plugin doesn't suit our needs - A) we'd like to use Twitter's emoji pack B) resolve the issue with the slow loading #855 . Do you have anything you can share, even if it's a zip? It would be so much appreciated, I've been struggling with this since November and our new product is preparing for launch

[2018-01-16 09:14] kurenov commented on #316
@juliankrispel what's the status of support of white spaces? Are you guys planning to include it soon? Or should we fork this repo and do it our self?

[2018-01-17 09:35] nicubarbaros commented on #983
UP

[2018-01-17 09:39] nicubarbaros commented on #915
Your entityMap object might not be defined, so draft js does not know that there is a mention.

[2018-01-18 13:07] comatory opened #1019 "linkify plugin susceptible to punycode phishing attack"
I am able  to use UTF-8 characters as input of the editor. However I can use sequences such as `ɡοοɡle` which is not actually `google` and append `.com` which will convert it to link. The problem is the domain actually points to `http://xn--le-igba36oa.com/`

This can be used to potentially lead user to bad website, execute script etc. It would be cool if the link would be assembled by detecting u

[2018-01-18 13:35] THook commented on #986
Hello @comatory, this behaviour comes from an `overflow` CSS attribute being set to `hidden` or at least, not `visible` as it should. It may come from parent component or the Mention plugin CSS class itself, which you can override to match the expected behaviour.

Hope it helps

[2018-01-18 13:39] comatory commented on #986
Yes I get that, it's just a bit _emabarassing_ I think, I'd expect it to work out of the box, I think the use-case is so apparent in real life that lot of people are bound to run into it.

I managed to follow documentation and create repositioning callback for `positionSuggestions` options that looks like this:

[code]

so my plugin configuration looks like this:

[code]

[2018-01-18 14:37] THook commented on #986
That's really nice! I ended up doing something pretty similar with CSS only but was struggling with Instagram-like positioning of mentions. This will help!

[2018-01-19 20:02] dem commented on #1007
@moleynik  It is highly probable, that this problem is fixed by this pull request
https://github.com/draft-js-plugins/draft-js-plugins/pull/1003/files

Could you please check it this fix works for you?

[2018-01-20 05:49] dangreen commented on #779
@Cabezaa
[code]

[2018-01-20 05:49] #779 closed

[2018-01-22 10:12] moleynik commented on #1007
@dem Yes, this fix solves my problem. Thank you.

[2018-01-22 10:19] moleynik commented on #1007
Fixed in: https://github.com/draft-js-plugins/draft-js-plugins/pull/1003/files

[2018-01-22 10:19] #1007 closed

[2018-01-22 16:11] Kathleen-Francis opened #1020 "Image resizing bugs in Firefox"
## Use-case/Problem

The draft-js-resizeable-plugin seems to have some bugs in Firefox. You can see the bugs on the examples in the documentation ("Alignment + Resize + Focus + Drag'n'Drop + Drag'n'Drop Upload Example" at https://www.draft-js-plugins.com/plugin/image).

When you try to resize the image, you can hover your mouse on the edge of the image and the cursor turns into the resize cursor,

[2018-01-23 15:36] chasedeanda commented on #1016
+1

[2018-01-26 00:36] Hongbo-Miao opened #1021 "Image resizing stop working since draft.js 0.10.5"
The two live demos below are exactly same and use draft-js-plugins demo code.
The only difference is one using draft.js 0.10.4 and another one using draft.js 0.10.5

[Live demo using draft.js 0.10.4](https://stackblitz.com/edit/react-gxcpfp), can resize image,
[Live demo using draft.js 0.10.5](https://stackblitz.com/edit/react-qoswxb), failed to resize image

[2018-01-27 01:14] alubchuk opened #1023 "SideToolbarPlugin doesn't work inside ShadowDOM"
## Use-case/Problem
I'm rendering my application inside ShadowDOM, everything works fine except `draft-js-side-toolbar-plugin`. When I do focus in editor, this line...

![image](https://user-images.githubusercontent.com/2202797/35466834-4fab8c62-0310-11e8-8cca-f70272670fc7.png)

...throws the following error because of the ShadowDOM boundaries:

![image](https://user-images.githubusercontent.com/2

[2018-01-29 07:10] michaelspeed opened #1024 "[sideToolbarPlugin] : 'Cannot read property 'getBoundingClientRect' of undefined'"
i am constantly getting this error and the side toolbar is also not showing up -

    import React, { Component } from 'react'
    import Editor, { createEditorStateWithText } from 'draft-js-plugins-editor'
    import createSideToolbarPlugin from 'draft-js-side-toolbar-plugin'
    import 'draft-js-side-toolbar-plugin/lib/plugin.css'

    const sideToolbarPlugin = createSideToolbarPlugin()
    cons

[2018-01-29 08:18] iamawwsome commented on #1024
I had the same issues.

Try downgrading your draft-js to 0.10.1. That's how I got the draft-js-side-toolbar-plugin to work.

`npm install draft-js@0.10.1 --save`

[2018-01-29 09:22] michaelspeed commented on #1024
downgrading does not work, its still the same error

[2018-01-30 00:17] k-zakhariy commented on #963
How to implement this into DraftJS ?

[2018-01-30 14:42] falcoagustin opened #1025 "Placeholder does not work as such."
Greetings !

I found a bug with the placeholder, it kinda works as a text that is being removed, but I cant write on top of it. Maybe a video will demonstrate better what I mean,

Thanks in advance, keep up the good work ! 😄
![placholder-behavoir](https://user-images.githubusercontent.com/15353019/35572098-a49c976c-05b2-11e8-9188-31fd362b4872.gif)

[2018-01-30 14:49] Gabiras12 commented on #1024
Also getting this error here. Any clue?

[2018-01-30 20:33] gnestor opened #1026 "draft-js-mention-plugins: mentionSuggestions is handling up/down arrow keys even when it's inactive"
## Use-case/Problem

![](https://user-images.githubusercontent.com/1851359/29960622-b4e730e6-8efc-11e7-893e-c5857010d9c6.gif)

This was initially reported in https://github.com/draft-js-plugins/draft-js-plugins/issues/856. I'm running the current master of this repo and still running into this issue. I have looked at the source and I will submit a PR that I think should fix this. I can't reproduce

[2018-01-31 11:58] joshfarrant commented on #991
I've run into the same problem and I just thought I'd update here with what I've discovered so far.

It appears that the character at fault is the following, which will probably just show as a white square.

 ⃣

From Emojipedia, the character above is the _Combining Enclosing Keycap_ ([Source](https://emojipedia.org/combining-enclosing-keycap/)).

You can also replicate the issue @icd2k3 described

[2018-01-31 13:24] joshfarrant commented on #991
I've narrowed this down a bit more and opened [an issue](https://github.com/facebook/draft-js/issues/1636) on the main draft-js repo.

Once that issue is resolved, the problematic emoji should start working as expected.

[2018-01-31 15:41] joshfarrant commented on #860
@juliankrispel @dimaslz Any updates/timeframes?

[2018-01-31 15:59] gavrichards commented on #860
I gave up and ended up taking the time to modify the existing emoji plugin to meet my needs, including Emoji Mart and using Twemoji to avoid licencing issues.

As a courtesy to the few folk here who are struggling like me, I'm providing my code - I hope it helps you out. Please don't ask me to do a PR and contribute this back to the project - I've got no incentive at all after the complete lack of

[2018-02-01 08:08] yuxiaoya111 commented on #1016
what should i do to text align in draft.js Plugin

[2018-02-01 09:53] JohnMaguir commented on #1021
Having this issue too.
I've set draft-js to use version 0.10.4 until it's fixed.

[2018-02-01 19:04] elalienx commented on #963
Hi @FezVrasta , nice code implementation. I just found a little bug. When you select a big paragraph like the third one in your example. The tooltip jumps way to much to the bottom on scroll.
<img width="1280" alt="screen shot 2018-02-01 at 14 00 23" src="https://user-images.githubusercontent.com/6117977/35697590-9d1d9336-0758-11e8-9e4a-542e68ae19b5.png">

[2018-02-02 17:13] jamesbillinger commented on #1024
Looks like this is where the error is occurring.
https://github.com/draft-js-plugins/draft-js-plugins/blob/656079cf2bbda71930022013f6c3e521b12667d8/draft-js-side-toolbar-plugin/src/components/Toolbar/index.js#L40

DraftEditor.refs.editor no longer exists.  If I change the line in question to this it works.

I haven't submitted a PR because I'm not totally sure if this is a permanent change to draf

[2018-02-05 20:01] HenrikBechmann opened #1032 "blockStyleFn warning triggered by Image with Draft-js 0.10.5"
Adding this to the Image/index.js transpiled code suppresses the warning
[code]
iow `blockStyleFn` needs to be added to the list of suppressed props at Image/index.cs at L13 of https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-image-plugin/src/Image/index.js

Thanks to `@JohnM` in the draft-js-plugins slack channel for the solution

[2018-02-07 10:38] IzaGz commented on #618
@export-mike  how to install it with npm?

[2018-02-07 10:43] IzaGz commented on #921
@export-mike where can i find the github repo of this?

[2018-02-07 17:29] abhishek541 opened #1034 "Can't find property 'size' of undefined error"
While using editor, I get this error. I checked the code and it asks for 'decorators' from editorState.getDecorator(). And in the actual editorState, it is saved as '_decorators'. That is why it says undefined. Any way to solve this ?

[code]

![image](https://user-images.githubusercontent.com/22127106/35931356-6c0480a8-0c02-11e8-8385-4fc9d831ff1a.png)

[2018-02-08 05:34] gnestor commented on #446
My temporary solution is to call `componentWillMount()` on my `<Editor>` instance because `componentWillMount` is where all of the decorators are resolved and merged into the editor state.

I'm calling the following in my container component's `componentWillReceiveProps` so that I can update the editor state in response to next props:

[code]

Assuming the following:

[code]

https://github.com/dr

[2018-02-09 13:38] tiggem1993 commented on #1025
Same issue, solution required.

[2018-02-09 13:57] tiggem1993 opened #1035 "Feature Request : Can we have callback event of EmojiSelect and StickerSelect?"
I am developing a mobile site where draftjs plugin used with emoji and sticker features. But in mobile view i have to manipulate the layout as per open and close of popover. So i need callback event to manage popover html position.

[2018-02-13 02:27] cupcoder commented on #618
@export-mike Hi, Mike, Do you have plan to open source your plugin? Is there a way to access your source code and make further improvements?

[2018-02-14 04:54] export-mike commented on #618
Hi see my forked version it’s on my GitHub

Sorry I can’t link this to you I’m currently in the Philippines with
rubbish internet

On Tue, 13 Feb 2018 at 10:27 am, Cupcoder! <notifications@github.com> wrote:

[2018-02-14 04:57] cupcoder commented on #618
Thanks @export-mike !

[2018-02-14 14:56] mengfoobar commented on #618
@export-mike just wondering if you have an example of how to use it? the implementation is exactly what I'm looking for but I'm having problems getting it to work. If you have some time, it'll be incredible :) Thanks!

[2018-02-14 17:05] gorjan-mishevski commented on #705
2018 still nothing. This is just Unbelievable.

[2018-02-15 09:26] xserber commented on #618
@export-mike +1 for example use it :)
I only output empty blocks, but there is no table

[2018-02-15 14:27] codeaid commented on #1016
Same here when using `AlignBlockCenterButton`, `AlignBlockLeftButton` and `AlignBlockRightButton` in the inline toolbar:

[code]

[2018-02-16 06:52] iknowisaid opened #1036 "Where can i find colorpicker or emplement it?"
I dont need colorpicker where each color discribed in editor. I need colorpicker where i can pick any and make text colorified by this. Is there any?
Also how can if emplement fonsize picker i think this both relative very!

[2018-02-16 21:30] vikeen commented on #1020
I can comment that this is an issue with recent versions of Firefox. Just download the latest and the bug is present.

[2018-02-18 21:33] rauleite commented on #1021
I also had to downgrade to 0.10.4

[2018-02-18 22:43] rauleite commented on #705
I have been installing via _@mikeljames_

`yarn add @mikeljames/draft-js-drag-n-drop-upload-plugin`

and...

`import createDragNDropUploadPlugin from '@mikeljames/draft-js-drag-n-drop-upload-plugin'`

[2018-02-18 22:46] rauleite commented on #705
I have been installing with [@mikeljames](https://www.npmjs.com/package/@mikeljames/draft-js-drag-n-drop-upload-plugin) prefix.

`yarn add @mikeljames/draft-js-drag-n-drop-upload-plugin`

and...

`import createDragNDropUploadPlugin from '@mikeljames/draft-js-drag-n-drop-upload-plugin'`

[2018-02-18 22:53] rauleite commented on #705
Can anyone make resize + video work?

It doesn't ever work on ["Advanced Video Example"](https://www.draft-js-plugins.com/plugin/video)

[2018-02-19 19:04] GabrielDuarteM commented on #1020
Can you check if this is related to #1021? Does this happens with `draft-js@0.10.4`?

[2018-02-19 19:18] Kathleen-Francis commented on #1020
I took this package out of my project so I can't easily check if changing the draft version changes anything. but I just looked at the examples in #1021 and the bugs happening in the 0.10.5 demo seem to be the same things that were happening for me.

[2018-02-20 06:08] rustemkk commented on #855
Hello guys, experiencing same problem, any chances that it will be fixed in master soon?

[2018-02-21 07:32] aravindballa commented on #565
Thats cool @Radivarig

[2018-02-21 08:43] itamarminmed commented on #1024
Hey guys. Any news on this?

[2018-02-21 14:58] izzappel commented on #446
Is there a reason why you're using `componentWillMount` instead of `componentDidMount`? I am having issues with nested editors. Only the most nested editor gets the decorators. Changing the `componentWillMount` to `componentDidMount` did solve this issue for me.

[2018-02-21 15:39] gnestor commented on #446
@izzappel Are you referring to this:

`componentWillMount` on `Editor` from draft-js-plugins-editor calls `resolveDecorators` and sets the editor state with the decorators: https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-plugins-editor/src/Editor/index.js#L58-L63

[2018-02-21 15:43] izzappel commented on #446
@gnestor yes exactly

My temporary solution looks very similar:
[code]

Unfortunately I have no other ideas to fix my problem.

[2018-02-21 17:15] keithhalterman commented on #1021
Same problem, also had to downgrade to 0.10.4.

[2018-02-21 17:21] gnestor commented on #446
Ya, I'm not sure what the solution is, but something like this could work(at https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-plugins-editor/src/Editor/index.js#L65-L77):

[code]

[2018-02-21 23:24] pklavins opened #1037 "[Mentions] Re-open autocomplete on backspace?"
Is it possible to do this with the Mentions plugin? Using the [default example](https://www.draft-js-plugins.com/plugin/mention), I can add a name e.g. '@Matthew Russell', but when I backspace (e.g. all the way back to '@M') the autocomplete doesn't re-open. For another example, see Slack's mentioning system; that's what I'm trying to replicate.

[2018-02-22 09:37] izzappel commented on #446
Unfortunately this would not work for my situation.
I do not change the state or the decorators at all. But because I have nested editors the inner editor triggers a state update to the outer one and removes the decorators. It's quite hard to explain, what happens.

In my case it would be enough to exchange the `componentWillMount` with `componentDidMount`.
State changes should not be triggered in

[2018-02-23 03:04] esteem8 commented on #581
Does anyone would have a full example of external required function?
It seem to work in production with @erykpiast solution I just don't exactly know how to handle external function required by the plugin.

Also a PR would be greatly appreciated.

[2018-02-26 05:22] nareshbhatia opened #1038 "[draft-js-anchor-plugin] target="_blank" gets lost in contentState"
When using draft-js-anchor-plugin, I am setting the `linkTarget` option to `_blank` to set `target="_blank"`:

[code]

This works well in the editor. When I inspect a link in the debugger, I can see the target:

[code]

However when I get the `contentState`, `target="_blank"` is not present in it. Here's how I iterate through the entities to see if the `target` attribute is present:

[code]

Here'

[2018-02-26 16:36] freedomlang opened #1039 "draft-js-resizeable-plugin's error cause by refs"
[should be `.editor`](https://github.com/draft-js-plugins/draft-js-plugins/blob/656079cf2bbda71930022013f6c3e521b12667d8/draft-js-resizeable-plugin/src/createDecorator.js#L91)

and i think [this one](https://github.com/draft-js-plugins/draft-js-plugins/blob/2d66829b275076d5fb11f605ab43ea1fb8d32441/draft-js-side-toolbar-plugin/src/components/Toolbar/index.js#L40) in draft-js-side-toolbar-plugin wil

[2018-02-27 01:36] freedomlang commented on #1025
Will you please offer a jsfiddle ?

[2018-02-27 01:39] freedomlang commented on #1039
Duplicate of #1024

[2018-02-27 01:47] freedomlang commented on #1024
I think this is a permanent change ,  because the ref attribute in draft-js-plugins-editor is no longer a string since [cf6653f196c0b23b191b03f968d30eace8e62d4b](https://github.com/draft-js-plugins/draft-js-plugins/commit/cf6653f196c0b23b191b03f968d30eace8e62d4b#diff-2180aea2d91b1762f617f66247191a4c)

[2018-02-27 01:58] freedomlang commented on #1020
Looks like refs error!

[2018-02-27 07:10] ram619prasad commented on #1024
@iamawwsome I had the same issue. Sidetoolbar did work by downgrading draftsjs to 0.10.1 👍

[2018-02-27 13:50] arturchyzy commented on #1038
I think this is caused by not passing these additional information to entity creation. Take a look [here](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-anchor-plugin/src/utils/EditorUtils.js)

`createLinkAtSelection(editorState, url) {
    const contentState = editorState.getCurrentContent()
      .createEntity('LINK', 'MUTABLE', { url });
    const entityKey = contentS

[2018-02-27 17:55] denova opened #1041 "[Bug] Emoji - Runtime error when fitting emoji before ':'"
Hey, guys!

Thank you for such helpful project!

Found runtime exception when was trying to insert the emoji before the colon (':').

![emoji](https://user-images.githubusercontent.com/1096682/36745312-2e477bae-1c00-11e8-8cd2-497a425e89ae.gif)

Brief look: `store.getPortalClientRect` tries to get `offsetKey` which is not present.

This error also breaks the runtime if no `try-catch` used.

Please

[2018-02-27 19:17] nareshbhatia commented on #1038
Thanks @arturchyzy, that sounds like the underlying problem.

[2018-02-28 01:54] sugarshin commented on #1041
+1

[2018-02-28 10:19] saeedafroozi commented on #586
@nikgraf :Excuse me sir where is your examples that you added

[2018-02-28 15:50] C1one-38 commented on #983
+1 it would be very useful

[2018-03-01 15:06] IbeGarritsen opened #1043 "Mentions not triggering"
Hi guys,

I've a problem with the Mention plugin. I got no errors and when I inspect with React DevTools I can see the Component renders good. When I type '@' nothing happens, even the console log is not working in the 'onSearchChange' function. Anybody suggestions?

This is my code:

[code]

[code]
And in the render function:
[code]

[2018-03-01 23:48] efjacobson opened #1044 "Focus plugin bug: ArrowUp/ArrowDown from multi-line unstyled block goes directly to atomic block"
Basically what the title says, but in more words: when using the focus plugin, if the cursor is in a multi-line unstyled block (say, on the first line) before an atomic block and you press down, the focus jumps to the atomic block. Same situation for if the unstyled block is below the atomic block and you press up.

recording: http://recordit.co/7Z8DR9Pye6

As you can see, this is on the focus plu

[2018-03-02 01:00] freedomlang commented on #1043
Will you please offer an online demo ?

[2018-03-02 01:08] freedomlang commented on #1044
I've tried focus plugin's [demo page](https://www.draft-js-plugins.com/plugin/focus) and It looks like all lines before colored rectangle will go to directly to the colored rectangle ! Is that a feature ?

![2018-03-02 09 05 48](https://user-images.githubusercontent.com/11409069/36878303-40ffac80-1df9-11e8-9538-57163eb789e2.gif)

[2018-03-02 01:32] efjacobson commented on #1044
@freedomlang yeah, this is exactly why I created this issue. I personally would consider it a bug (not a feature), but maybe we'll get some clarification if a maintainer responds. As I said, I'll be working on a fix and will post my findings as I come across them.

[2018-03-02 01:59] efjacobson commented on #586
@saeedafroozi the final examples on the toolbar plugin pages show custom styling. Inline toolbar: https://www.draft-js-plugins.com/plugin/inline-toolbar

[2018-03-02 17:02] C1one-38 opened #1045 "[draft-js-mention-plugin] Extract mentions from editor"
Hi guys! You put an amazing job!

But I need a bit of your help:
In my case I have an editor where user can type in any text with mentions. Then I need to store user input in a db, and display that message outside of the draft-js editor.

So I need a way to extract mentions and their positions from the editor. What is the best way to do it?
Are there any API for that?

[2018-03-04 09:06] dem commented on #1037
Hi @pklavins
As i see in your example you have used different styled text while typing name. Mention plugin did not detect mentions in this case, due to bug in detection code.
We have similar problem and fixed it in our fork.

There is opened pull request to handle this problem for draft mention plugin:
https://github.com/draft-js-plugins/draft-js-plugins/pull/1003

[2018-03-04 09:20] dem commented on #1045
Hi @C1one-38

I think there is no special API for this. I use for this purposes to convert state into HTML (and vise versa)
https://github.com/HubSpot/draft-convert
Example in coffeecript
[code]
end convert back to editor state:
[code]

[2018-03-06 23:00] #653 closed

[2018-03-07 09:00] sa-adebayo commented on #967
@slobodanl, Is there any hope that this PR [#951](https://github.com/draft-js-plugins/draft-js-plugins/pull/951) will be merged soon?

[2018-03-07 14:25] arturchyzy commented on #1039
Any chance this will be added soon ? It's preventing resizeable plugin to work at all !!!

[2018-03-07 20:37] efjacobson commented on #1044
@freedomlang and others:

I've come up with an mvp fix for this, see [this gist](https://gist.github.com/efjacobson/f2a34413d26ad5adb1fbfab6ac82630a)

This is an altered version of the focus plugin's `index.js`. As you'll see, there is a new function `getLines` that returns the lines in the current text block. Then, there is logic in `onDownArrow` and `onUpArrow` to determine if the plugin's behav

[2018-03-08 12:15] tommypater commented on #1039
And side toolbox plugin :)

[2018-03-08 13:56] saketsaurabh commented on #973
@mattmazzola were you able to solve this?

[2018-03-08 14:53] KrustyC opened #1047 "Editor is not defined"
## Use-case/Problem

I get this error `editor is not defined ` on this [codesandox](https://codesandbox.io/s/1ylxj2rw2j).

I wanted to use it to report another issue, but I just found this

[2018-03-08 16:16] freedomlang commented on #1047
@KrustyC i can not found the error you mention above in your codesandox, but i do found an error:
<img width="467" alt="2018-03-09 00 11 43" src="https://user-images.githubusercontent.com/11409069/37161757-85262a8a-232e-11e8-99a1-dbb9a8447410.png">

this error was caused by accessing the wrong editor, and should be fixed by [this pr](https://github.com/draft-js-plugins/draft-js-plugins/pull/1040)

[2018-03-08 17:28] mattmazzola commented on #973
Hah, yea I switched libraries and built my own. Ultimately came to conclusion that these plugins are made to achieve a specific task and I would end up doing more fighting to force it to behave a way it wasn't designed to.  You can see evidence of this in the naming / configuration objects etc...

[2018-03-10 15:52] mengfoobar commented on #618
@cupcoder  just wondering, were you able to get @export-mike 's implementation working?

[2018-03-10 19:57] cupcoder commented on #618
@mengfoobar Our project requires formatting of table content so we will need a nested editor which is different from what Mike did. But it looks like draft has some serious issues regarding support nested editor in general. We are looking at alternative technologies such as slate for now.

[2018-03-11 20:35] export-mike commented on #618
Yeah this plugin is a compromise due to nested editors being a real pain.

I too have since moved to slatejs

On Sun, 11 Mar 2018 at 6:57 am, Cupcoder! <notifications@github.com> wrote:

[2018-03-12 15:08] WilliamHolmes opened #1048 "[draft-js-mention-plugin] Mention text matching suggestion should render on SPACE"
## Use-case/Problem

Is it possible to have the `@Mention` text in the editor be converted to the Selection Mention markup when the text is the same the mention, and the user presses SPACE rather than ENTER?

### Currently
@JoeBlogs\<ENTER> would result in Mention Markup
![image](https://user-images.githubusercontent.com/5538260/37291788-503f276e-2607-11e8-96a1-2f529664e8b7.png)

@JoeBlogs\<SPACE>

[2018-03-12 20:22] coder-guy22296 commented on #1043
I am also having this issue, here is my sandbox, its mostly following the simple mention example:
[Code Sandbox](https://codesandbox.io/s/y3xz14zrk1)

[2018-03-13 16:12] irvingv8 commented on #764
did you solve this ?

[2018-03-13 20:17] ericls commented on #162
Doesn't work in `2.0`, it moves the cursor but not selecting entries

[2018-03-14 07:42] Hongbo-Miao commented on #718
It also happens to LinkButton.

[2018-03-14 07:47] Hongbo-Miao commented on #718
This also happens to LinkButton.

[2018-03-14 12:51] KrustyC commented on #1047
for some reason the error I mentioned doesn't appear every time

[2018-03-14 14:16] voliva commented on #902
@MykolaGolubyev Did you find something? I'm having the exact same issue....

Without taking a deep look, I suspect that has to do with the SelectionState when clicking on the image, because if you press BackSpace, the block gets removed and the content of that block gets appendended to the previous block, while if you press Delete instead, the image is deleted, but the block is kept.

[2018-03-14 20:25] Hongbo-Miao opened #1050 "Community-driven DraftJS Plugins"
Hi @nikgraf @bkniffler @juliankrispel!

**DraftJS Plugins** is an awesome package. Thank you soooo much for your work and bringing to us!

Today more and more people start to use it, create issues and pull requests, you might not have enough time to handle all of these. Maybe it is time to think to add more maintainers and let the community drive?

[The Storybook Story](https://medium.com/storyboo

[2018-03-15 11:12] tumetus commented on #1045
Ahoy!

@C1one-38 do you mean something like editor.getContent().getMentions() and it would return the mention data + positions for the mentions?

If so, I could prolly work on a PR if this kind of functionality is needed.

[2018-03-15 11:24] tumetus commented on #1017
Hi @abhilisten !

I am not quite sure if this is what you mean but you can get the content of the editor as raw JS structure and store that to your backend. Use draft-js convertToRaw-method for this.
[code]
You can read about it from the draft-js docs: https://draftjs.org/docs/api-reference-data-conversion.html#content
Here is a good blog post on how to save draft-js data to server: https://reactr

[2018-03-15 11:58] tumetus commented on #1001
Hi @sirajulm !

I don't have working code example of this but as far as I have understood the workings of the mention plugin, you can use mentionComponent and entryComponent props to achieve this.

createMentionPlugin() accepts the **mentionComponent** prop. _If provided the passed component is used to render a Mention. It receives the following props: entityKey, mention, className & decoratedText

[2018-03-15 14:52] sirajulm commented on #1001
@tumetus Thanks a lot for the response. It works with using the Entry component :)

[2018-03-15 19:34] C1one-38 commented on #1045
@dem Thanks for provided example! It is similar to what we use now

@tumetus Yeah, it is exactly what I need! And it would be great if it worked in opposit way too - restore mentions in the editor by that extracted data

[2018-03-15 22:01] abhishek541 commented on #1034
I looked at #995 but after implementing that, I am getting another error: 'config.decorator is not a function'
Did that fix the issue for you, how ? @GabrielDuarteM

[2018-03-16 02:11] francisrod01 commented on #1024
+1 the same issue.

[2018-03-16 11:44] #1043 closed

[2018-03-18 01:31] githubandrewd commented on #295
I wasn't able to fix this. I cannot show mentions unless my editorState is empty.

My Draft.js:

    "draft-js": "^0.10.5",
    "draft-js-mention-plugin": "^2.0.1",
    "draft-js-plugins-editor": "^2.0.4",

Here is a working sample:

  class TextEditorComponent extends React.Component<Props, State> {
        editor: EditorRef;

        _dispatchChange = debounce((editorState: EditorState) => {

[2018-03-18 06:57] githubandrewd commented on #295
All good, guys! I managed to solve this. I was just not using Draft.JS properly.

[2018-03-18 17:13] juliankrispel commented on #1050
All good points I'm a little overwhelmed tbh and will be making an effort to add more people for help.

Will be thinking about how to best approach this and get back to this. Thanks

[2018-03-18 17:18] juliankrispel commented on #1047
Can't reproduce I'm afraid :)

[2018-03-18 17:18] #1047 closed

[2018-03-19 09:50] tumetus commented on #1045
@C1one-38 ok cool! Unfortunately I don't have time to work on it right away, but once I do I'll be sure to give it a try if anyone else hasn't already started doing it :)

[2018-03-19 18:00] juliankrispel commented on #1048
We could make the key configurable - fancy opening a pr ? It’d be pretty simple

[2018-03-19 18:02] juliankrispel commented on #1045
Thanks for jumping in here @dem 🙌🙌🙌🙌 - great that it’s been resolved

[2018-03-19 18:02] #1045 closed

[2018-03-19 19:40] juliankrispel commented on #1037
@dem you’re doing quite a bit of maintenance in this repo - thank you so much! Would love to add you to the team if you’re interested - fancy getting in touch on slack or twitter or wherever for a chat? My email is julian [at] reactrocket.com

[2018-03-19 19:43] juliankrispel commented on #1037
I’m afraid the mentions plugin can’t support every nuanced use-case - we already have a ton of configuration for it and adding more seems overkill - I’m really sorry

[2018-03-19 19:43] #1037 closed

[2018-03-19 19:47] juliankrispel commented on #1017
Hey @tumetus - thanks for answering this! Would you be interesting in joining me maintaining this project? Hit me up on slack/twitter/email) would love to team up!

[2018-03-19 19:47] #1017 closed

[2018-03-19 20:05] juliankrispel commented on #999
You can absolutely just use css classnames instead - with the plugin config!

[2018-03-19 20:05] #999 closed

[2018-03-19 20:20] juliankrispel commented on #1036
Hey @iknowisaid. Thanks for this.

There’s no color picker plugin currently but you’re welcome to implement one. [Here’s the how to guide](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/HOW_TO_CREATE_A_PLUGIN.md)

[2018-03-19 20:20] #1036 closed

[2018-03-19 20:22] juliankrispel commented on #1014
That’d be acceptable - if you feel like implementing this please go ahead I‘d be happy to help!

[2018-03-19 20:22] #1014 closed

[2018-03-19 20:24] juliankrispel commented on #1023
This seems like a small compromise for a cool feature - if you feel like implementing tgis please go ahead I‘d be happy to help!

[2018-03-19 20:24] #1023 closed

[2018-03-19 21:02] juliankrispel commented on #1009
Hi @larsliden - please provide a codepen or a codesandbox example that reproduces this bug - until then I’ll close this issue - apologies for the late reply :/

[2018-03-19 21:02] #1009 closed

[2018-03-19 21:05] juliankrispel commented on #1008
Hey there - you can’t just paste a link and it transforms it for you - you need an interface for emtering the video url - please look at the last example on the [video plugin docs](https://www.draft-js-plugins.com/plugin/video)

[2018-03-19 21:05] #1008 closed

[2018-03-19 21:08] juliankrispel commented on #989
Sry there’s insufficient info in here.

I don’t know whether this is a bug report or a feature request :/

If you’d like to submit either - please open a new issue and fill out the template.

Thanks so much!

Cheers

[2018-03-19 21:08] #989 closed

[2018-03-20 15:08] juliankrispel commented on #1001
Thanks @tumetus for tackling this 🙌

[2018-03-20 15:08] #1001 closed

[2018-03-21 17:54] francisrod01 opened #1052 "getEditorState is not a function - when editors are unmounted/remounted"
## Use-case/Problem

I'm navigating in my pages that contain the editor as readonly and then I'll update the content again and I receive this bug in console.

![image](https://user-images.githubusercontent.com/4691768/37536032-322d123a-2928-11e8-8daa-bd4075301a1e.png)

And this is when I try to apply more styles using inline toolbar.

![image](https://user-images.githubusercontent.com/4691768/3753

[2018-03-21 19:59] francisrod01 commented on #1052
For now I'm pass to use https://github.com/brijeshb42/medium-draft/

[2018-03-22 01:19] freedomlang commented on #1052
@francisrod01 use `ref={(element) => { this.editor = element; }}` instead of `ref='editor'`; Hope this solves your problem

[2018-03-22 02:00] francisrod01 commented on #1052
It works sometimes but both of this errors above still appears.

[2018-03-22 10:51] Rabinzon opened #1053 "Can I add multiple mentions?"
## Can I add multiple mentions?
I need to add users from list by one click.
https://monosnap.com/file/ras3Kdh9ftJElDwCoyNjMYkcbrMYCi
In this screenshot I added different users in one mention, can I separate them?

[2018-03-22 22:26] bit-dragon commented on #1025
@falcoagustin I did a workaround that maybe helps you.

[code]

The idea is to listen the onClick event on element that wraps the `Editor` component in order to replace the placeholder (remove it) and trigger the focus event on the editor. That helps to have a better user experience.

[2018-03-23 15:29] GotSteez commented on #860
Is there any update on this? I am using the above zip from @gavrichards with a few modifications and it's worked well but I'd rather have this as an external library rather than as a part of the application. The above zip also lacks suggestions which would be good to keep when the original emoji plugin gets refactored.

[2018-03-24 22:07] asokani commented on #900
this issue is a duplicate of #800

[2018-03-24 23:22] jrock17 opened #1054 "How to install most recent versions (2.0.2)?"
I want to update my image and emoji plugins with some of the recent bug fixes that have been merged. But the latest NPM versions are 2.0.1 despite the versions being bumped to 2.0.2 here.

Can we get the latest pushed to NPM?

Thanks!

[2018-03-25 14:07] reemtariqq opened #1055 "Mention component display only 5 suggestions"
when click @ to display suggestions and choose among them , it only displays 5 and i would like to show all suggestions

[2018-03-27 01:09] freedomlang commented on #1054
npm install --save gitRepo

import Editor from 'draft-js-plugins/draft-js-plugins-editor'

I don't know if it can do the magic

[2018-03-27 06:14] maybeShuo commented on #644
#674 the same problem?

[2018-03-27 09:11] reemtariqq commented on #644
any fix for this issue ?

[2018-03-27 20:20] tumetus opened #1056 "npm run lint doesn't work on windows"
npm run lint seems not to be working on windows.
This occurs after cloning the repo and running
[code]
Following errors are thrown:
[code]

[2018-03-28 07:47] freedomlang commented on #644
can not reproduce this bug

![2018-03-28 15 45 08](https://user-images.githubusercontent.com/11409069/38015737-511bce0e-329f-11e8-9326-adc009080c77.gif)

[2018-03-28 09:04] reemtariqq commented on #644
@freedomlang it happens when the mention in two words not one word

[2018-03-28 09:38] freedomlang commented on #644
@reemtariqq still can not reproduce this bug

![2018-03-28 17 22 35](https://user-images.githubusercontent.com/11409069/38020540-193189a8-32ad-11e8-85e9-0949ee4a8d13.gif)

![2018-03-28 17 23 23](https://user-images.githubusercontent.com/11409069/38020632-57d32fd6-32ad-11e8-9a0b-4a32e3436c9e.gif)

[2018-03-28 09:41] reemtariqq commented on #644
@freedomlang change any mention value to be two words
like mathew : mathew mathew for an example

[2018-03-28 09:42] reemtariqq commented on #644
@freedomlang i want to delete the whole block when backspace clicked to delete the whole mention even if it's two words

[2018-03-28 10:13] freedomlang commented on #644
that's another bug, right ? I suggest you open a issue.

By the way, the bug you describe is on my todos, will figure it out and try to solve it

[2018-03-28 10:15] freedomlang commented on #644
@maybeShuo seems like not the same bug

[2018-03-28 10:20] freedomlang commented on #1053
can not open the screenshot you mentioned above

[2018-03-28 10:31] freedomlang commented on #1035
Will onChange help ?

[2018-03-28 10:34] freedomlang commented on #1034
Would you please offer an online demo ? So than we can reproduce the bug you mentioned above quickly

[2018-03-28 10:42] freedomlang commented on #1016
Would you please offer an online demo ?

[2018-03-28 11:00] maybeShuo commented on #644
@freedomlang if i change the custom mentionComponent like this:
[code]
replace  the "mentionProps.children" in the customMention demo with ''mentionProps.mention.get('name')"

![mention](https://user-images.githubusercontent.com/18511169/38025062-96e35028-32b9-11e8-9fec-9b0ef11e7900.gif)
when i try to delete, the cursor go to the line's begin

[2018-03-29 11:08] juliankrispel commented on #1021
hey folks - Just tested this on plugins-editor 2.0.4 and it works fine - please upgrade

[2018-03-29 11:08] #1021 closed

[2018-03-29 11:08] juliankrispel commented on #1020
@freedomlang sry not related

[2018-03-29 15:08] BrandonBoone commented on #1053
Yes, you can add multiple mentions, but you'll need separate triggers keys for the different lists .

Something like this (untested):

[code]

[2018-03-29 19:55] falcoagustin commented on #1025
Thanks @bit-dragon ! But Indecided not to use the library due to lck of maintainability.

[2018-03-29 23:16] juliankrispel commented on #1039
this is now finally finally fixed - please try version `2.0.2` for both the side toolbar plugin as well as the resizable plugin

Cheers folks

[2018-03-29 23:16] #1039 closed

[2018-03-29 23:17] juliankrispel commented on #1021
@Hongbo-Miao fixed - please try the latest version of the plugin (`2.0.2`)

[2018-03-29 23:18] juliankrispel commented on #1023
@alubchuk please try version `2.0.2` of the sidetoolbar plugin - it should work now

[2018-03-29 23:19] juliankrispel commented on #1024
try version the latest version of the plugins please - it's now fixed

[2018-03-29 23:19] #1024 closed

[2018-03-29 23:26] #1056 closed

[2018-03-29 23:29] Hongbo-Miao commented on #1021
Works perfect, thanks for fixing!

[2018-03-30 05:24] alubchuk commented on #1023
@juliankrispel coolio, thanks! Will try!

[2018-03-31 22:05] KyleGobel opened #1058 "Website is down"
I get the 404 github page when visiting draft-js-plugins.com

You're probably aware (not sure how long it's been out), but I couldn't find any info about it

[2018-04-02 11:46] rakeen commented on #995
@glenn-allen Hey I tried the `MultiDecorator` wrapper and looks like the original decorator isn't working for some reason.

https://codesandbox.io/s/kk7nko5ow3

[2018-04-02 15:48] GabrielDuarteM commented on #995
@rakeen you are probably just forgetting to add the decorators property that draftjs plugins require.

https://github.com/draft-js-plugins/draft-js-plugins/blob/master/FAQ.md#how-can-i-use-custom-decorators-with-the-plugin-editor

[2018-04-02 23:04] #903 closed

[2018-04-03 02:30] freedomlang commented on #1058
The websit is online now

[2018-04-03 05:54] rakeen commented on #995
@GabrielDuarteM  Yes it was indeed the case. thanks.

[2018-04-03 23:06] gangleton opened #1059 "[draft-js-mention-plugin] Click on mention to re-open suggestions"
## Use-case/Problem

After someone has added a mention, there's no way to reopen the suggestion list except by deleting it and then typing in the trigger character (at least as far as I can tell). Is there a way to trigger the suggestion list again by clicking on the mention?

[2018-04-04 00:27] tumetus commented on #1055
Hey @reemtariqq !

If you are using the [defaultSuggestionsFilter](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-mention-plugin/src/utils/defaultSuggestionsFilter.js) that comes with draft-js-mention-plugin, it limits the results to max 5. If you want to change the limit of how many suggestions to display or would like to remove the limit all together, you can write you

[2018-04-05 06:55] juliankrispel commented on #1058
yea sorry about that guys

[2018-04-05 06:55] #1058 closed

[2018-04-05 06:56] #1055 closed

[2018-04-05 06:58] juliankrispel commented on #1054
@jrock17 https://www.npmjs.com/package/draft-js-emoji-plugin it's on npm

to specify a version you can do `npm install draft-js-empji-plugin@2.0.2` best first to check if the module exists on npm though

[2018-04-05 06:58] #1054 closed

[2018-04-05 06:59] juliankrispel commented on #1052
@francisrod01 so the knack here is that you need to render the `Editor` component before any other components that plugins provide - the `Editor` component needs to actually render first to populate the state.

[2018-04-05 07:03] juliankrispel commented on #1052
yea we need to fix this - thanks for reporting it. If someone could make a story for this case that'd be sweet

[2018-04-05 07:04] juliankrispel commented on #1053
thanks @BrandonBoone for answering this

[2018-04-05 07:04] #1053 closed

[2018-04-05 07:42] semiromid opened #1061 "Demo code does not work or instructions insufficient."
Demo code does not work or instructions insufficient.

Why?

[2018-04-05 07:49] semiromid commented on #765
Not working

[2018-04-05 09:56] freedomlang commented on #1061
Which Demo ?

[2018-04-05 15:31] dimaslz commented on #860
Sorry!Sorry!Sorry!Sorry!Sorry!Sorry!  guys, I had some problems and I was lose and very focus in other projects and in my new Job.

I talked with @gavrichards  and he is free to do the PR. I can help on in, but I will try this weekend if I can to finish it.

Thanks very much in advance.!

[2018-04-05 22:29] ericls opened #1062 "Allow onAddMention to pre-process editorState"
The `onAddMention` is great but it doesn't allow you to pre-process editorState before adding mention to text.

[2018-04-06 08:54] davidtran opened #1063 "Toolbar doesn't show when we have more then 1 editor"
## Use-case/Problem

When I have more then one editor, toolbar only shows up in the last text editor.

This issue can be reproduce at here: [Demo](https://codesandbox.io/s/72l1r65y0x). Toolbar only shows in the third editor.

[2018-04-06 09:05] davidtran commented on #1063
Turn out I need to instantiate one plugin per editor.

[2018-04-06 09:05] #1063 closed

[2018-04-08 19:40] tsm91 commented on #1061
I had similar problems. @semiromid do you focus the Editor in your code (`this.editorRef.current.focus()`)? If so it breaks all the plugins.

As a workaround do:

[code]

[2018-04-09 13:55] ZeeStorm commented on #388
Any update on this issue? Just started seeing it in my own app, and it looks like this issue has been abandoned for over a year now :(

[2018-04-09 16:47] mishelashala commented on #1061
@semiromid I wasn't able to make run any image-related demo.

[2018-04-10 01:53] freedomlang commented on #1061
@mishelashala a codesandbox would be help for us to narrow down or solve this issue

[2018-04-10 01:58] freedomlang commented on #388
@ZeeStorm Ah, looks like #416 should fixed this issue, would you please offer a codesandbox ? It would help us to check this error

[2018-04-10 03:50] ZeeStorm commented on #388
@freedomlang if that's the case I'm probably going to ignore it. I haven't touched that code in months, and out of thousands of users, it just randomly happened to 1 yesterday and was alerted via sentry. I tried to reproduce using the steps above, but couldn't get it to break and stepping through the code didn't seem to alert any red flags that would cause it an issue. If it starts showing up more

[2018-04-10 06:13] juliankrispel commented on #1062
@ericls what do you mean @ericls ?

[2018-04-10 06:16] juliankrispel commented on #1061
we need more info to reproduce this - please stick to the issue template I'm afraid we'll have to close this for now.

@tsm91 not sure if your issue is related to this, have you created an issue for your problem yet?

[2018-04-10 06:16] #1061 closed

[2018-04-10 08:10] tsm91 commented on #1061
@juliankrispel my issue got resolved already, was just trying to help out here

btw if you check the [code example](https://github.com/draft-js-plugins/draft-js-plugins/issues/1061#issuecomment-379576615) it has a comment with the related issue: https://github.com/draft-js-plugins/draft-js-plugins/issues/357

[2018-04-10 14:30] ericls commented on #1062
@juliankrispel sorry about the confusion. What I meant was to add `editorState` as an second argument to `onAddMention` and expect it to return a new `EditorState` which will be used as the first argument when calling `addMention`

[2018-04-11 15:32] mishelashala opened #1066 "DnD with custom block components"
## DnD with custom block components

Is there any example on how to use the `DraggableDecorator`?

[2018-04-11 15:42] #1066 closed

[2018-04-13 18:30] dinubs opened #1067 "Draft JS DnD Upload Plugin doesn't call handleUpload"
## Use-case/Problem

I'm trying to setup an editor to handle drag and drop image uploading to S3, though it seems like the `handleUpload` function that is required to pass in is never actually called. Looks like it's even commented out https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-drag-n-drop-upload-plugin/src/handleDroppedFiles.js#L47

Is there a work around for this?

[2018-04-16 09:03] juliankrispel commented on #1050
So for anyone who is interested in participating maintaining draft js plugins here's a doodle to pin down a meeting this week - ideally we'd have them regularly - https://doodle.com/poll/u894g97sscxt3v4f

Looking forward to chatting to you folks on skype <3

[2018-04-17 13:18] juliankrispel commented on #1016
Since we don't have enough info to reproduce this bug we'll need to close it. If you disagree please leave a comment and we'll take it from there.

[2018-04-17 13:25] juliankrispel commented on #982
I'd say do one of the following:
1. Clear the undo stack (the editor state is an immutable object, just replace the undo stack (which I suppose is a Map, with an empty map) and you should get the expected behaviour)
2. convert content state to raw and convert it back

[2018-04-17 13:25] #982 closed

[2018-04-17 13:27] juliankrispel commented on #925
fixed

[2018-04-17 13:27] #925 closed

[2018-04-17 13:28] #1025 closed

[2018-04-17 13:30] juliankrispel commented on #1025
The placeholder is something that's dealt with inside draft-js and we don't really do anything special to it. In order to place the placeholder at the same position as the editor you need to use css to position it

[2018-04-17 18:03] bit-dragon commented on #983
You have to create the mentions manually, I'll upload an snippet later today.

[2018-04-17 21:19] nicubarbaros commented on #983
Ok so this [gist file](https://gist.github.com/nicubarbaros/8a35a16dd45065891803bbfa3e451d15) is how I am creating mention entities from text with tags in it.

So for example I am having the text  `Hello @Github` and the tag object will be  {id: 'randoom', name: 'Github'}

Now in order to create the mention tag you have to say to the plugin at which position the mention starts/ends in other words

[2018-04-18 10:08] avinesse commented on #1016
I also have this issue.
Here is what the code is :

[code]

react version is 16.0.0
react-dom is also 16.0.0

The error is the same as above, and appears when clicking on the 'center' icon present in the toolbar.

[code]

[2018-04-18 13:12] freedomlang commented on #913
it is unneeded, PR is welcome!

[2018-04-19 05:52] freedomlang commented on #939
The draft-js-image-plugin has been released months, the imagePlugin.addImage method should be available in the lastest version. If you still have this problem, please a comment or open a new issue, we will pick it from there.

[2018-04-19 05:52] #939 closed

[2018-04-19 10:06] freedomlang commented on #1032
fixed !

[2018-04-19 10:06] #1032 closed

[2018-04-19 10:10] freedomlang commented on #984
Duplicate of #282

[2018-04-19 10:26] freedomlang commented on #692
@fredriksundstrom Looks like the problem you mentioned above has been solved; if you still facing the same problem at the latest version, please leave a comment or open a new issue , we will pick it from there.

[2018-04-19 10:26] #692 closed

[2018-04-19 14:38] #913 closed

[2018-04-19 14:53] juliankrispel commented on #1067
Hey there - I'm afraid the upload plugin doesn't curently work, hence it's not on the draft js plugins website. The plugin needs to be pretty much rewritten from the ground up. I'm working on a new version as we speak. If you'd like to get involved in building this please get in touch on the draft js slack, cheers

[2018-04-19 14:53] #1067 closed

[2018-04-19 16:39] freedomlang commented on #1062
@ericls can't figure why you need to preprocess ? a user story may help !

[2018-04-19 20:07] dinubs commented on #1067
Thanks! It's mentioned in the `Alignment + Resize + Focus + Drag'n'Drop + Drag'n'Drop Upload Example` section for the Image plugin on the website which is originally why I thought it worked.

https://www.draft-js-plugins.com/plugin/image

[2018-04-20 05:36] freedomlang commented on #970
sry, looks like the link you mentioned above is not exist for now

[2018-04-20 05:36] #970 closed

[2018-04-20 05:39] freedomlang commented on #943
@AndreyMiloserdov Does the latest version have this problem?

[2018-04-20 05:45] freedomlang commented on #912
@janjon what do you mean?

[2018-04-20 05:48] freedomlang commented on #910
@ArthurStam can not reproduce on the latest version, please upgrade to latest version and have a try

[2018-04-20 06:48] simsim0709 commented on #1059
I'm not sure I understand what you said.
Do you mean you want to change added mentions by clicking it?

For example, when you want to change "gangleton" to "sim", you want to click "gangleton"
then mention list shows up, so that you can change name to "sim".

Is this what you are asking?

[2018-04-20 07:30] simsim0709 commented on #985
Hi, @robgietema

I think it's not related with draft-js-plugins itself, but draft-js.

But, you might check this plugin: https://github.com/icelab/draft-js-block-breakout-plugin
It has the feature you request.

Thank you.

[2018-04-20 07:30] #985 closed

[2018-04-20 07:41] simsim0709 commented on #980
Hi, @busov

Do you still have the problem? If so, can you provide reproduced demo, so that I can look into it.

Thanks.

[2018-04-22 02:25] meteorplus commented on #401
can you be more clear plz what you did there?

[2018-04-22 03:46] tbohlen commented on #401
Yes, sure.

When I rendered an editor in read-only mode, I was parsing a raw content state saved in a database using

[code]

What I _should_ have been doing is this:

[code]

My understanding (someone else might be able to shed more light) is that then the editor state constructor runs it needs the decorators to do the initial pass of the content and render appropriate parts of the content using

[2018-04-22 07:15] simsim0709 commented on #974
Hello, @divyenduz

Do you still want this feature? If so, could you make a pr? It would be very appreciated.

[2018-04-22 07:28] simsim0709 commented on #961
#665

[2018-04-22 07:33] simsim0709 commented on #961
Hello, @hasnainshafqatmlt

Did you solve the problem?
@Hongbo-Miao  suggests good solution, I think.

I will close this, you can reopen if needed.

[2018-04-22 07:33] #961 closed

[2018-04-22 07:34] #948 closed

[2018-04-22 07:35] #922 closed

[2018-04-22 07:43] simsim0709 commented on #934
Hello, @IronLu233

Do you still have the problem? It's working as expected.

You want to try newest version of the plugin.

If you still have a problem, please give me reproduction link so I can look into it.

I will close for this now. You can reopen if you want.

Thank you.

[2018-04-22 07:43] #934 closed

[2018-04-22 10:44] divyenduz commented on #974
@simsim0709 : Sure! I came up with a PR to start the discussion. Please let me know if any changes are needed. Thanks!

[2018-04-22 15:43] freedomlang commented on #475
@tarun-dugar I'll close this, cause can not reproduce it at the latest version. Please let us know if you still have this issue at the latest version, fell free to reopen it or create an new issue

[2018-04-22 15:43] #475 closed

[2018-04-22 15:52] freedomlang commented on #623
@hjyue1 Don't quite understand what you want to description, and if you still having this issue, please let us know.

[2018-04-23 03:29] simsim0709 commented on #911
Hello, @andpor

Did you update the latest version?

It seems like it's resolved. I will close this.

[2018-04-23 03:29] #911 closed

[2018-04-23 03:36] simsim0709 commented on #820
Hello, @fei115

Thank you for reporting the issue.

Is this issue still existing? Then, can you give me reproduction link?

[2018-04-23 03:44] simsim0709 commented on #701
Hello, @jackmatrix

Is this problem still existing? I can reproduce the issue.

I will just close for now. If it still exists, you can reopen it!

Thank you.

[2018-04-23 03:44] #701 closed

[2018-04-23 06:02] freedomlang commented on #1038
@nareshbhatia Would  you please offer a codesanbox ? It would be help for us to narrow down this issue

[2018-04-23 06:25] freedomlang commented on #950
Looks like it's similar to #952

[2018-04-23 06:44] freedomlang commented on #981
Looks like a bug, will check it in the next few days

btw, your codesandbox come up with some errors!

<img width="735" alt="2018-04-23 2 09 45" src="https://user-images.githubusercontent.com/11409069/39109560-00933e34-4700-11e8-8a54-1cc0e0068d14.png">

[2018-04-23 06:57] freedomlang commented on #643
@thibautsabot Would you please offer us a codesandbox ? It would Help us to locate issues

[2018-04-23 11:26] freedomlang commented on #640
@tenrocket can not reproduce the error you mentioned above at the online documentation, can you please update to the latest version and have a try

[2018-04-23 11:58] freedomlang commented on #362
@khankuan Is this issue still exist ?

[2018-04-23 12:04] freedomlang commented on #627
@hjyue1  Is this issue still exists? can you provide your os, browser, and version of draft-js-plugins. It would be help for us to check the problem you mentioned above

[2018-04-23 13:05] afercia opened #1072 "aria-expanded is always true: its value should be passed as boolean not as string"
At the company I work for we've implemented our first draft.js thingy with the mentions plugin, and it's awesome to see it in place in our apps.

However, as an accessibility specialist, I was wondering why the `aria-expanded` HTML attribute is always set to `true` regardless if the "dropdown" is open or closed.

Turns out `draft.js` has changed something since version `0.10.2` and now uses a patt

[2018-04-23 13:13] freedomlang commented on #997
@flyingpath overflow-y and max-height should did the trick, don't know why it didn't work! btw, a codesandbox would be nice !

[2018-04-23 13:48] Hongbo-Miao commented on #981
Thanks, weird. I didn't change that demo.
But <kbd>[this forked one](https://codesandbox.io/s/n4718w1w24)</kbd> from Mikhail Shabrikov still works. His demo already fixed the issue.
You can use [Mikhail's fix](https://stackoverflow.com/a/47485598/2000548) as a reference.

[2018-04-23 14:12] khankuan commented on #362
I have no idea. Feel free to close it.

[2018-04-23 15:17] afercia opened #1073 "Mentions plugin: the "focused" option should have an `aria-selected="true"` attribute"
The combobox ARIA widget is a bit complicated. There are now two different valid patterns, the "traditional" one from ARIA 1.0 and the new one from ARIA 1.1. The differences between the two patterns are very well described in the [ARIA Authoring Practices 1.1](https://www.w3.org/TR/wai-aria-practices-1.1/#combobox).

Regardless, in both patterns the "highlighted" option should get an `aria-selecte

[2018-04-24 01:43] simsim0709 commented on #1059
@gangleton. Let me first ask @juliankrispel , if it's doable feature!

If it does I would like to try out.

@juliankrispel Can you check this feature request?

[2018-04-24 01:44] simsim0709 commented on #1059
#1006 is also related regarding click interaction.

[2018-04-24 05:48] juliankrispel commented on #764
good question, I just saw this and in the next release of mentions the defaultTheme will be exposed, so you can do

[code]

[2018-04-24 05:52] juliankrispel commented on #1073
@afercia 😍 omg thanks for testing that and explaining it so well. Seems like an easy change. Fancy opening a pr yourself?

[2018-04-24 05:53] juliankrispel commented on #1072
awesome! I'll get on it if you don't first.

Also if you feel like opening a pr yourself but don't know where to start, feel free to get in touch on the draft-js slack channel

[2018-04-24 05:54] juliankrispel commented on #1062
@ericls we'd like to help but - why would you want this?

[2018-04-24 05:56] juliankrispel commented on #1038
sounds like @arturchyzy has resolved this with you @nareshbhatia. I'm going to close this issue for now. If there are any further questions please let us know and we'll reopen

[2018-04-24 05:56] #1038 closed

[2018-04-24 05:57] juliankrispel commented on #1034
We're about to push a fix for that btw, will let you guys know

[2018-04-24 05:57] juliankrispel commented on #1048
@dem any luck?

[2018-04-24 06:55] afercia commented on #1073
@juliankrispel on it :)

[2018-04-24 06:58] afercia commented on #1072
@juliankrispel I have a local branch ready but I'm a bit busy in the next few hours, please do feel free to go head if you have a chance.

[2018-04-24 07:01] juliankrispel commented on #1073
@afercia if u need any guidance u can reach me on the draft js slack channel.

Btw if you fancied joining trying out joining us as a maintainer

[2018-04-24 07:02] juliankrispel commented on #1073
... we‘d love to have u! Someone who deeply cares about aria functionality and tests it for work is sorely needed amongst us!

[2018-04-24 08:03] juliankrispel commented on #1072
@afercia I wouldn't be ready until later this week - have loads of other stuff on :D

[2018-04-24 08:14] afercia commented on #805
The issue 2) about aria-selected is being addressed in https://github.com/draft-js-plugins/draft-js-plugins/pull/1075

Will split the issue 1) about aria-activedescendant in a separate issue and close this one.

[2018-04-24 08:14] #805 closed

[2018-04-24 08:16] afercia opened #1076 "Mentions and Emojis: the listbox options should have an ID"
Splitting this out from #805

In the Mentions and Emojis plugins, the `aria-activedescendant` attribute on the element that has role `combobox` correctly gets a new value while highlighting the options.

However, this value must be the same value of the highlighted option `ID` attribute. As far as I see all the options miss an ID.

[2018-04-24 08:44] simsim0709 commented on #616
Hi, @lednhatkhanh

Is this issue still existing? Then, can you provide a reproduction link(codesandbox) so I can look into it?

Thank you

[2018-04-24 08:50] simsim0709 commented on #611
Maintainers are working on mention version 3.0 and its api will be different (#1074)

I will close this for now, if it's still relevant you can reopen it.

Thank you 👍

[2018-04-24 10:02] juliankrispel commented on #1019
interesting, fancy opening a pr for this @comatory ?

[2018-04-24 10:03] juliankrispel commented on #1010
you can use css modules without postfixing them `.module.css` :)

[2018-04-24 10:03] #1010 closed

[2018-04-24 11:35] #967 closed

[2018-04-24 12:12] juliankrispel commented on #582
fixed in #1071

[2018-04-24 12:12] #582 closed

[2018-04-24 13:16] ericls commented on #1062
Sorry about the delay.

But the use case for me is when @ mention someone, I need to also toggle to `data` field. And I think the cleanest way of doing it is by adding a hook in `onAddMention`

[2018-04-24 14:37] juliankrispel commented on #898
@MykolaGolubyev @Hongbo-Miao the size is held in the entity metadata, [see here](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-image-plugin/src/modifiers/addImage.js#L9)

you can't pass an `onChange` handler to the plugin creator, however the editors `onChange` callback should be fired when you resize an image

[2018-04-24 14:37] #898 closed

[2018-04-24 14:38] juliankrispel commented on #898
above I linked an example of how an image and it's entity gets added, here's how the resize plugin [modifies that entity](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-image-plugin/src/modifiers/addImage.js#L9)

[2018-04-24 15:13] juliankrispel commented on #611
this is actually a good point

[2018-04-24 15:14] juliankrispel commented on #611
I'll reopen this because I think it should go into the mentions plugin

[2018-04-24 16:17] juliankrispel opened #1079 "Emphasize including Draft.css so that plugins work appropriately"
## Draft.css needs to be included for everything to work appropriately - make this clearer in docs

[2018-04-24 16:36] juliankrispel commented on #995
this should be fixed now with the latest version of draft-js-plugin-editor

[2018-04-24 21:47] blueyestar commented on #815
I have same problem.
@2.0.1

Only last one editor shows the inline toolbar when text selected.

[2018-04-24 22:27] tcosentino commented on #997
@freedomlang I am actually looking to do the same thing. I was able to get it working for the most part via overflow and max-height. I wrapped `MentionSuggestions` in a `div.mention-suggestions` and then set the css like so:

[code]

I then made a new suggestions filter that doesn't limit to 5 so that all of my suggestions are presented. The only issue I still have is that as I change my selection

[2018-04-25 06:37] #1020 closed

[2018-04-25 07:47] comatory commented on #1019
Yeah sure, when I have the time I'll look into it.

[2018-04-25 09:06] #764 closed

[2018-04-25 09:08] juliankrispel commented on #1062
@ericls can you be more specific about what you need in data?

[2018-04-25 09:56] eric7578 opened #1081 "ERROR when Uglify"
From here: https://github.com/draft-js-plugins/find-with-regex/issues/3

I am using the drafjs-mention-plugin, but when I try to build in the production, I got this error.
The version of the mention-plugin is `2.1.0`

ERROR in vendor.c0939953.js from UglifyJs

I digging into the `node_modules/find-with-regex/build/index.js`
I found that maybe it's the first line of the following code that causing

[2018-04-25 10:58] eric7578 commented on #1081
To provide more information, I found that this error happened in npm version 3.x.x. In npm 6 it works fine.

[2018-04-25 13:04] #1073 closed

[2018-04-25 13:04] #1072 closed

[2018-04-25 15:51] jpvalenciag opened #1082 "Does Resizeable Plugin mutate the editorState?"
I have my Editor working with the Image Plugin. Now I want to implement the Resizeable Plugin but I'm running into an issue. My onChange function is as follows:

[code]
The saving is not being fired. So I inspected both states (before calling `this.setState({ description: editorState })`) to see why the condition wasn't being met:
[code]
And both give the same output. Notice that this is happening

[2018-04-25 18:06] juliankrispel commented on #1081
ooohhh what the

[2018-04-25 18:06] juliankrispel commented on #1081
thanks, on it!

[2018-04-25 18:44] jpvalenciag opened #1083 "Issue with Image Plugin and convertFromHTML"
Suppose I have some HTML like this:
[code]

I can do:
[code]

However, the image will not appear, and the camera icon (📷) will appear instead. I inspected the state like this:
[code]

And the only notable difference found I comparing it to the raw states of [these examples](https://www.draft-js-plugins.com/plugin/image), is that in my case it appears like this:
[code]
And in the examples it appear

[2018-04-25 19:35] juliankrispel commented on #1083
@jpvalenciag release coming up!

[2018-04-25 19:38] #1083 closed

[2018-04-25 19:41] juliankrispel commented on #1083
@jpvalenciag https://www.npmjs.com/package/draft-js-image-plugin

[2018-04-25 20:18] jpvalenciag commented on #1083
Awesome! Thanks a lot! :smiley:

[2018-04-25 20:28] Hongbo-Miao opened #1085 "mention demos stop working"
I saw the big version bump in mention plugin,
Right now all demos at https://www.draft-js-plugins.com/plugin/mention seem stop working

[2018-04-25 23:04] juliankrispel commented on #1085
thanks for that @Hongbo-Miao! It's back now!

[2018-04-25 23:04] #1085 closed

[2018-04-25 23:25] juliankrispel commented on #1082
![image](https://user-images.githubusercontent.com/1188186/39277882-fd2721c2-48e7-11e8-882b-e19268f84e50.png)

@jpvalenciag hey there, so yes the contentState actually changes. I think what happens is that changing entity data doesn't actually create a new immutable structure. This is a bug in draft-js and probably unlikely to be fixed soon 😢

however, if you look at the screenshot above you can s

[2018-04-25 23:25] #1082 closed

[2018-04-25 23:48] juliankrispel commented on #1044
Thanks first of all for opening the issue, your contribution is much appreciated!!! ♥️

I was about to write a rant about the DOM and how there's no reliable way to find out something like the computed line-height but apparently things are getting better 🙌

- Have a look at [the `getComputedStyle` api](https://developer.mozilla.org/en-US/docs/Web/API/Window/getComputedStyle)
- It seems to [have fa

[2018-04-25 23:50] juliankrispel commented on #984
@export-mike I have been thinking about lerna, would be nice to have a nicer workflow for managing the project, if you'd still like to discuss feel free to reach me on the draft js slack ♥️

[2018-04-25 23:50] #984 closed

[2018-04-25 23:55] juliankrispel commented on #980
@busov this is a css issue. You can just switch the style to use `inline` rather than `inline-block`. I'm going to close this issue for now since I believe it's answered. Cheers!

[2018-04-25 23:55] #980 closed

[2018-04-25 23:55] juliankrispel commented on #976
this was fixed in #1029

[2018-04-25 23:55] #976 closed

[2018-04-25 23:56] juliankrispel commented on #965
fixed in #1031

[2018-04-25 23:56] #965 closed

[2018-04-26 05:20] mgolcha opened #1086 "find-with-regex 1.1.3 version is not available"
@juliankrispel  last published version of find-with-regex is 1.1.2 but in draft-js-plugins package.json 1.1.3 is used. Please fix.

[2018-04-26 05:38] mgolcha commented on #1086
https://travis-ci.org/draft-js-plugins/draft-js-plugins/builds/371310649?utm_source=github_status&utm_medium=notification

build not completed due to this error. I am getting same error

<img width="998" alt="screen shot 2018-04-26 at 11 08 19 am" src="https://user-images.githubusercontent.com/21233845/39287612-2bc60480-4942-11e8-8e26-0d8fc6f4dcd8.png">

[2018-04-26 07:31] juliankrispel commented on #1086
sry about that lads - please try again - it's updated now @mgolcha @focus7eleven

[2018-04-26 07:31] #1086 closed

[2018-04-26 12:56] #1076 closed

[2018-04-26 13:32] jpvalenciag commented on #1082
I see... :confused:

Well, thanks a lot anyway!

[2018-04-26 15:03] grydstedt commented on #855
+1

[2018-04-27 09:57] lingjieee opened #1088 "how can I clean the editor"
I want to clean the editor, this is my code:
`clean = () => {
    const editorState = EditorState.push(this.state.editorState, ContentState.createFromText(''));
    this.setState({editorState: editorState});
  };`
but it doesn't work

[2018-04-27 19:37] jpvalenciag commented on #1088
You can try `this.setState({ editorState: EditorState.createEmpty() });`

This is a Draft question though, not a plugins question.

[2018-04-27 23:15] fahd opened #1089 "Docs mentions refers to CSS file as JS"
https://www.draft-js-plugins.com/plugin/mention

Under "Custom Themed", css is imported as `mentionsStyles from './mentionsStyles.css';`

however in the code block below it, the file is actually named `mentionsStyles.js`

[2018-04-28 02:34] yeezysallonyoursofa opened #1090 "How to recreate original mentions features in custom mentions?"
I enjoy the default features of mention (`createMentionPlugin()`) - mention dropdown shows next to cursor, backspacing splits a name, up/down arrow functionality) but when I try to use custom mentions (`createMentionPlugin({someOptions:...})`) I don't see how to include all these options, they all seem stripped out and I'm not sure how to re-implement.

How can I keep these features while only cha

[2018-04-28 03:59] #1090 closed

[2018-04-28 04:02] yeezysallonyoursofa opened #1091 "[draft-js-hashtag-plugin] How to highlight hashtags from mentions-plugin if no option selected from dropdown?"
I am trying to create a hashtag that allows a user to select from an option of hashtags upon typing `#someText`, but if they continue typing I'd still like for the hashtag to show up highlighted even if it wasn't selected from menu. How do I do this? I have tried repurposing the Mentions plugin for this, but whenever a hashtag isn't selected, it will not highlight and thus register as a unique has

[2018-04-28 16:32] freedomlang commented on #1089
@fahd Well spotted ! btw, PR is welcome!

[2018-04-29 12:40] simsim0709 commented on #1088
Thanks @jpvalenciag 👍

I will close this.

[2018-04-29 12:40] #1088 closed

[2018-04-29 22:38] yeezysallonyoursofa opened #1092 "[draft-js-mention-plugin] Unknown prop `mentionSuggestionsComponent`"
Under mentions, I am using a mentionSuggestionsComponent as listed in the docs - however, this doesn't seem to work as I get an error `Warning: Unknown prop mentionSuggestionsComponent on <div> tag. Remove this prop from the element. For details, see https://fb.me/react-unknown-prop`

Original documentation: [Draft-js-Plugins: Mentions](https://www.draft-js-plugins.com/plugin/mention)

<img width=

[2018-04-29 23:55] MarkoDoncic opened #1093 "[draft-js-mention-plugin] How to check mentionRegExp default and accurately specify custom regex?"
I am attempting to allow a single space when trying to search for a user

example: "@**Tiffany Haddish** _thispartisnotselected_" - as you can see the, "Tiffany Haddish" should be selected while the rest isn't.

However, I am not sure how to accurately use this prop, I believe I am entering valid regex to check after the mentionRegExp ([https://regexr.com/3one9](https://regexr.com/3one9), but I le

[2018-04-30 00:42] yeezysallonyoursofa commented on #1091
I have tried to use both hashtagPlugin and mentionPlugin together - anyone ever have a usecase like this? Ideally, I am trying to start the highlighting of the text immediately (as the hashtag plugin does) inside of the mention plug-in, but have failed to do this thus far

[2018-04-30 20:13] juliankrispel commented on #1093
@MarkoDoncic yea I'm working on an update for the docs currently, they're not that great right now.

There are two configurable parameters for matching mentions:

1 - `mentionTrigger` - the character that triggers the dropdown
2 - `mentionRegExp` - which the regex used for to match the string (this is a string right now which gets turned into a regexp - I know massively confusing :/)

Let me know

[2018-04-30 20:13] #1093 closed

[2018-04-30 20:51] NeoHub opened #1094 "[draft-js-resizeable-plugin] Resize not working when image has width: auto"
Hey guys,

I noticed that the plugin is always setting the `width` of the images as `40%` by default. So I tried to set the `horizontal` or `vertical` parameters as `auto`, so the image I insert gets a `width: auto` and the original size is maintained. But I can't do a resize after that. The cursor changes when hovering on the limits of the image, but the drag action with the mouse doesn't work.
I

[2018-04-30 21:37] jpvalenciag commented on #1082
Hey @juliankrispel sorry to bother again with this issue. I want to know if maybe there is a way to save to the database similar to the one I posted.

Because if I don't put the `if`, clicks or selections on the editor will also save to the database and I would like to avoid that. But if I leave it, resizing or aligning images will not save to the database.

Thanks in advance!

[2018-04-30 22:29] #1091 closed

[2018-04-30 22:30] yeezysallonyoursofa commented on #1091
I instead just used no highlight for the selected hashtag, that way and future hashtags that were added were consistent. still works, which is the most important part

[2018-04-30 22:43] yeezysallonyoursofa opened #1095 "[draft-js-mention-plugin] How to render saved mentions with styles?"
After saving editorState from a mentions-enabled editor with inline CSS, and then loading it, the styles are gone. How do I render the editor state with CSS? I have seen this mentioned multiple places and
am following the same advice for saving and loading serialized editorstate, but still not sure how to load.

1. [[Hashtags] Everything is unstyled when I convertToRaw?](https://github.com/draft-j

[2018-04-30 22:55] #1095 closed

[2018-04-30 22:56] yeezysallonyoursofa commented on #1095
I found the correct solution to doing this, see this issue:

[How to render these plugins from raw content state in "readOnly" mode](https://github.com/draft-js-plugins/draft-js-plugins/issues/530)

[2018-05-01 00:31] yeezysallonyoursofa commented on #1095
I also needed to include the following code snippet that was removed in this FAQ

[Why are mentions broken after using `convertFromRaw` and throwing an error](https://github.com/draft-js-plugins/draft-js-plugins/commit/5f437ceab3d6fe8daa20429f7f779c71779dd2ef#diff-e6f81a9d8df4fb4d787121a242ea6bf1)

[2018-05-01 13:43] freedomlang commented on #1094
@NeoHub looks like we still have no configuration item for the original size, may be in the next version.

[2018-05-01 15:59] freedomlang commented on #868
@williamli Since we don't have enough info to reproduce this bug we'll need to close it. If you disagree please leave a comment and we'll take it from there.

[2018-05-01 15:59] #868 closed

[2018-05-01 16:41] goncy commented on #915
@nicubarbaros Can you specify how to do that?

[2018-05-01 17:28] goncy opened #1097 "[draft-js-mention-plugin] Missing example of initialize mention from plain text"
As stated at #915 I couldn't find a way to do this properly, and i find strange that something so basic can be so complex, so probably i'm missing something, is there an example of how to achieve this at codesandbox, jsfiddle or just a plain example?

[2018-05-02 12:40] tony-go opened #1098 "How can I display editorState outside the Editor component ?"
Hi Drafters :)

Im trying to use DraftJs to have a rich editor for my Chat Input (hashtag and Emoji).
My Main problem is : **How can I display my messages after submit my Input to the feed** ?

Should I re-used the Editor Component provide by draft JS ?
What is the best practice ?

Do you guys have some examples about chat rooms used DraftJS ?

Thank you for

[2018-05-02 13:34] freedomlang commented on #1098
@TonyGorez wrap the editor as a component [with some config、plugins], then use that wraped component. btw here is the [slack](https://draftjs.slack.com) for draft js

[2018-05-02 16:02] winghouchan commented on #995
I'm not sure this issue is fixed. I'm still experiencing it in 2.0.7.

[2018-05-02 16:49] pcsms commented on #995
Isn't fixed. I can't use custom decorators with draft-js-mention-plugin

[2018-05-02 17:14] freedomlang commented on #995
@winghouchan @pcsms @juliankrispel  [reproduced](https://stackblitz.com/edit/err-draft-js-plugins-txfxcl?file=TestEditor.js) with latest version of draft-js-plugin-editor, will recheck it in the next few days

[2018-05-02 19:36] NeoHub opened #1099 "[draft-js-alignment-plugin] Execute actions after alignment is set"
Hey guys,

Is there a way we can capture an "onAlignmentChange" event, so we can execute actions like saving data right after the alignment is set? I was trying to do it from the "onChange" of the draftjs editor, but it fires too many times. Also, if I compare the `editorState` before and after the "onChange" is fired, for some reason the `entityMap` is the same (it always shows the new alignment

[2018-05-02 19:57] taion opened #1100 "Selection state out of sync after #968"
From https://github.com/draft-js-plugins/draft-js-plugins/pull/968#issuecomment-386090252

cc @mxstbr @juliankrispel

#968 caused a weird regression for us. We're using the mentions plugin.

After I reset my editor with:

[code]

Everything looks fine, but typing is screwed up. If I type `hey @J`, I end up with `Jey @h`, the sequence of characters looking something like:
- `h`
- `eh`
- `eyh`
- `ey

[2018-05-03 08:33] TonyGorez commented on #1098
Thanks guys for your answers :)

@efjacobson I thinked to user two differents `<Editor />` on for editing and an other one with the readOnly props(`<Editor _readOnly_/>`).
Your idea is to pass all the messages in the same Editor component ?

[2018-05-03 12:50] juliankrispel commented on #1099
@NeoHub no there isn't I'm afraid.

Why do you need just the alignment change? Please explain the use-case to me and I'll see what I can do.

[2018-05-03 12:57] #1089 closed

[2018-05-03 16:59] #955 closed

[2018-05-03 17:27] juliankrispel commented on #995
@freedomlang properly fixed now https://codesandbox.io/s/q8qz5286z4

[2018-05-03 17:27] juliankrispel commented on #1034
this one is fixed now :+1:

[2018-05-03 17:30] efjacobson commented on #1098
@TonyGorez if i were going to do that, i would probably have a handleReturn (https://draftjs.org/docs/api-reference-editor.html) on the editing editor that took what had been entered and appended that to the contents of the readonly editor, then reset the editing editor to empty.

[2018-05-04 11:09] tumetus commented on #1098
Hello @TonyGorez !

I have worked on a slack-like chat room project using draft-js. My approach was pretty much what @efjacobson suggested.

My solution was something like this: I had two components `<Editor />` and` <ViewOnlyEditor />.`

`<Editor />` component wraps draft-js editor with plugins like emoji- and mention-plugin initialized. This component is used for inputting the messages.

`<ViewO

[2018-05-04 11:58] tumetus commented on #915
Hello all!

I'm not sure if I understood the question correctly, but in the @marlonmleite 's constructor example above, I assume the editor is initialising the suggestion (=popup that appears when you type @) with **mentions** variable and the editor itself with plain text variable **value**. There is no information about existing mentions and their positions (?).

If you save the editor content w

[2018-05-04 12:52] tumetus commented on #1092
I think the mentionSuggestionsComponent should be passed to createMentionPlugin() and not for the MentionSuggestions-component. The documentation lists it under the **MentionSuggestions** heading when it should be under the **Configuration Parameters**. So I guess it is under the wrong heading at the docs. Try passing it when you are initialising your mention plugin.
[code]
Note that the component

[2018-05-04 13:17] juliankrispel commented on #1100
this will be fixed in #1078 btw

[2018-05-04 14:30] juliankrispel commented on #1050
Sososo:

- We've had 2 meetings so far with much success
- A ton of releases since
- The draft-js-plugins channel on slack is more active then ever
- We're roadmapping upcoming changes (docs, flowtypes, new versions of plugins etc...)

[Here are the minutes from the meeting](https://paper.dropbox.com/doc/draft-js-plugins-maintainers-minutes-zgkupXu49i5wM4soIshgs)

I'm closing this issue for now, b

[2018-05-04 14:30] #1050 closed

[2018-05-04 14:31] juliankrispel commented on #848
this has been fixed btw :+1:

[2018-05-04 14:31] #848 closed

[2018-05-04 14:31] #655 closed

[2018-05-04 14:32] juliankrispel commented on #1067
@dinubs better remove that then!

[2018-05-04 14:34] #834 closed

[2018-05-04 14:34] #836 closed

[2018-05-04 14:34] #827 closed

[2018-05-04 14:34] #833 closed

[2018-05-04 14:35] juliankrispel commented on #820
@simsim0709 pretty sure this still is a thing unfortunately

[2018-05-04 14:37] juliankrispel commented on #765
We need to make this stuff clearer in docs, I'm working on new docs and will consider this

[2018-05-04 15:47] juliankrispel commented on #1098
@TonyGorez tbh although the draft js editor has a readonly flag there's a bunch of problems with it. From what I know from other folks implementing chat systems such as @mxstbr rendering your draft js editorState in a different component is the better approach. I'd recommend using something like [draft-convert](https://github.com/HubSpot/draft-convert) for rendering readonly draft js content ...

[2018-05-04 15:56] mxstbr commented on #1098
We use `redraft` and it's served us very well on both ReactNative and the web! See https://github.com/lokiuz/redraft

[2018-05-04 16:25] ericls commented on #1062
Sorry about the delay. What I wanted to do was that when @ mention someone, we assign a task to that person.

[2018-05-04 16:35] ericls opened #1102 "[DOC] initialize() is called in constructor not componentDidMount"
It says in the [doc](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/HOW_TO_CREATE_A_PLUGIN.md#initialize ) that initialize allows users to initialize plugin once the editor is mounted. But looks like initialize is called before editor is mounted. This leads to problems such as `setReadOnly` being not usable when initializing a plugin.

There are work arounds to it, but it would b

[2018-05-04 20:44] nicubarbaros commented on #915
@goncy  check my answer #983

[2018-05-04 20:45] nicubarbaros commented on #1097
Check this. I had the same case. #983

[2018-05-06 08:10] freedomlang commented on #363
@khankuan Is it still happen on the latest version ?

[2018-05-06 08:16] freedomlang commented on #638
@bashkos @bradbirnbaum @bummzack @terencechow guys, is it still happen on the latest version ?

[2018-05-06 17:04] khankuan commented on #363
I have not used the lib since then. You can probably close the bug :P

[2018-05-06 23:54] terencechow commented on #638
Why don’t you just follow the steps in my original post to see if it’s still happening? My steps take like 5 minutes.

Sent from my iPhone

[2018-05-07 04:38] parris commented on #941
I have a solution I'm using in my codebase for this. I'd make a pull request, but I'm a bit busy at the moment.

Basically I make a new type of toolbar button that updates the data object. It's pretty general purpose and allows you to update anything in the data attribute. It will not work like a "toggle" though, for this use case that's not needed anyways.

[code]

I use it like so:

[code]

The

[2018-05-07 06:13] juliankrispel commented on #1102
Hmmmm, might actually be a good idea to change this so that we can use `setReadOnly`.

[2018-05-07 06:14] juliankrispel commented on #1102
I'm working on 3.0 of the editor so if this is a breaking change it'd be good to go in there...

[2018-05-07 08:59] parris commented on #941
Ok figured it out - the following works now:
[code]

If you have other plugins with 'onReturn' methods this may not work for you and you'll need some exceptions potentially.

[2018-05-07 15:03] fahd commented on #316
I read a couple of other issues about this and it looks like this feature was omitted because the maintainers have too much to deal with at the moment. I read about another pull request that was denied from 2 years ago, so I copied that person's code and created a fork [here](https://github.com/fahd/draft-js-plugins) if anyone wants to see a working example, just go into docs, npm start, and use *

[2018-05-07 20:16] juliankrispel commented on #316
I think we should absolutely support it. I have some opinions about the
implementation however. If anyone fancies working on a pr for this - please
get in touch I’ll gladly help getting it ready to merge 🙏
On Mon, May 7, 2018 at 4:03 PM fahd <notifications@github.com> wrote:

[2018-05-07 20:37] fahd commented on #316
I would include #402 as well - which includes @nishp1 and the code he wrote, which works for me

[2018-05-07 20:39] juliankrispel commented on #316
@fahd if you like we can start from there and I can start reviewing that to
give some guidance. How does that sound?

On Mon, May 7, 2018 at 9:37 PM, fahd <notifications@github.com> wrote:

[2018-05-07 20:45] juliankrispel commented on #1062
@ericls oh I see. So to me that sounds like you can do that with `onAddMention` as it is implemented right now.

If you disagree please provide an explanation of why that is not the case. Happy to consider API changes if they enable a usecase like this 👍

[2018-05-07 21:33] juliankrispel opened #1104 "Text Alignment Feature"
This has been requested several times, and also has been a source of confusion. Basically at the moment the alignment plugin works solely with atomic blocks. This isn't clear from the docs or examples and it absolutely makes sense to implement this feature. Therefore to fix this we need to enable text alignment and make it clear in the docs that the alignment plugin also works with atomic blocks a

[2018-05-07 21:38] juliankrispel commented on #941
I created a new issue to implement this feature, high time it was implemented please check here to follow progress #1104

[2018-05-07 21:38] #941 closed

[2018-05-07 21:38] juliankrispel commented on #1104
Previous discussion in #941

[2018-05-07 21:56] juliankrispel commented on #997
@tcosentino you could either open a pull request to fix this behaviour or implement your own `MentionSuggestions` component.

[2018-05-07 22:10] NeoHub commented on #1099
Sure @juliankrispel. I want to detect that my editorState has changed, so I can save my changes. Usually I do it this way:

[code]
So I know that there was an actual change, and not a mere click or a focus. In case an image is aligned, both `currentContentState` and `newContentState` are the same, so I don't have a way to save that. Does it make sense?

[2018-05-07 22:44] juliankrispel commented on #1099
Ok I had a brief look at this. Basically the alignment is stored inside entity data which is not exposed in ContentState (at least not in the currently distributed version 😢 ) - So that's really what you'd have to compare. It's a very unfortunate design flaw but all entity types are currently still stored in the `DraftEntity` singleton. This is changing in a future draft-js version - I'm just very

[2018-05-08 01:31] freedomlang commented on #363
@khankuan we'll close this issue for now, if you still facing this issue or something similar, please feel free to open a new issue, we will pick it from there

[2018-05-08 01:31] #363 closed

[2018-05-08 04:07] fahd commented on #316
sure! when i get a chance i can include that code on top of the latest version

[2018-05-08 05:23] simsim0709 opened #1106 "Migrate to Docusaurus"
We already had a discussion about documentation last week.

However, I would like to suggest we migrate to [Docusaurus](https://docusaurus.io/en/).
Many projects has already migrated to Docusarurs(jest, react,...) and [draft-js](https://github.com/facebook/draft-js/pull/1607) is working on as well, due to ease of use with react and markdown and many nice features.

@juliankrispel. Do you think is

[2018-05-08 05:26] freedomlang commented on #1106
sounds good

[2018-05-08 08:02] juliankrispel commented on #1106
That sounds like a great idea!

My only requirement is:

- [ ] that you can use codesandbox embeds
- [ ] that we can redirect all pages
- [ ] that we work on a branch on the repository itself rather than a fork
so that we can collaborate

As soon as you have the basic setup done please open a pr.

I’d say put the new docs into a separate folder from docs/ so that we can
have both sites in parallel

[2018-05-08 12:33] simsim0709 commented on #1106
I got it! I will try.

Could you elaborate a little bit on what you mean by "that we can redirect all pages"?

And with this "work on a branch on the repository itself rather than a fork",
you mean I should make a pr to new branch(not master) something like "docs-v2.0"?

[2018-05-08 12:40] juliankrispel commented on #1106
@simsim0709
- [ ] yes create a branch on the repo yep.
- [ ] I mean we should be able to redirect the old doc pages so that we don't get SEO penalties so `https://www.draft-js-plugins.com/plugin/mention` should redirect to the new mention docs

[2018-05-08 12:51] renatoselenica commented on #1106
Hey this looks like a great idea.
Happy to help however I can.
Since Docusaurus is shouldn't it be easy enough to embed codesandboxes?

[2018-05-08 13:25] juliankrispel commented on #1106
@renatoselenica should be!

The more the merrier!! Would love some help on this!!!!!!!  🚀

[2018-05-08 14:00] jpvalenciag opened #1107 "Manually call the click handler of Anchor plugin"
I'm implementing some key bindings in the editor to do things like bold with CTRL+B, etc.

I would like to know if I can manually trigger the click handler of the LinkButton in the Anchor plugin, so that when CTRL+K (for example) is pressed, I can call that handler and show this:

![anchor](https://user-images.githubusercontent.com/35038836/39761259-4359ba74-529d-11e8-9607-ed005b28a2e6.jpg)

Thank

[2018-05-08 15:15] flyingpath commented on #997
Yes, my issue is as @tcosentino say.
And I finally added callback function to control the scroll bar at down arrow events.

Thanks guys!

[2018-05-08 21:41] juliankrispel commented on #1107
This functionality doesn't exist right now but it'd be a great addition. Anyone fancy opening a pr?

[2018-05-09 03:16] simsim0709 commented on #1106
I will make an initial pr as soon as possible!

Thanks guys!

[2018-05-09 05:26] juliankrispel commented on #1106
👍
On Wed, May 9, 2018 at 4:16 AM Ilkwon Sim <notifications@github.com> wrote:

[2018-05-09 14:00] NeoHub commented on #1099
@juliankrispel Thank you, that helped a lot! I achieved to detect those kind of changes comparing the previous `entityMap` with the new one. I had to get them in a different way because `content.entityMap` works only in an `0.11.0-alpha` version of the draftjs library, so I did it converting the `contentState` to raw first and checking the `entityMap` object.

[2018-05-09 19:29] juliankrispel commented on #1099
@NeoHub you're welcome :+1:

[2018-05-09 19:29] #1099 closed

[2018-05-10 12:32] davidtran commented on #982
Could you give me more details answer ?

[2018-05-10 12:35] davidtran commented on #562
it doesn't work for me.

[2018-05-10 13:16] juliankrispel commented on #982
@davidtran sry rather busy right now but please join the draft js slack and ask there - there are plenty of people who are willing to help I'm sure

[2018-05-12 03:05] freedomlang commented on #952
found a [smimilar issue](https://github.com/facebook/draft-js/issues/1510) in draft-js

[2018-05-15 03:48] liangwenzhu commented on #806
I had met the same question.Thanks for your answer,and I had solved my question. Draft-js-plugins is amazing!! @icd2k3

[2018-05-15 10:42] ttba1211 opened #1110 "Browser Undo event not working on emoji/ link/ hashtag"
## Use-case/Problem

After typing a link or hashtag or inserting emoji, if you use the undo from the browser (Edit -> Undo or right-click -> Undo) it cannot work.

You can replicate the problem at DraftJS Plugins homepage from https://www.draft-js-plugins.com/, in `Try it yourself` section.

Using Ctrl + Z | Cmd + Z works fine.

## Expectation
Browser Undo event should work on emoji/link/hashtag.

[2018-05-15 11:06] karaushu opened #1111 "[draft-js-inline-toolbar-plugin] toolbar out of window viewport"
steps to reproduce:

1. Select text near the edge of the window
2. Toolbar get out of window and user can't click some buttons.

Also get an issue with closing toolbar.
steps to reproduce:
1. Select text in editor
2. Click anywhere excluding the editor
3. Click anywhere in editor space (Toolbar will "blink")

Video bellow contain both issue (first 10 seconds issue with viewport, next with blink ef

[2018-05-15 16:31] donovanhiland opened #1113 "Handle arbitrary mention data structure"
## Use-case/Problem

I'm working with the mentions plugin and I've run into a problem using some arbitrary user information as suggestions. If the mention data I pass in as suggestions doesn't have a `name` property then the mention `text` field isn't properly set and then doesn't work correctly with entityMutability or with the default `Mention` component which is expecting a text prop passed in.

[2018-05-22 10:42] juliankrispel opened #1115 "Design idea: All plugin components should be controlled"
## Use-case/Problem

Our Internal state (we have our own pub-sub mechanism :/) is in my opinion a design flaw. Immediate problems I can think of are:

- plugin components can only be placed "after" the editor
- it complicates the orchestration of plugins
- it adds a big maintenance burden to the draft-js-plugins team

## Suggestion

Leave state in user land

[2018-05-23 10:14] igorschoester commented on #284
We have a use-case for two triggers that use the same character: `%` and `%%`. This currently does not work with two plugins instances.

[2018-05-23 10:18] juliankrispel commented on #284
@igorschoester I imagine that creates issues. What exactly is your usecase? Feel free to reach out on the draft js slack

[2018-05-23 11:32] juliankrispel commented on #284
you could just use your own `mentionRegExp` to control how the strategy
matches your symbols. That might do it for you.

On Wed, May 23, 2018 at 12:25 PM, Igor <notifications@github.com> wrote:

[2018-05-24 18:16] albertomr86 opened #1116 "[side-toolbar] SideToolbar loses style with custom buttons"
## Problem

I want to specify a set of buttons in the side toolbar, but when I do, it loses the style and behavior.
Using default config works well.

What I'm trying to accomplish:

[code]

This SandBox illustrates the problem:
https://codesandbox.io/s/x39jrr0vjq

Thank you.

[2018-05-24 21:40] albertomr86 commented on #1116
Ok. Solved!

[code]

However, I still feel that there should be a better way to do this.

[2018-05-25 18:55] NAlexPear opened #1117 "keyBindingFn not composing across plugins"
## Problem:

I'm not sure if this is an error on my part or if this is a larger bug, but my expectation would be that multiple custom plugins could include a `keyBindingFn` and that each `keyBindingFn` would be composed with every other `keyBindingFn` across all plugins. Currently, only the first `keyBindingFn` in the `plugins` Array will ever take effect e.g.:

[code]
There's a world in which one

[2018-05-28 01:12] #1116 closed

[2018-05-28 01:15] albertomr86 opened #1118 "How to focus an inserted atomic block?"
Hello.

I'm building a plugin that creates an atomic block and renders a custom react component. The problem that I have is to focus the block recently inserted.

The scenario is as follows:
1. The user clicks on a button located in the Side Toolbar.
2. An atomic block is inserted.
3. Using blockRendererFn, the plugin display a custom React component.
4. The cursor is located at the end of the edi

[2018-05-29 11:30] reemtariqq opened #1119 "When mentions are more than 5 , key down and key up doesn't scroll the mention list"
The issue is keydown/keyup aren't working when mention list popup has scroll , i can scroll using mouse but keyup/keydown aren't making the scroll move to the right position

[2018-05-30 06:38] freedomlang commented on #1119
@reemtariqq do you mean the keydown do not scroll if the selection is out of the list popup? btw, a codesandbox would help us to reproduce your issue.

[2018-05-31 09:36] novitchis opened #1120 "Cannot change the available mentions and invalidate all searches"
## Cannot change the available mentions and invalidate all searches.
Sample - https://codesandbox.io/s/0yql8pq2wn

Steps to reproduce:
1. Write a mention search: '@'. Notice 6 results.
2. Click out to close the drop-down without selecting anything.
3. Click "Filter Mention" (now the suggestions list should contain 3 items)
   - **1 issue** the popup is open even though the editor is not focused.

[2018-06-05 08:21] freedomlang commented on #1120
Don't quite understand for what you mentioned above ! Do you mean the mention list shoul not popup if the editor has no focus ?

[2018-06-05 08:42] novitchis commented on #1120
I have updated the repro steps using the codesandbox sample and issues clarification.

[2018-06-05 20:00] leekevinyg commented on #856
@thomas88 were you able to find a workaround for this issue?

[2018-06-08 10:06] MattyBalaam opened #1122 "video-plugin exhibits same crash behaviour fixed in image plugin"
I seem to get the same `Unknown DraftEntity key: null.` issue that has been fixed in the image plugin.

https://github.com/draft-js-plugins/draft-js-plugins/issues/778

[2018-06-08 10:42] MattyBalaam commented on #952
OK, glad I’m not the only one seeing this. I think it might be related to this issue I have opened: https://github.com/draft-js-plugins/draft-js-plugins/issues/1122

[2018-06-10 14:57] jrock17 commented on #1122
I have seen this as well

[2018-06-11 02:53] freedomlang commented on #1122
@MattyBalaam When did the error occur ? I'm willing to solve this bug and a codesandbox would be help to reproduce it !

[2018-06-11 11:03] MattyBalaam commented on #1122
@freedomlang Thanks for replying. I have stripped down my code to remove any other plugins and have created a reproducible example here: https://codesandbox.io/s/yj34mrkqmz

To reproduce, add the video, then click to the left of the video in the editor and hit enter.

[2018-06-11 11:24] MattyBalaam commented on #1122
I have been able to throw an error looking at the add video example on: https://www.draft-js-plugins.com/plugin/video

It does not happen when the iframe is set to 100%, but changing the css in devtools to give space to click to the left throws an error in the console, which then stops any further input updating the editor

![screen shot 2018-06-11 at 12 09 34](https://user-images.githubuserconten

[2018-06-11 12:34] afercia opened #1124 "Mentions plugin: Microsoft Edge dom node `NotFoundError` and editor unresponsive after deleting content with a mention"
While developing a simple app using the Mentions plugin, together with my colleagues we faced a bug which seems to happen only with Microsoft Edge and we were able to reproduce it on the online demo too: https://www.draft-js-plugins.com/plugin/mention

To reproduce:
- use Microsoft Edge (tested on version Microsoft Edge 40.15063.674.0 - Microsoft EdgeHTML 15.15063) on Windows 10
- open the Edge de

[2018-06-11 14:29] juliankrispel commented on #1124
hmmm :/ - that's an error originating from the react.js repo O_o

[2018-06-11 14:29] juliankrispel commented on #1124
https://github.com/facebook/react/issues/9134

[2018-06-11 15:06] MattyBalaam commented on #1104
I’m in the process of building an editor for a new product and apart from this one feature, draft-js-plugins handles all the requirements. Has any progress been started on this yet? If not I may see if I can get up to speed with the plugin system and give this a go myself over the next couple of weeks.

[2018-06-11 15:26] juliankrispel commented on #1104
@MattyBalaam no progress as of yet, there's a doc here detailing how to write plugins https://github.com/draft-js-plugins/draft-js-plugins/blob/master/HOW_TO_CREATE_A_PLUGIN.md

[2018-06-11 15:36] MattyBalaam commented on #1104
OK, great. I’ll hope to make a start this week. Would you mind if I reach out on the Slack channel if I hit any snags?

[2018-06-11 15:42] juliankrispel commented on #1104
absolutely - please do

On Mon, Jun 11, 2018 at 4:36 PM, MattyBalaam <notifications@github.com>
wrote:

[2018-06-11 19:50] digitalstaub opened #1125 "Help wanted. positionSuggestions: position 'top-left'"
Hi,

I'd like to position the popup in the top left of the current cursor position instead of right bottom.

My intention was to substract the with/height of the popup from left/top positions but i don't know how to get these values in positionSuggestions

Can someone help with this? i saw, that others already asked for that that but i could not find a good solution.
Thanks in advance.

[2018-06-12 09:22] atimmer commented on #1124
Related: https://github.com/facebook/draft-js/issues/1320 and https://github.com/facebook/draft-js/issues/1301.

There is a fix there for these issues: https://github.com/facebook/draft-js/pull/1760. @afercia can you check if this fixes the issue for us in edge?

[2018-06-12 11:14] juliankrispel commented on #1124
Thx for the pr will look at this shortly :)
On Tue, Jun 12, 2018 at 10:22 AM Anton Timmermans <notifications@github.com>
wrote:

[2018-06-12 19:50] digitalstaub commented on #1125
Thats my solution for respecting window boundarys:
`
  if ((decoratorRect.top + popover.offsetHeight) > window.innerHeight) {
    top = top - popover.offsetHeight - decoratorRect.height
  }
  if ((decoratorRect.left + popover.offsetWidth) > window.innerWidth) {
    left = left - popover.offsetWidth - decoratorRect.width
  }
`

[2018-06-12 19:50] #1125 closed

[2018-06-13 13:12] digitalstaub commented on #665
#1125

[2018-06-13 14:08] albertomr86 commented on #46
Hi guys.
Sorry to interrupt in a closed issue.
Recently I created a similar plugin, for a project that I will be launching soon: https://github.com/jimmycodesocial/draft-js-giphy-plugin

[2018-06-13 14:11] albertomr86 commented on #390
Does this helps? https://github.com/jimmycodesocial/draft-js-iframely-plugin

[2018-06-14 04:55] arsalankhalid commented on #586
But how exactly are you rendering the sidebar and the inline bar? It looks like just inline is being rendered in the above example.

[2018-06-14 16:55] efjacobson commented on #586
@arsalankhalid yeah my example is the inline toolbar but you should be able to do the same with the sidebar. see https://www.draft-js-plugins.com/plugin/side-toolbar and https://github.com/draft-js-plugins/draft-js-plugins/pull/588/files#diff-689858c84b168596419ab718bafe32c8

[2018-06-15 21:40] ghost opened #1126 "Support for typescript"
## Use-case/Problem
d.ts not available with plugins. I am using TypeScript and could not import plugins

- If you think a feature should be added to draft-js-plugins please provide a description of the use-case.
Add declarations so that these can be used with TypeScript

- If you found a bug please reproduce it within a [codesandbox](codesandbox.io), this'll make it easier for us to help you. Here

[2018-06-18 08:36] simsim0709 commented on #1126
Sorry, but typescript is not supported...

[2018-06-18 08:40] sandtemp01 commented on #1126
Hi simsim0709,
thanks for reply. From not supported, do you mean that I will not be able to use the plugin by even tweaking? Or you are not planning to release some workaround to support ts?
If I can tweak and use then I would pay effort on my end, else would just leave this plugin. Please confirm

[2018-06-18 08:54] simsim0709 commented on #1126
Sorry @sandtemp01
"do you mean that I will not be able to use the plugin by even tweaking? "
-> Sorry, I don't have any typescript knowledge. I can't answer it.

you are not planning to release some workaround to support ts?
-> We are planning to add flowtype plugin by plugin, but I'm not sure for typescript.
I think it's better to ask @juliankrispel how he plans and thinks.

[2018-06-18 12:59] juliankrispel commented on #1126
We're working on flow support right now, from there - typescript support is not far off. I've labeled this issue and will keep it open for now. If someone would like to contribute that'd help a lot!

[2018-06-19 10:17] nazarposhta commented on #395
@DerekHung did you resolve that problem?

[2018-06-20 12:16] afercia commented on #1124
Worth noting after I've successfully (and painfully) updated Windows, my Edge version is now:
Microsoft Edge 42.17134.1.0
Microsoft EdgeHTML 17.17134

and I can't reproduce the error any longer. When I "type over" the selection, everything works fine, the console is clean.

[2018-06-22 01:46] udanpe opened #1127 "Emoji-plugin bundle size"
Please dont require emoji one when using nativeArt.
And dont require all from draft-js and immutable
[code]
<img width="770" alt="screen shot 2018-06-22 at 04 24 25" src="https://user-images.githubusercontent.com/7540232/41753553-cc636156-75d6-11e8-8974-390c83656f91.png">

[2018-06-22 01:56] udanpe commented on #1127
And screen with emoji one. It's horrible 1389 requests
<img width="617" alt="screen shot 2018-06-22 at 04 53 17" src="https://user-images.githubusercontent.com/7540232/41753837-743550dc-75d8-11e8-86d9-ee1713bef6a0.png">

[2018-06-22 04:03] udanpe commented on #1127
what about use only needed data?
https://github.com/missive/emoji-mart/tree/master/data

[2018-06-22 13:08] mattgreenfield opened #1128 "Unable to override separator styles in the inline toolbar plugin"
Using the inline toolbar plugin, I'm able to provide my own custom CSS files and override the toolbar and button styles. This is working correctly.

However, if I use the same method to override the separator styles, it does not work. I'm wondering if there is an oversight in the code?

Here's what I have
[code]

Thanks for your help,

[2018-06-23 15:00] udanpe opened #1129 "[EmojiSelect] Remove default button and add open prop"
[code]

[2018-06-23 15:45] creativelikeadog commented on #772
Anyone ?

[2018-06-24 02:25] udanpe opened #1131 "Problem with Emoji"
<img width="96" alt="screen shot 2018-06-24 at 05 22 20" src="https://user-images.githubusercontent.com/7540232/41815286-d20a13ea-776e-11e8-9073-402bcd701e02.png">
<img width="187" alt="screen shot 2018-06-24 at 05 30 41" src="https://user-images.githubusercontent.com/7540232/41815323-d218b660-776f-11e8-8848-2d4869f8ceea.png">
<img width="112" alt="screen shot 2018-06-24 at 05 34 29" src="https://

[2018-06-25 15:59] freedomlang commented on #1128
@mattgreenfield I've check the code and found that changing theme for separator is currently unavailable as you mentioned above. I'll take this issue in the next few days if i do have some time. BTW, You can also open a pr to take this issue.

[2018-06-26 03:33] udanpe commented on #1129
But better solution is add two components EmojiButton and EmojiSelect
https://github.com/draft-js-plugins/draft-js-plugins/pull/1133
[code]

[2018-06-26 17:05] safonoi commented on #997
@flyingpath Please tell me how did you add callback function to control the scroll bar at up and down arrow events? thanks a lot

[2018-06-27 06:39] freedomlang commented on #1129
@udanpe not sure i understand what you mean, is there a user story ?

[2018-06-27 10:29] mattgreenfield commented on #1128
Thanks @freedomlang, I'd be happy to open a PR if you could point me in the direction of what needs changing please?

[2018-06-27 12:31] flyingpath commented on #997
I write up and down separately..
Something like below.

      if (e.which == 38) {
             let MentionDiv = document.querySelector('.draftjsWithMention>div:nth-child(2)')
             if(MentionDiv){
                 const oriScrollTop = MentionDiv.scrollTop
                 if (oriScrollTop-35< 0){
                     MentionDiv.scrollTop = 0
                 }else{
                     Men

[2018-06-27 15:44] udanpe commented on #1129
@freedomlang mobile app (viber whatsapp) button in one place select in other place

[2018-06-29 06:59] sPaCeMoNk3yIam opened #1134 "Add a mention - not keeping inline styles"
Hi everyone,
I realized, that when I have an inline style and within it I add a mention, the mention doesn’t appear with the inline style anymore.
Is this considered a bug or, if not, how can I work around this behaviour?

[2018-06-30 06:52] freedomlang commented on #1131
@udanpe can not figure out the problem you described above ! Is that an issue about position ?

[2018-06-30 07:45] udanpe commented on #1131
@freedomlang Problem with : relaxed : emoji. 2 first screen (Editor and EmojiSuggestions)

[2018-07-03 15:39] dotansimha commented on #487
Same issue here. Backspace breaks the custom `mentionComponent`

[2018-07-04 12:38] ktjd123 opened #1136 "is There any way to use draft-js-mention-plugin link with react-router-dom ??"
Thank you

[2018-07-04 15:47] ktjd123 opened #1137 "Plugins editor is not working correctly in non-english language"
when you try to type "안녕하세요" (It's korean)
Its not detected until non-korean char is detected ( ex: space, or alphabet)
I'm not sure this problem is all over other languages but seems like utf-8 problem I guess
Check this please

Thank you I appreciate your work

[2018-07-05 01:45] simsim0709 commented on #1137
Hello, @ktjd123

It's not actually related to draft-js-plugins, but draft-js which draft-js-plugin depends on.

The current version of draft-js doesn't handle IME keyboard input, well.

You can find out related issues [here](https://github.com/facebook/draft-js/issues)

I will close this, if you think this issue is related into this plugin you can reopen it.

Thanks.

[2018-07-05 01:45] #1137 closed

[2018-07-05 08:55] gwillz commented on #1126
FWIW, this is what I've got so far in one of my projects.
https://gist.github.com/gwillz/1e23b573af3db71aad268d41a988d3d6

There's a lot of 'any' in there, but it's a start - and it works.

[2018-07-05 09:09] ktjd123 opened #1138 "Question: error when restoring from rawContent"
When I save contents to DB I do
![2018-07-05 6 05 20](https://user-images.githubusercontent.com/15044488/42313549-00e84f0c-807e-11e8-919a-cfb15be71277.png)

I tried to show this with draft-js-plugins-editor readOnly with hashtag, mentions plugin.

When writing works great.

but problem comes when restoring it

I restore using

![2018-07-05 6 02 58](https://user-images.githubusercontent.com/1504448

[2018-07-05 10:25] Drogbi opened #1139 "Undo & Redo not working when plug them with Editor in the same container"
When place undo redo buttons with Editor in the same container they become unclickable. Some screenshots below:

![screenshot_5](https://user-images.githubusercontent.com/19656571/42318021-7e620004-8056-11e8-85c4-59b50cd00cc7.png)

![screenshot_4](https://user-images.githubusercontent.com/19656571/42318028-809843b0-8056-11e8-9c63-e8471598db5e.png)

But when I paced them in the above container they

[2018-07-05 12:53] freedomlang commented on #1138
@ktjd123 Have you imported this style file of metionPlugin and hashtagPlugin ? BTW, a `codesandbox` would be help for us to narrow down this issue !

[2018-07-05 13:04] freedomlang commented on #1139
@Drogbi can not reproduce the clickable issue you mentioned above !

[2018-07-05 14:03] Drogbi commented on #1139
@freedomlang sure: https://codesandbox.io/s/1y551v1pr7
Also that problem reproduce in Static Toolbox plugin. In this case this button very important(

[2018-07-05 14:08] Drogbi commented on #1139
@freedomlang I can make pull request to solve this problem

[2018-07-05 16:43] ktjd123 commented on #1138
https://codesandbox.io/s/wwv9o0q0l5

it's the codesandbox!! (in sandbox there is new error in mentions suggestion you can't change text to mentions state)

Thank you!

@freedomlang

[2018-07-06 16:52] bemahesh opened #1143 "DraftJS Decorator"
## Decorator Callback

I am using DraftJS decorator(s) to detect a regular expression pattern and that would replace the text with a component that a user can interact with.  My use case is following:

If a user types in a pattern e.g. -numbers or -letters in the editor, decorator will detect this and present a component that will replace -numbers with  a custom component (change text to numbers w

[2018-07-11 02:50] freedomlang commented on #1131
@udanpe relaxed not matching the right emoji ？Is that what you mean ?

[2018-07-11 15:27] bebbi opened #1144 "onChange if readOnly"
Just ran into an issue with my custom config where the `onChange` handler saves to api and throws when `readOnly = true`.

That's a minor thing to fix on my end, but I think it might be clean to only run [these](https://github.com/draft-js-plugins/draft-js-plugins/blob/1da9943359a7e3dd9076daef2b4bea9de0e34eae/draft-js-plugins-editor/src/Editor/index.js#L76) `onChange` handlers when `readOnly = fal

[2018-07-11 20:48] simpleshadow commented on #638
Had the same issue. See facebook/draft-js#231. I'm now using HubSpot/draft-convert to resolve.

[2018-07-16 09:24] icarusysuper opened #1147 "handleHooks mistake？"
https://github.com/draft-js-plugins/draft-js-plugins/blob/6a06bda4b5c479875919147c03015905b23e418a/draft-js-plugins-editor/src/Editor/index.js#L196

Lack the handle hook existed judge condition.
Is it a mistake when multiple plugins have the same handle hook?

May be a mistake that will cause this line execute multiple times but will not cause a bug.
https://github.com/draft-js-plugins/draft-js-pl

[2018-07-16 11:44] firashamila33 opened #1148 "editor state cannot be converted to HTML when containing Image"
Hello ,
I am using the draft-js-image-plugin,
The editor is working fine with all the plugins ,, but when it comes to the image-plugin , the image is uploaded to the editor but an error occurs  when trying to convert the editorState to HTML .

Converting the editorState to HTML :
`convertToHTML(this.state.editorState.getCurrentContent())`

Console Error :
`TypeError: getBlockHTML(...) is undefined

[2018-07-16 11:50] freedomlang commented on #1148
@firashamila33 do you mean `draft-js-image-plugin` ?

[2018-07-16 11:56] shehab-elhariry opened #1149 "Names filtering for the mention plugin is not working on mobile devices."
I added the draft js mention plugin to a project and the onSearchChange hook is triggering each time I write a letter after the @ on web. On Mobile, it's only trigerring the first time when I write @ and after that any letter I write doesn't filter the list that populate the dropdown list.

[2018-07-16 12:10] freedomlang commented on #1149
@shehab-elhariry can not reproduce the problem you mentioned above (ios 11.4, safari, default input method). btw, a `codesandbox` would be help for us to take a closer look

[2018-07-16 12:16] firashamila33 commented on #1148
@freedomlang  , sorry ,, yeas I mean  draft-js-image-plugin

[2018-07-16 12:30] shehab-elhariry commented on #1149
Thanks for replying. I think the problem exists only with Android devices. I have tested it with Samsung J7 pro and Hwawei P9 lite both are Android version 7. @freedomlang

[2018-07-16 12:57] firashamila33 commented on #1148
Solved  !!!
I used [draft-js-export-html]([url](https://www.npmjs.com/package/draft-js-export-html))
converting to from stateContent html :
` stateToHTML(this.state.editorState.getCurrentContent());`
converting from Raw to HTML :
`stateToHTML(convertFromRaw(rowexporteFromStateHere));`

[2018-07-16 12:59] #1148 closed

[2018-07-16 13:08] freedomlang commented on #1149
@shehab-elhariry Ah, Maybe it's not actually related to draft-js-plugins, but draft-js which draft-js-plugin depends on. You can check the draft-js's [FAQ](https://github.com/facebook/draft-js/wiki/Manual-Testing#faq) and find some related issues [here](https://github.com/facebook/draft-js/issues?utf8=%E2%9C%93&q=is%3Aissue+mobile)

[2018-07-16 13:20] freedomlang commented on #943
@AndreyMiloserdov Since we don't have enough info to reproduce this bug we'll need to close it. If you disagree please leave a comment and we'll take it from there.

[2018-07-16 13:20] #943 closed

[2018-07-16 13:33] freedomlang commented on #643
@thibautsabot Since we don't have enough info to reproduce this bug at the latest version, we'll need to close it. If you disagree please leave a comment and we'll take it from there.

[2018-07-16 13:33] #643 closed

[2018-07-17 11:04] mattgreenfield commented on #1128
Thanks @freedomlang, I've worked around it by putting the styles inside the `toolbarStyles` stylesheet .

[2018-07-19 07:38] rprzebieglec opened #1150 "[draft-js-plugins-editor] Issues with flow"
Hi, I'm getting a lot of flow errors when running flow on simple mentions example.

It's actually 494 errors if I added actual flow support to example code. Most of them are contained in
`node_modules/draft-js-plugins-editor/lib/Editor/index.js.flow`

Am I doing something wrong? I'm using flow v0.66

First few errors:

Error ┈┈┈┈┈┈┈┈┈┈┈┈┈┈ node_modules/draft-js-plugins-editor/lib/Editor/index.js.f

[2018-07-19 07:52] rprzebieglec commented on #1150
And if I add those lines to `.flowconfig`, it returns only errors from `draft-js-plugins-editor/lib/Editor/index.js.flow`

`
<PROJECT_ROOT>.*/node_modules/draft-js/lib/BlockNode.js.flow
<PROJECT_ROOT>.*/node_modules/draft-js/lib/DraftEditorDragHandler.js.flow
<PROJECT_ROOT>.*/node_modules/draft-js/lib/DraftEditorLeaf.react.js.flow
<PROJECT_ROOT>.*/node_modules/draft-js/lib/DraftEditor.react.js.flo

[2018-07-23 13:12] firashamila33 opened #1151 "image alignement plugin not working"
Hello I implemented the image plugins in the Editor as illustrated in the documentation
[code]
but I get the image alignementTools in thee butom of the editor and separated from the image ,, and once I click on the image the alignment tool disappear and I get this error :

`createBlockAlignmentButton.js:45
Uncaught TypeError: _this.props.setAlignment is not a function
    at BlockAlignmentButton._

[2018-07-23 15:37] freedomlang commented on #1151
@firashamila33 Can't find out the difference between doc's example and your code, it's too weird, i'm willing to take a closer look if there is a `codesandbox` for that error you mentioned above!

[2018-07-23 22:11] Benmiller313 commented on #686
I'm also having issues with this. I want to be able to mount the editor during an Alt dispatch, and I also want my onChange function to fire an Alt action. Calling the onChange during the initial mount then fails when it tries to fire the alt action while its dispatching the original action.

[2018-07-23 22:47] firashamila33 commented on #1151
Hello @freedomlang
here and example on codesandbox  : [problem illustration here](https://codesandbox.io/s/oq8zxjp7zq),
Once I click an alignement button this error occurs ,,, same example in my project , but in my project I am uploading photos successfully ,,,  with that error when allignement buttons clicked
Error :  `_this.props.setAlignment is not a function`

[2018-07-24 15:34] freedomlang commented on #1151
@firashamila33 sry for my late reply, just Importing the default styles for alignment plugin and it will [work](https://codesandbox.io/s/j24vl50pz3). btw, documentation maybe a little oversight, will find a way to improve it

[code]

[2018-07-24 16:22] firashamila33 commented on #1151
Thank you @freedomlang  it worked well ,,
yeah the documentation is good but sometimes missing somethings ,,

[2018-07-24 16:22] #1151 closed

[2018-07-25 10:45] firashamila33 opened #1154 "Video resizing is not working"
Hello ,
I implemented draft-js-video-plugin successfully , alignment and and focus is working but Resizing is not working , I followed the Documentation ,and I figured out that also the videos in the second demo cannot be resized in [Advanced Video Example](https://www.draft-js-plugins.com/plugin/video) ,
Here a [codesandbox](https://codesandbox.io/s/04ww30225n) implementation that illustrates the

[2018-07-26 04:40] eshwarenm commented on #1116
@albertomr86 Thanks!

Adding
`import 'draft-js/dist/Draft.css';`
did the trick.

[2018-07-27 08:02] romulo94 opened #1156 "how can I create the entities using regex in run-time?"
Hello, how can I create the entities using regex in run-time?

I can explain: I wanna create entities when the user to type for example: ** test ** and the word 'test' change for entity, so is it possible make it using regex? It's not needed to be "** this **" , ca be "// //". I don't know how to force a selection.
I don't know if I was very clear, but someone can help me?

[2018-07-31 14:30] freedomlang commented on #1154
@firashamila33 Sorry for my late reply, I will take a closer look in the next few days.

[2018-07-31 15:01] freedomlang commented on #1139
@Drogbi i just take a closer look and that problem was cause by `Event Bubbling`(trigger undo and focus). If you still have time, please feel free to open a pr to fix this. BTW, i do it my self if there is no any progress in this weekend

[2018-07-31 18:03] firashamila33 commented on #1154
no prob , I am still stuck in this issue ,,,, Thank you @freedomlang  ,, hope it gets solved

[2018-08-01 00:20] thewillk opened #1157 "Store an ID for a user, not their name"
I'm thinking of making a pull-request to add this functionality but would like to get some feedback on if the maintainers think it's a good idea before I spend the time coding it and opening a PR... For all I know there's a piece of functionality I haven't learned about yet that might solve this better.

## Use-case/Problem

- WRT draft-js-mention-plugin, I'd like to be able to display something d

[2018-08-06 12:40] freedomlang commented on #940
it's now fixed

[2018-08-06 12:40] #940 closed

[2018-08-07 00:08] glenn-allen opened #1161 "draft-js-mention-plugins: Up & down arrows misbehave"
Similar to #1026 when there's a mention within a text block the up and down arrows won't work correctly.

This can be easily replicated on the example page: [mentions plugin](https://www.draft-js-plugins.com/plugin/mention)
Simply add multiple lines and on one of those lines add a mention then try navigating through the text using the up and down keys.

1026 relates to the plugin's `onUpArrow` and

[2018-08-09 17:09] davidmfoley commented on #1026
I ran into this because I was filtering the suggestions upon render, which makes the equality check on `suggestions` always fail here: https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-mention-plugin/src/MentionSuggestions/index.js#L36

(since it is two different references to arrays what happen to have the same items)

Switched over to filtering the suggestions in `onSearc

[2018-08-10 14:40] freedomlang commented on #1161
@glenn-allen Thanks for reporting this! I've reproduced that problem you mentioned above, and surprisingly there is some different: the down key works as expected but the up key won't. Looks like  the navigation will be wrong when the  `display: inline-block` style and `mention` in a line. Will do a closer look in the next few days

[2018-08-10 15:47] bebbi opened #1162 "draft-js-plugin core handleReturn unexpected"
## Problem

I noticed that when multiple of my plugins have a `handleReturn` function, and they don't return 'handled', they all run in sequence (that's expected), but they all get passed the same, original, `editorState` (unexpected).

## Expected behaviour

Instead, I had expected that the next plugin receives the `editorState` set by the plugin before, so not to break chaining.

Perhaps this is

[2018-08-13 13:18] justinneff opened #1164 "[draft-js-mention-plugin] Render component when there are no suggestions"
## Use-case/Problem

In the application I am working on, we have a use case where the user needs to add a mention on the fly when we do not already have an existing match in the system. Currently, if there are no suggestions then the mention suggestions dropdown is not rendered.

What I would like to do is to provide mentions plugin with a component to render if there are no suggestions and there

[2018-08-13 20:03] GabrielDuarteM opened #1166 "[resizeable-plugin] When setting the options horizontal and vertical to "absolute", the initial size of the image is not respected"
## Use-case/Problem

I'm using draft-js-plugins in an e-mail editor, so the and i'm using the following packages
* `"draft-js": "0.10.4"`
* `"draft-js-focus-plugin": "^2.0.1"`
* `"draft-js-image-plugin": "^2.0.1"`
* `"draft-js-plugins-editor": "^2.0.4"`
* `"draft-js-resizeable-plugin": "^2.0.6""`

I need the image to always have the same size defined by the user (when he resizes), so I have to con

[2018-08-14 14:11] freedomlang commented on #1166
@GabrielDuarteM do you mean that the height always have the same increasing(decrease) size with the width?

[2018-08-14 14:14] firashamila33 commented on #1154
so ? still no solution ?

[2018-08-14 14:39] GabrielDuarteM commented on #1166
@freedomlang I meant that the image size can't be defined by a percentage of the parent element (because it can vary from email client). It has to be an absolute size, measured in pixels, so it stays consistent in all email clients

[2018-08-15 16:06] bebbi opened #1167 "[draftjs-focus-plugin]: bug with lifecycle hooks"
## Problem

In `createDecorator`, please rename the `componentWillMount` call to `componentDidMount`.

Reason:

`componentWillMount` is [unsafe and will be deprecated](https://reactjs.org/docs/react-component.html#unsafe_componentwillmount).

What happens in my case is that an old instance is calling `componentWillUnmount` just before the new instances `componentDidMount` is called. This removes t

[2018-08-19 08:55] yhjor commented on #770
If we are using multiple editors, it is required to create multiple plugin... https://github.com/draft-js-plugins/draft-js-plugins/blob/master/FAQ.md#can-i-use-the-same-plugin-for-multiple-plugin-editors

My workaround would be creating a class property in the editor, so it would initialize only once per component: ```js
constructor(props) {
    super(props)
    const { plugins, InlineToolbar } =

[2018-08-19 09:55] bebbi commented on #1162
I've solved this with an independent wrapper:
https://github.com/bebbi/draft-js-plugins-chainable

* can chain `handleReturn`
* future option to continue even if "built-in" plugins return `'handled'`

[2018-08-19 09:55] #1162 closed

[2018-08-20 17:49] dan-weaver opened #1170 "Mention Plugin: overriding entity creation / editor state manipulation"
## Use-case/Problem

Is there a way to override how mentions get built into entities and how they're added to `EditorState`?   This issue looks somewhat related but I wasn't sure https://github.com/draft-js-plugins/draft-js-plugins/issues/346 and it doesn't seem to have reached a conclusion.

more specifically: say an application already has a custom way of annotating mentions and you'd like to ma

[2018-08-21 08:49] elmeister commented on #373
@tibinc `mockUpload` and all other imported sources are available [in docs](https://github.com/draft-js-plugins/draft-js-plugins/tree/master/docs/client/components/pages/Image)

[2018-08-21 11:13] elmeister commented on #373
If somebody plan to try @Hongbo-Miao solution - please note that in current version it should pass `'IMAGE'`, not `'image'` in `contentState.createEntity`

[2018-08-21 15:57] #1167 closed

[2018-08-22 00:00] dobesv opened #1171 "[draft-js-image-plugin] Entity type not backwards compatible"
## Use-case/Problem

In https://github.com/draft-js-plugins/draft-js-plugins/commit/0c98f97537dc937e1dc4bce15d26386f52e9b008#diff-7c6e0b8e32c6156fadff3f0170a0a420 the plugin was changed to emit and expect an all-caps entity type `IMAGE` instead of `image`.  However, we were using this plugin before and storing the text in the old format.  This change is not backwards-compatible so those old image

[2018-08-22 10:44] cedricmessiant opened #1173 "Custom component for CustomCounter"
## Use-case/Problem

I would like to be able to use my own component for rendering when I use the `CustomCounter`. For example, I need to render an internationalized string that uses `count` as a param:

[code]

(the count may be anywhere in the string depending on the language.

[2018-08-22 13:04] igorlesnenko commented on #624
Any progress on this?

[2018-08-22 13:27] freedomlang commented on #1139
@Drogbi fixed! Try draft-js-undo-plugin@2.0.2

[2018-08-22 13:27] #1139 closed

[2018-08-22 21:34] jonrossmacmillan opened #1176 "draft-js-alignment-plugin - creating multiple plugins still results in the store's events being shared between instances"
## Use-case/Problem

We're needing to use multiple draft-js instances on the same page with the image and alignment plugins. While testing I found that when I clicked on a picture in one editor and scrolled the page I would see another alignment toolbar floating. I took care to make sure that every instance of our editor would get fresh instances of the plugin. I tract it down to the store creatio

[2018-08-23 08:37] graphee-gabriel opened #1178 "TypeError: undefined is not a function (evaluating 'INDENT.repeat(this.indentLevel)')"
I have to make an app on older Safari versions, i'm currently trying with Safari 6.2.8
Everything works fine until appears a screen with the Editor component

[code]

At this moment the app crashes with the following error
`TypeError: undefined is not a function (evaluating 'INDENT.repeat(this.indentLevel)')`

Any idea on how to solve this?

[2018-08-23 10:16] mattgreenfield opened #1179 "No way to change the Divider plugin button"
It appears that there is no way to change the button for the divider plugin. Could this be a config option? I'm happy to provide a PR if somebody can point out the preffered way of setting this option - are there any other plugins I should be copying?

The button is hardcoded here, unless I'm missing something?
https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-divider-plugi

[2018-08-23 16:29] mattgreenfield commented on #630
Is this a bug that is worth looking to fix or is it a deliberate decision?

[2018-08-25 00:42] JustCodin opened #1182 "Breaking Change: Bug: Mention Plugin: Support for whitespace in mentions"
## Problem
 I reproduced the issue in a [codesandbox here](https://codesandbox.io/s/71p5q3l0jj).

**Support for whitespace in mentions (#1158)** merged 3 days ago introduces a **breaking change** when mentionTrigger is set to an empty string upon mention plugin creation as shown below:

[code]
The result is that the 'value' field of the argument for the 'onSearchChange' function passed to the 'Men

[2018-08-28 12:03] freedomlang commented on #1179
@mattgreenfield the `dividerComponent` should do!

<img width="671" alt="2018-08-28 7 59 54" src="https://user-images.githubusercontent.com/11409069/44721583-f85b1780-aafc-11e8-9863-abd1a900c04c.png">

[2018-08-28 12:04] freedomlang commented on #1179
If it doesn't, please feel free to reopen! BTW, pr is welcome. ❤️

[2018-08-28 13:29] freedomlang commented on #1171
fixed!

[2018-08-28 13:29] #1171 closed

[2018-08-28 13:41] freedomlang commented on #1173
@cedricmessiant the `countFunction` for `CustomCounter` shoud do, you can return a string whatever a language!

[2018-08-28 13:48] freedomlang commented on #1154
@firashamila33 sorry for my late reply, i'm actually too busy in these days. Just found a way to get the resizing work again, will open a pr to fix it if i do have time in this weekend. 😅

[2018-08-28 14:09] freedomlang commented on #923
closed because there has been no response for more information from the original author

[2018-08-28 14:09] #923 closed

[2018-08-28 20:34] nperichSYKES opened #1184 "Image 2.0.6 not published on npm"
Thanks for adding backwards compatibility with `IMAGE`!

Looks like it hasn't been updated with npm yet.
https://www.npmjs.com/package/draft-js-image-plugin

[2018-08-29 03:14] freedomlang commented on #1184
@nperichSYKES Thanks for reporting this! that may be an oversight, we'll release it asap. @juliankrispel

[2018-08-29 09:57] aklishchevskiy commented on #860
@dimaslz @gavrichards, any updates on this topic?

[2018-08-29 11:27] freedomlang commented on #1166
@GabrielDuarteM A config for resize unit may solve the use-case? btw, pr is welcome

[2018-08-30 17:06] mattgreenfield commented on #1179
Please see this proof of concept PR as it may better explain what I want to do. Thanks
https://github.com/draft-js-plugins/draft-js-plugins/pull/1187

[2018-08-30 21:57] GabrielDuarteM commented on #1166
Actually, what i did on the fork was instead of using a default, if a size is not found, i just leave it unsetted, so that the image would get it's default size.

I've created a codesandbox containing my fork of the lib and the default, for you to compare. It is available [here](https://codesandbox.io/s/35vrwpy1). On the `Editor.js` file, there are those imports:

[code]

the first one contains my

[2018-08-31 09:54] icarusysuper opened #1188 "[draft-js-emoji-plugin] custom backgroundImage"
@juliankrispel

https://github.com/draft-js-plugins/draft-js-plugins/blob/4916499de70da1e7355151eee315bc6684204a74/draft-js-emoji-plugin/src/components/Emoji/index.js#L20

I want to customize backgroundImage (base64 dataurl) here.
But I can not hack it because there is a dot...

Can you have some idea or make it a config prop?
Thanks!  Thanks for emoji plugin :smile:

[2018-08-31 20:26] caleyshemc opened #1189 "Linkify demos don't work"
On the [linkify demo page](https://www.draft-js-plugins.com/plugin/linkify), all I see are blank editors with no buttons or styling. Pasting text containing a link does nothing. Are they broken, or am I just using them wrong?

[2018-08-31 22:52] #1189 closed

[2018-09-01 12:56] freedomlang commented on #625
@JohnONeill  I'll close this issue, cause there has been no response for more information. If you still got question above, please feel free to reopen or open a new issue. ❤️

[2018-09-01 12:56] #625 closed

[2018-09-01 14:50] freedomlang commented on #1179
@mattgreenfield sry for my late reply. I just check the pr you mentioned above. And i think i've figured out what you meaning!

You mean use custom button to trigger addDivider? Am i right?

[2018-09-01 14:55] freedomlang commented on #1179
@mattgreenfield  generally I'm thinking use custom button to trigger addDivider or provider a configuration parameter for it

[2018-09-01 15:09] freedomlang opened #1190 "Publish issue about divider-plugin"
## Use-case/Problem

`draft-js-divider-plugin` on [NPM](https://www.npmjs.com/package/draft-js-divider-plugin) is still `0.2.1`, and its version in repo is `1.0.0`.

mentioned in [this](https://github.com/draft-js-plugins/draft-js-plugins/pull/1069#issuecomment-405789908)

[2018-09-03 14:13] rprzebieglec opened #1192 "[draft-js-mention-plugin] Dropped support for special characters"
## Use-case/Problem

Special characters won't trigger mentions search anymore (starting version 3.1.0). This has probably something to do with unused `regExp` parameter in `mentionSuggestionsStrategy` and it was working before.

[2018-09-04 06:27] ktjd123 commented on #1138
do you know this issue exists?? @nikgraf

Thank you and I always appreciate your work!

[2018-09-04 13:26] #1182 closed

[2018-09-04 13:40] freedomlang commented on #1184
@nperichSYKES published! ❤️

[2018-09-04 13:40] #1184 closed

[2018-09-04 14:55] freedomlang commented on #979
@Hongbo-Miao Fixed! ❤️

[2018-09-04 14:55] #979 closed

[2018-09-04 15:54] juliankrispel commented on #1190
all good

[2018-09-04 15:54] #1190 closed

[2018-09-04 18:19] jpaddison3 opened #1195 "Latest patch update is a breaking API change"
Goes from being a function that returns a plugin object to a function that returns a function that returns a plugin object.

[2018-09-05 07:17] magichim opened #1196 "www.draft-js-plugins.com is disappeared, Not found!"
where is document site's index.html?

[2018-09-06 01:42] magichim commented on #1196
solved!
thanks :)

[2018-09-06 01:42] #1196 closed

[2018-09-06 09:15] jpaddison3 commented on #1195
Fixed by https://github.com/draft-js-plugins/draft-js-plugins/commit/ba7fb69c07b50deed4b6047dbc69ae27d86a79ee

[2018-09-06 09:15] #1195 closed

[2018-09-06 12:58] dimitar-nikovski commented on #1009
@LarsLiden I wonder whether you found a way?

[2018-09-07 06:36] magichim commented on #1119
this issue is still not working? @freedomlang

[2018-09-07 06:38] magichim commented on #1119
[code]
I inject style overflow property in MentionSuggestions, but Scroll is working but Keydown and KeyUp not follow scroll direction. just fixed scroll position.

[2018-09-07 20:00] JustCodin commented on #1182
@juliankrispel @freedomlang #1193 fixed the breaking change (now allows empty triggers), but now when used in combination with supportWhitespace (as described as the intended goal), it **breaks everything** by making the entire tab unresponsive.  I updated the [code sandbox](https://codesandbox.io/s/71p5q3l0jj) to use the following configuration with the most recent mention version 3.1.2

[code]

[2018-09-07 20:10] juliankrispel commented on #1182
oh noes. Not good. WIll look into this asap

[2018-09-09 12:38] freedomlang commented on #946
@troelskn We've added a config option named `position` in the latest version. Cheers 🎉

[2018-09-09 12:38] #946 closed

[2018-09-10 11:51] olee commented on #578
Could you tell how you managed to do this?

[2018-09-11 14:30] freedomlang commented on #1166
@GabrielDuarteM Sorry for my late reply! The code on codesandbox wasn't source code, can you provide your fork address? source code is easier to read! :smile:

[2018-09-11 14:37] freedomlang commented on #1136
@ktjd123 Use [`mentionComponent`](https://www.draft-js-plugins.com/plugin/mention)(config of mention-plugin) may solve your use-case.

[2018-09-11 19:31] GabrielDuarteM commented on #1166
Of course, the package is not actually published on npm, but the source code is available at https://github.com/exactsales/draft-js-plugins/tree/draft-js-resizeable-plugin-v2.0.6

More info about the repo is available on the first post of this issue 😄

[2018-09-12 02:16] freedomlang commented on #1166
@GabrielDuarteM I've check the code and codesandbox. Finally i think i got what You mean 😢  : While using `resize-plugin`, It doesn't provide a config to set the initial size. Currently it was 40.

I think a config for the initial size would be more flexible.

[2018-09-12 05:09] GabrielDuarteM commented on #1166
@freedomlang Working on it!

When working on the PR, one thing got me thinking, would it be a problem if we removed the default value, and made it an option, instead of always defaulting to 40? That way, the image size initially will always be the image's actual size, and then the user would resize it to be the size he want's it to be. If the default option is supplied, then the image size will in

[2018-09-14 12:24] DeividasBakanas opened #1201 "[draft-js-mention-plugin] Can't mention email."
## Use-case/Problem

Bug reproduced in codesandbox: https://codesandbox.io/s/381m9n482q

Steps to reproduce:
- Type in `@simon@email.com`
- Press enter.

Result in editor:
`@simonsimon@email.com`

Reason:

Mention is formed in [getSearchTextAt.js](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-mention-plugin/src/utils/getSearchTextAt.js#L8) using a last trigger position:

[2018-09-14 13:28] DeividasBakanas opened #1202 "[draft-js-mention-plugin] `MentionSuggestionPortal` sets old editor state."
## Use-case/Problem

Bug reproduced in codesandbox: https://codesandbox.io/s/r5on3nm55o

Steps to reproduce:
- Type in `@sampletext`
- Press button `Open second tab`
- Clear all editor content.
- Type `Hey @`.

Result in editor:
`@sampletext`

Old state is set and all typed text changed to previous text.

Reason:

MentionSuggestionPortal in `componentDidMount` sets old state: https://github.com/dr

[2018-09-23 07:55] hashwin opened #1203 "[draft-js-mention-plugin] Editor not working on Android"
Please see attached video from the Simple Example from the docs.
Anytime I press '@' or Space, the entire text box just clears.
Using HTC U11 on Android Oreo 8.0

![](https://j.gifs.com/l5rR9J.gif)

[2018-09-23 18:58] hashwin commented on #1203
Seems to be a draftjs issue: https://github.com/facebook/draft-js/issues/1077

[2018-09-26 02:53] simsim0709 commented on #1203
It's related to draft-js, so I close it.

[2018-09-26 02:53] #1203 closed

[2018-09-26 07:06] janjon opened #1205 "draft-js-hashtag-plugin #11111 not work"
#11111
The use of simple numbers is not effective. If you add letters, you can

#11111a

[2018-09-27 16:50] sators commented on #1016
Experiencing this on the inlineToolbar as well

[2018-09-28 08:38] thomastvedt commented on #357
setTimeout worked as a workaround for mentionsPlugin

[2018-09-28 16:15] JoseOrtiz opened #1207 "[draft-js-mention-plugin] Trigger open suggestions programmatically"
## Use-case
I have an external button, as a shortcut, to mention users.
There is not possible to open the suggestion module, when you have a trigger character, without adding that trigger.
Can you add a way to open the suggestions with a function?

[2018-10-01 08:04] gersomvg opened #1208 "A recent version of draft-js-divider-plugin is missing on NPM"
It seems like the draft-js-divider-plugin package on NPM is pointing to someone else's repository and the version is stuck at 0.2.1. Any chance this package could be transferred back to the draft-js-plugins authors or maybe release it under a different name?

[2018-10-04 01:36] ramisalem commented on #239
where should I add that file?

[2018-10-07 02:59] freedomlang commented on #1205
@janjon Currently, hashtag-plugin follow the Twitter's strategy. So it doesn’t work with pure number.

[2018-10-08 02:14] janjon commented on #1205
Stories tried to change draft-js-hashtag-plugin to Lib instead of working.

[code]
I used the problem I found in the project, and then tried to run in stories to see if there was the same problem.

[2018-10-08 02:36] janjon commented on #1205
In my project, trying to break points in ```hashtagStrategy```. JS is not accessible, just as ```decorators``` are not included.

[2018-10-09 15:20] freedomlang commented on #1176
Merged ❤️

[2018-10-09 15:20] #1176 closed

[2018-10-12 05:35] glenn-allen commented on #1161
FWIW, I think I know why the `display: inline-block` style was used in the first place:  It prevents mentions with spaces from wrapping unless absolutely necessary.

I instead use `white-space: nowrap`.  This will always prevent word wrap, even when necessary, but in my case it's an acceptable workaround that doesn't result in strange arrow key behaviour.

[2018-10-12 06:04] thirdman commented on #1128
Another temporary solution is to use a 'begins with' css selector:

[code]

[2018-10-17 22:16] G-Rath opened #1211 "Factor in scrollTop of editor / optional ref when positioning toolbars"
Currently the toolbars (SideToolbar & InlineToolbar - I've not actually used StaticToolbar) calculate their position via `node.offsetTop + editorRoot.offsetTop`.

This doesn't take into account the scrolling of the editor, or the parents of the editor.

The simplest fix would be to adjust the positioning math to be `node.offsetTop + editorRoot.offsetTop - editorRoot.scrollTop`. The downside is tha

[2018-10-19 23:01] ramisalem commented on #1170
https://gist.github.com/nicubarbaros/8a35a16dd45065891803bbfa3e451d15

[2018-10-20 02:59] sidewayskumara opened #1212 "Inline toolbar sometimes doesn't appear upon selection"
I am having an issue where under certain circumstances, like refreshing the page, selecting text doesn't prompt the inline toolbar to be visible as expected (shown in images). Then after clicking outside the draft editor, and then trying again, it works. The draft editor component is within a react-grid-layout component. I've been scratching my head on this for a few days now and was wondering if

[2018-10-20 16:47] BalasubramaniM opened #1213 "Custom Inline Toolbar not working in React 16.4.1"
## Custom buttons were not showing in Custom inline toolbar.

Custom Inline Toolbar, as prescribed in their documentation is not working as expected. It keeps showing the default Inline Toolbar, even though custom buttons were added.

My code goes below.

[code]
Versions as follows.

- "react": "^16.4.1"
- "draft-js-plugins-editor": "^2.1.1"

Thanks in advance.

Note: Provided codesandbox link (ht

[2018-10-21 09:17] freedomlang commented on #1213
@BalasubramaniM I'd like to help, but the link you provided above is unavailable!

[2018-10-22 10:43] freedomlang commented on #1212
@sidewayskumara Do you mean the inline-toolbar doesn't work after refresh?

What versions do you use(editor and plugins)?

Btw, a codesandbox would be nice!

[2018-10-24 15:33] kamiky opened #1214 "[draft-js-static-toolbar-plugin] custom buttons"
It seems that passing a ``structure`` array doesn't work anymore to customize the toolbar buttons, i've seen the last commit where you deleted it.

https://github.com/draft-js-plugins/draft-js-plugins/commit/9b8b12ffdc4552d13ba5dfcfa1a1be4a21956cea

Would be nice to update the documentation (https://www.draft-js-plugins.com/plugin/static-toolbar), i'm still trying to figure out what you expect as

[2018-10-24 15:40] tanotify commented on #1214
+1
Is there any way to solve it?

[2018-10-24 15:53] kamiky commented on #1214
ok i managed to make it work, but it's kinda dirty, i'm not sure this module version should remain.
Toolbar children prop expect a function, so i copied this function (https://github.com/draft-js-plugins/draft-js-plugins/blob/9975f41d7f0533843882e5bf4e483081c17f7d12/draft-js-static-toolbar-plugin/src/components/Toolbar/index.js#L38)

[code]

you can then customize which button you want to return

[2018-10-26 07:58] kailaash350 opened #1215 "How to return data to Draft JS editor after Ajax call ? (i.e: the data fetched from database)"
## Use-case/Problem

- If you think a feature should be added to draft-js-plugins please provide a description of the use-case.
- If you found a bug please reproduce it within a [codesandbox](codesandbox.io), this'll make it easier for us to help you. Here's an [example that uses the mentions plugin](https://codesandbox.io/s/MjG72jX2R) - this will help get you started

Please note: The draft js pl

[2018-10-29 13:12] toropanov opened #1216 "Custom button icons"
Could you please explain is there any way to change icons of such Draft JS Buttons as UnorderedListButton, BoldButton and etc to my custom svg icons

[2018-10-31 14:19] Mangaraju-Velpula opened #1218 "[draftjs-mention-plugin] popoverComponent throwing TypeError: Cannot set property 'transform' of undefined"
Hi guys,

I am getting following error while passing popoverComponent to MentionSuggestions.

![error1](https://user-images.githubusercontent.com/13298665/47793357-18e55f00-dd44-11e8-8ba6-8d03c8008c55.PNG).

While going through the MentionSuggestions code, I found following line causing this issue in componentDidUpdate. If i pass popoverComponent  as div or span it is working fine because div or s

[2018-11-02 01:54] G-Rath commented on #1218
Sorry for the "+1" style comment, but I'm having this same issue.

I suspect this is just incorrect behaviour, as you've hit the nail on the head: if `popoverComponent` is of type `HTMLAttribute`, it works fine since it has style attributes, but components won't have this, making this prop pretty much unusable. (or at least, in contradiction to the documentation, which states that you should be ab

[2018-11-02 02:30] G-Rath commented on #1218
@Mangaraju-Velpula you can prevent this crash by overriding the `positionSuggestions` function/prop, and having it return an empty object.

This however creates the problem of having to find a way to recalculate position, and pass that to the custom component.

[2018-11-03 19:51] Rafi993 commented on #800
Any update on this issue ?

[2018-11-04 05:03] Rafi993 commented on #401
@tbohlen could you give a sample of how **myFunctionForGrabbingAllPluginDecorators** will look

[2018-11-04 05:17] Rafi993 commented on #401
and it would be awesome to include in the docs too

[2018-11-04 05:19] meteorplus commented on #401
@tbohlen thanks dude but I am against grabbing all things! it's might be considered something else these days hhh

[2018-11-04 19:37] meteorplus commented on #401
Salam Rafi9

this might help you

[2018-11-04 19:37] meteorplus commented on #401
check that repo too

[2018-11-07 20:00] sofianeOuafir commented on #755
any update on this?

[2018-11-09 10:28] Mangaraju-Velpula opened #1220 "[draftjs-mention-plugin] MentionSuggestions popover is not triggering immediately after mentionTrigger until some text is added."
Hi Guys,

I am getting an issue with MentionSuggestions Popover. For the first time MentionSuggestions popover open immediately after mentionTrigger but for the next time mentionTrigger is not triggering the MentionSuggestions popover until you need to type some text.

Here is my plugin config:
[code]
**Please refer gif below**
![untitled4](https://user-images.githubusercontent.com/13298665/482570

[2018-11-09 17:51] sofianeOuafir commented on #1067
any update on this?

[2018-11-10 10:31] #1212 closed

[2018-11-10 10:32] sidewayskumara commented on #1212
I wasn't able to reproduce it in sandbox, I'm still not sure what the problem was but moving forward with development it seems to not be an issue anymore.

[2018-11-11 00:43] tbohlen commented on #401
@Rafi993 Phew getting my head back into this bit of the code! In case you haven't already solved this, and for people who run into this in future, I've included some generalized code for `myFunctionForGrabbingAllPluginDecorators` below.

[code]

[2018-11-11 16:23] sofianeOuafir opened #1221 "draft-js-drag-n-drop-upload-plugin handleUpload never called"
## Use-case/Problem

Hi everyone,

First of all, this library is awesome, thanks to the people contributing to this project.

I am opening this issue because after reading the documentation, I noticed that draft-js-drag-n-drop-upload-plugin is not working. the handleUpload is never called and most of the code from this plugin is commented.

Would you be able to recommend a plugin that work? this i

[2018-11-12 08:33] Mangaraju-V commented on #1218
Thank you @G-Rath

[2018-11-12 09:30] souljja opened #1222 "There isn't whitespace before trigger for supportWhitespace mode."
When i type some text and in the middle of the word write @ then appear mention popover, but when `supportWhitespace` mode is disabled, everything is OK.
I saw that when `supportWhitespace` disabled, in regexp used `(\\s|^)`.
Please add it and for enabled `supportWhitespace` mode.

[2018-11-12 20:29] davidcalhoun commented on #308
For more context, see #318.  In summary, you need to explicitly add an "id" key to your mention object:

[code]

[2018-11-14 06:12] mohamedfasil commented on #1207
Hi I found a way to do this,
Basically you have to update editorstate with your mentiontrigger appended to the text and bring focus to the editor, so on your onclick you'll need to execute something like this.

[code]

[2018-11-15 08:07] techhysahil commented on #557
Have you got solution for "How to rerender this component"? I need any help i can get on this one.

[2018-11-15 08:23] techhysahil commented on #557
In "[Custom Mention Component Example](https://www.draft-js-plugins.com/plugin/mention)" example , instead of just triggering alert, i want to trigger component reRender.

[2018-11-15 11:58] f0rdream opened #1224 "[mention-plugin] Cannot find module 'lodash/escapeRegExp'"
## Use-case/Problem

`mentionSuggestionsStrategy.js` has imported `escapeRegExp`, like below.

[code]

But what appears in the package.json is `lodash.escapeRegExp`

[code]

While most users have lodash, it will not always block the build process, but it is a bug.

I have a pull request to fix it. #1223

[2018-11-15 12:07] f0rdream commented on #1224
But it's wired that after i opened a pull request which change `lodash/escapeRegExp` to `lodash.escapeRegExp`, the CI failed.

Is it by design that the plugin depends on `lodash.escaperegexp` but importing `lodash/escapeRegExp` by assuming others have `lodash`?

[2018-11-15 15:52] freedomlang commented on #1216
@tanotify Use `createBlockStyleButton` or `createInlineStyleButton` exported by `draft-js-buttons`.

[code]

[2018-11-15 15:58] freedomlang commented on #1214
@kamiky Thanks for reporting this, we'll update it asap. ❤️

[2018-11-15 16:02] freedomlang commented on #1205
@janjon 不好意思这么晚才回复。你的意思是你想断点`hashtagStrategy` 来调试，但是失败了？

[2018-11-15 22:52] Radivarig commented on #557
@techhysahil if you don't need to depend on external events to have to connect the component with redux and spread props from the provider wrapper like described above, but can depend only on the internal events like onClick, you can use a stateful react component instead of the stateless lambda in the example and update its state based on those events.

[2018-11-16 17:03] johnandblue opened #1225 "[inline-toolbar-plugin] Not possible to create theme to style toolbar."
Hello,

I tried to replicate the "Themed Inline Toolbar Example"
 used in the [docs](https://www.draft-js-plugins.com/plugin/inline-toolbar), and I extracted the code from the docs folder in the [repo](https://github.com/draft-js-plugins/draft-js-plugins/tree/master/docs/client/components/pages/InlineToolbar/ThemedInlineToolbarEditor) alongside with the `.css` files.

So far it's been impossible t

[2018-11-19 07:35] techhysahil commented on #557
@Radivarig thanks for suggestion. I was able to do it other way.

[2018-11-20 07:48] SureshSc opened #1226 "Miss match in entityRanges with emoji as presiding text to mentions"
Hi

i am using mentions plugin it works awesome as expected without emojis/unicode.

My situations

ex: "😀 dude **Suresh Chandrababu**" is my text in editor. Suresh Chandrababu is mention.

I need to extract the mention offset position, length and send to my API, problem here is when emojis/unicode added before the mentions, offset returned by Draft editor was wrong.

Expected o/p: entityRange - o

[2018-11-21 04:04] markhalonen commented on #389
For Googlers like me looking for a quick solution:
[code]
works for me, taken from https://github.com/draft-js-plugins/draft-js-plugins/blob/1da9943359a7e3dd9076daef2b4bea9de0e34eae/draft-js-counter-plugin/src/WordCounter/index.js

[2018-11-26 12:52] souljja opened #1227 "Problem with positioning of Mention menu"
## Mention Suggestions list has wrong position when supportWhitespace enabled

![mention](https://user-images.githubusercontent.com/24767181/49014829-7083b880-f192-11e8-8f09-c354b99a5636.png)

When i added mention in the middle of text block, mention list has wrong position.

![wrong position](https://user-images.githubusercontent.com/24767181/49014939-b6d91780-f192-11e8-98a2-7234a68d38e1.png)

[2018-11-28 03:33] f0rdream commented on #997
Actually you could do this by implementing your own `mentionSuggestionsComponent`, it's may be better to listen to the dom directly.

[2018-11-29 00:29] tzerchyuan opened #1228 "Minified file for draft-js-plugins-editor?"
Is there a minified js file for this library where I can just import?

[2018-11-29 11:49] freedomlang commented on #1228
@tzerchyuan Sry, for what i know, there is no way for getting minified version of `draft-js-plugins-editor` at this time.

[2018-11-29 12:04] freedomlang commented on #1227
@souljja Thanks for reporting this.  Can you provide a `codesandbox` to reproduce it?

[2018-11-29 19:06] souljja commented on #1227
@freedomlang link to `codesandbox` https://codesandbox.io/s/4xo3qx2kr4

Also I made screenshot.

![mention](https://user-images.githubusercontent.com/24767181/49245174-a4750d00-f422-11e8-88a2-520f286fe34a.png)

Steps to reproduce:
Just type a lot of long text like on the screenshot and then try to type some mention in the middle of this text.

[2018-11-30 01:11] freedomlang commented on #1214
@kamiky The docs just updated! 🎉

[2018-11-30 01:11] #1214 closed

[2018-11-30 02:42] tzerchyuan commented on #630
Is this still the case? That Linkify does not create link entities in the Content State for the links that it detects?

What is the best way to insert a Link entity along with the linkified text?

[2018-12-04 08:04] artzhookov commented on #1128
Separator is very simple component, so you can also implement your own separator with desired styles and don't use separator defined in plugin.

[2018-12-06 11:44] cdes commented on #820
@juliankrispel @simsim0709  The issue is still happening.

Here's a repro link:
https://codesandbox.io/s/wkonm9koow

I've worked around it by doing this:

[code]

and also not rendering alignment tools when in readOnly.

Quite the hack, but it works for now.

[2018-12-06 12:26] bj00rn opened #1230 "Disable mention plugin when Editor is readOnly"
Using mentions plugin when draft Editor is readOnly produces buggy behavior if the text contains text like '@abc...' etc.

Clicking on the text open up the mentions suggestions. Picking a mention suggestion inserts a mention even though editor is in readOnly.

repro link https://codesandbox.io/s/r0ky1z9z9q

[2018-12-06 15:31] yhoiseth commented on #654
Thanks a lot for sharing `draft-js-plugins`, especially the Mention plugin 🙂

I thought I'd share my (simple and imperfect) solution to this issue in case it helps anyone:

Users are emailed if they are mentioned. In order to not email users who are mentioned and then removed, I filter on whether the content contains the given user's first or last name. Then, the remaining users are posted to the

[2018-12-12 13:11] shobhit-github opened #1231 "Link not recognizing with existing editor content on component load"
Hi there,

I facing an issue that whenever i try to write any link or with copy and paste then it doesn't works when editor has some content on the component load. see example as below

https://www.useloom.com/share/db119cd699744b21bc11ca445f5d7e71

[2018-12-13 07:42] soosap commented on #1192
yes I can confirm that mention plugin only works for latin alphabet. Tried to use it with unicode characters, but the search would not kick in.

[2018-12-13 08:01] NikolasStelmah commented on #548
For futher searchers: if you getting `editorState` from `this.props` then your decorator got broken and plugin will not work. To fix this, you need to do smth like this in somewhere parent container to `<Editor/>` component where is defined your `onChange` function:
`onInputTextChanged(editorState) {
    if (editorState.getDecorator()) {
      this.setState({ decorator: editorState.getDecorator(),

[2018-12-13 11:08] kailaash350 opened #1232 "Draft-Js Image Plugin"
As in the Anchor Plugin(on_Click of link icon a textbox displayed), how to add image to editor

Note- Editor should a inline one

[2018-12-13 15:36] Wgil opened #1233 "[static-toolbar-plugin] call onChange after clicking a button"
Hello,

I am using the code from the custom static toolbar example and when I click any of the `draft-js-buttons` or even using the key commands, the state of my editor doesn't get updated until I actually write something.

How could I update the state of the editor after enabling any of the rich text functions? I can't find any doc on that.

Thank you

[2018-12-13 15:46] Wgil commented on #1233
The issue was on my `onChange` function. I'm closing this, sorry! :)

[2018-12-13 15:46] #1233 closed

[2018-12-19 20:18] taylorcjohnson opened #1234 "draft-js-emoji-plugin TypeError: this.props.getEditorState is not a function when trying to render " :" in Editor"
## Problem

When using the draft-js-emoji-plugin, an error is created when attempting to render a readOnly Editor component if the message includes a colon preceded by a space (e.g., "hello : world"). I'm not sure if this is a bug, or if I somehow incorrectly configured the draft-js plugins.

## Reproduction
Here is an [example using the draft-js-emoji-plugin](https://codesandbox.io/s/k2w4lv0vmv?m

[2018-12-20 14:37] ahrbil commented on #1231
for me i was facing this issue when switching to read only
what I did is instead of passing read-only to the editor I pass it from the state
and I pass the raw content directly from the construction instead of component did mount
![code](https://user-images.githubusercontent.com/16563523/50290791-16ae9f80-046d-11e9-8aa3-f64300ac92b6.png)

i hope this help you

[2018-12-20 14:46] ahrbil commented on #1231
for me i was facing this issue when switching to read only
what i found is  passing  the raw content directly from the construction instead of component did mount
![code](https://user-images.githubusercontent.com/16563523/50291221-45794580-046e-11e9-9d0d-23e9bab08af1.png)
hope this helps you

[2018-12-30 09:20] SunilRudragada commented on #1192
is there any way to support special characters in mentions

[2019-01-02 11:00] guljarpd opened #1237 "Mention not mapping to undefined text to mention state when repeating it second time using convertFromRaw."
@nikgraf

I am working on editor similar to slack command editor in reactjs. I am using draftjs-mention-plugin.
I am converting row data into editorState. For first time it's working fine but when repeat the same for second time  it's not working.

[code]
Here is output:
1st Time output in editor

2nd Time output in editor

Please help me guys how can i fix this.

[2019-01-02 19:45] elie222 commented on #926
Yeah. The same problem just came up for me using the image plugin.

[2019-01-02 19:57] elie222 commented on #926
For anyone else that runs into this problem, I was creating the plugins in the render function. When I added an image to my editor I was updating the state which caused the editor to rerender and the plugins to be recreated.

I fixed this by creating the plugins in the constructor of my component instead.

[2019-01-09 08:39] shobhit-github commented on #1231
Thanks buddy, but I fixed it already

[2019-01-09 09:30] phananhnhat opened #1238 "EditorState.moveFocusToEnd(EditorState.createEmpty()) working incorrectly with version ^2.1.1"
I need reset editorState of Comment Editor after press Enter. I use

[code]

In Chrome, selectionState will return to 0 when I press the first character. In Firefox,that fail and my app stop because error.
It works incorrectly with version ^2.1.1 but exactly with "2.0.0-rc2"

[2019-01-09 15:34] vrinceanuv commented on #1233
@Wgil
Having the same issue, but my onChange works as expected. What have you had there? Thanks

[2019-01-10 08:41] damnx commented on #124
34243 @ @ #

[2019-01-11 01:43] Wgil commented on #1233
@vrinceanuv Dude not pretty sure what was wrong there.

Anyway here are a couple of methods, hope this can can be helpful.

[code]

Tell me how you solved it!

[2019-01-13 05:33] himadrinath commented on #1149
@freedomlang
![mentions](https://user-images.githubusercontent.com/12247490/51081959-c0a6e200-1722-11e9-8c22-040e816f01d2.gif)

[2019-01-14 13:45] MyOde commented on #1115
Yes, for example - the Toolbar plugin keeps its state as a singleton,
which makes it impossible to use multiple instances of a component wrapping the toolbar, without invoking ancient magic.

[2019-01-15 08:32] vrinceanuv commented on #1233
@Wgil Haven't yet, something with more priority came up. For now my `onChange` is the same as it is in their example.

[2019-01-16 12:23] felipediogo commented on #1104
Is there any progress on this? Does anybody need some help to get this finished?

[2019-01-16 13:09] MattyBalaam commented on #1104
I was using Draft in my last job and had a rough POC I worked on in my own
time until the requirement was shelved. From memory it was lacking icons. I
can try and find it and share with you if you want to polish it.

On Wed, 16 Jan 2019, 12:23 Felipe F. Diogo <notifications@github.com wrote:

[2019-01-21 07:17] guljarpd commented on #1238
You have to use push to reset your existing editor.
[code]

[2019-01-22 09:20] ahtesham-quraish commented on #305
@nikgraf , I am using DraftJs plugin architecture which is awesome thing, I never ever thought about having such architecture which enable us to write very fine and modular code. You guys have done a awesome job. One problem, I am facing is how to connect Redux with plugin, so on Redux state updates, plugin should be called and detects the changes. Please guide me through this.

[2019-01-28 17:21] johnsenpeder opened #1241 "[draft-js-emoji-plugin] suggestions won't trigger if typing `:` right after adding an emoji"
This is an odd one, using the current published version on npm, the problem doesn't exist, but I forked this repo and built the package myself and used npm link to use my local version. Without having done any changes to the actually plugin it no longer works, unless I add another whitespace, or remove the one automatically added whitespace then re-adding one myself :thinking:

Even more confusing

[2019-01-29 12:59] johnsenpeder commented on #1220
Looks like this happens when one sets `supportWhitespace` to true :thinking:
Did you find a solution in the end @Mangaraju-Velpula?

[2019-01-30 04:37] phananhnhat commented on #1238
I want reset comment with empty EditorState. Your solution exits undoStack in EditorState

[2019-02-05 10:55] mankee10200 opened #1242 "Mentions Not Triggering with Second Instance of Plugin"
## Use-case/Problem

I am using the CustomMentionsEditor defined here https://www.draft-js-plugins.com/plugin/mention. My site has an instance of the CustomMentionsEditor which loads when the site loads, allowing users to post new comments and mention other users. However, the same CustomMentionsEditor is loaded again later when someone presses "Reply" on somebody else's comment. This second Custo

[2019-02-07 15:19] GrandVizierOlaf commented on #124
I had the same issue with Webpack 4 and fixed it with this (for inline-toolbar-plugin):

`import '!style-loader!css-loader!draft-js-inline-toolbar-plugin/lib/plugin.css';`

I did not add anything to my webpack config directly.

[2019-02-08 17:04] simplicitylab commented on #1242
I have the same problem. Multiple tabs with a component encapsulating the draftjs editor using the mention plugin (not custom) The first tab with the editor works fine, switching to another tab and the on the second editor it does not work, go back to the first tab and it also stopped working.

StaticToolbar and Emoiji has no problems.

[2019-02-10 05:51] w- commented on #1102
I would like to +1 this. I just got bitten by this because I'm doing SSR for a plugin which needs to dynamically load a JS file but client side.

https://github.com/zeit/next.js/issues/2473

the language in the doc makes me beleive it will be called after `componentDidMount`

is there another way to call stuff only after `componentDidMount` ?

@ericls what workarounds did you find for this?

[2019-02-18 11:19] andrius-skucas-db opened #1243 "Uncaught TypeError: block.getText is not a function with draft-js@0.11.0-alpha"
## Use-case/Problem

This is more like a heads up. As I understand draft-js v0.11.0 is coming out soon. Upon trying it out I found out that API changed a bit and now we get `block.getText is not a function` error when using draft-js-plugins with this new alpha version. I am attaching link to a code example, link to a commit in draft-js repo and a screenshot of particular part where API has changed

[2019-02-22 05:29] tariqporter commented on #548
I didn't understand any of the above. Is this a bug?
I have 2 draftjs components, both with `draft-js-emoji-plugin` and `draft-js-inline-toolbar-plugin`. You'll see that only the second one works properly

https://stackblitz.com/edit/react-hecgf4

Type `:smile` to test first plugin, and then type `test` and try and highlight it in both textboxes. Neither plugin works correctly in the first field

[2019-02-22 05:32] tariqporter commented on #815
Same issue in latest version `3.0.0`

https://stackblitz.com/edit/react-hecgf4

[2019-02-22 20:23] tariqporter opened #1244 "Multiple draftjs editors cannot be used on the same page using plugins"
Multiple draftjs editors cannot be used on the same page using plugins. All interactions are sent to the last instance on the page.

Clone the repo, install dependencies and change line 77 in `/stories/index.js`

from

`  .add('CustomToolbarEditor', () => <CustomToolbarEditor />)`

to

`  .add('CustomToolbarEditor', () => <div><CustomToolbarEditor /><CustomToolbarEditor /></div>)`

Now run `yarn s

[2019-02-25 16:06] alexander-zolotykh commented on #628
Are there new solutions?

[2019-02-26 09:46] MartinSeeler commented on #1244
This is really an issue for me. Any suggestions or workarounds?

[2019-02-26 17:43] tariqporter commented on #1244
@MartinSeeler

Taking from the comments, in the example at

https://github.com/draft-js-plugins/draft-js-plugins/blob/master/stories/static-toolbar/src/App.js

I have changed the code to look like the following to resolve this. Multiple plugins will work with this method

[code]

[2019-02-27 03:49] scottanglr opened #1245 "Anchor Plugin - Should have option to normalize with https instead of http"
With http sites now marked as"Not Secure" by default in Google Chrome, it would be better to normalise urls with https by default instead of http. If not that, because it could be a breaking change to some, an extra parameter "https: true" could be passed in the config.

[2019-02-27 07:17] MartinSeeler commented on #1244
Thank you, I have converted it to something similar with `useState`. With this, each editor get's its own plugins.

[code]

[2019-03-02 02:08] bodguy commented on #705
this is still not work 2019!

[2019-03-05 03:33] randolf commented on #1245
Unfortunately, there are many web sites that have broken TLS/SSL hosting so I support this being a configurable option.  I do think that within 5 years "https" should be the default though.

[2019-03-05 03:53] randolf commented on #1157
I think this is a fantastic idea because if the user's English-proper name changes between adding them with an @mention and submitting the form, everything will function as the user expects because their ID will be consistent (assuming, of course, that a user's ID doesn't change).

While you're at it, if there's no option to display the @ symbol in front of the @mention, if you could add that in t

[2019-03-05 16:22] pederjohnsen commented on #1207
I've worked on some changes to allow something similar for a project in work, my changes are here: https://github.com/pederjohnsen/draft-js-plugins/commit/02abe73a3316fb50afc083c6b822fe11dc076f0c

This allows you to do something like this:
[code]

This would require onMentionSelect to be triggered by a selection from a custom suggestions box.

I'd be happy to create a PR if this is something wante

[2019-03-06 09:38] OriR opened #1246 "Can't use both Static Toolbar and Inline Toolbar"
## Using both Static Toolbar & Inline Toolbar plugins on the same editor doesn't work.
This problem is mainly due to class name clashing.
That's weird because it uses css modules but unfortunately, that's the case 😕
See the attached image, both plugins for got the same initial hash for the class name of the toolbar.

![image](https://user-images.githubusercontent.com/2384068/53871061-22d5e200-4004

[2019-03-11 19:05] ggunti opened #1247 "draft-js-mathjax-plugin question/bug"
Hello!
I'm in an impasse and I would like to ask for your help, because I'm not very experienced with draft-js library.

I use the draft-js-mathjax-plugin to create a math editor. As you can see in screenshot 1, I have a button with an integral symbol inside it. When I press this button, I want to insert an integral inside the draft-js editor (using the draft-js-mathjax-plugin). From what I notice

[2019-03-13 08:33] gkhan205 opened #1248 "How to display saved mentions with style?"
Hello All,

I have saved mentions with my comment to DB and after retrieving it styles are not getting rendered for mentions only. rest all stylings are working fine.

[code]
This is the display of my comments list
![comments-mentios](https://user-images.githubusercontent.com/24544854/54264105-52eb2b00-4598-11e9-81c2-83d4d0b736eb.png)

I want my mentions to be styled like in my editor which is bel

[2019-03-17 10:23] jzaburunov commented on #855
What about not render popup at all, while user not clicks the button ? Did somebody try this?

[2019-03-19 20:40] tzerchyuan opened #1249 "Using blockRendererFn to replace text of ordered/unordered-list-item"
Hi guys,

I tried copying a mixture of ordered/unordered list from Outlook to the editor and there is an awkward space introduced by Outlook between the first and second word. I am trying to use blockRendererFn to identify the blocks and then replace the text with the same text but without the extra spacing.

I identify the blocks of interest and then create a new block using Immutable and change

[2019-03-20 03:27] YoonjiJang commented on #1220
https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-mention-plugin/src/MentionSuggestions/index.js#L133

changing the `>` to `>=` seems to do the trick for me but I don't have a good understanding of the codebase so I can't be certain that this won't cause other issues. 🤔

[2019-03-20 03:42] YoonjiJang commented on #973
+1

I think this will be especially helpful for Japanese or Chinese keyboards since Japanese/Chinese writings don't use word spacing. 🤔

[2019-03-20 12:35] m1n0s commented on #973
Faced this as well. Any other solutions except doing a fork of the plugin?

[2019-03-20 13:06] m1n0s commented on #1220
@YoonjiJang I think this sign may differ based on `supportWhitespace` prop.
Anyway, that's a great idea I'd say. Please make a PR and core team will say if it's proper way.
I also need this functionality ASAP.
If you haven't enough time please let me know I'll do the PR. Just don't want to steal your solution :)

[2019-03-20 14:44] johnsenpeder commented on #1241
Closing as it looks like it might've just been the node version I used to build the files :+1:

[2019-03-20 14:44] #1241 closed

[2019-03-21 01:01] YoonjiJang commented on #1220
@m1n0s You can go ahead and make a PR 😄

[2019-03-23 17:01] jrock17 commented on #900
I also lost 3 life hours on this one. Fixed it with setTimeout, although it feels a bit hacky. Oh well, time for a beer.

[code]

Should be fixed properly inside the plugins at some point.

[2019-03-25 13:46] johnsenpeder commented on #1226
We also have this problem, anyone has any ideas?

[2019-03-26 11:04] Andkoo opened #1250 "Add an option to not hide the mention suggestions dropdown"
## Use-case/Problem

- Use case: My chat input includes 2 icons and draft.js editor. The suggestions dropdown should be placed above the chat input, spanning even the area above the icons, otherwise it looks weird.
- Problem: I can't figure out a way to make the dropdown wider than the editor to span even the area above the icons. I can't inspect the dropdown element to play with its styles, becau

[2019-03-27 04:58] katz12 commented on #1052
This error seems to occur because the render() function of the Toolbar is invoked before the plugin is initialized. If you use a `ref` on the Editor component as @freedomlang [suggested](https://github.com/draft-js-plugins/draft-js-plugins/issues/1052#issuecomment-375147171) and then gate the rendering of Toolbar on the existence of `this.editor` it should get rid of the error.

[2019-03-27 18:56] francisrod01 commented on #1052
Sorry to respond too late.
I'm using `draft-js` combined with `medium-draft`.

[2019-03-27 18:57] francisrod01 commented on #1052
@katz12 I'll try it with `draft-js-static-toolbar-plugin` too.

[2019-03-28 14:02] francisrod01 commented on #1052
@katz12 I'll try it with draft-js-static-toolbar-plugin in few days.

[2019-03-28 14:02] #1052 closed

[2019-03-29 04:11] jianfenkezhan commented on #1242
you should check your cursor, there is some problem, try this:
[code]
this.setState({editorState}, () => {this.editorBox.click()})

[2019-04-01 00:59] #1249 closed

[2019-04-01 10:59] space11 commented on #921
@export-mike do You provide source code and or documentation for Your table plugin ?

[2019-04-01 11:47] evp3103 commented on #1222
I have same issue

[2019-04-01 14:33] jcgertig commented on #392
This is happening for me in react 16.x

simple example

[code]

some button takes html and turns it into editor state and sets the state

[2019-04-01 14:37] jcgertig commented on #392
actually the error message is slightly different (Cant find property reduce of undefined line 134 in DraftEditorLeaf.render) but it only happens when its dynamic I can use the html to state before the component is rendered and its fine.

[2019-04-02 11:54] souljja opened #1252 "Wrong displaying of mention in editor"
**Steps to reproduce:**
1) Open page with text editor.
2) Write @ sign.
3) Select symbol @ by mouse (it's important).
4) Write @@mat
5) Press enter.

**As a result we have**
![image](https://user-images.githubusercontent.com/24767181/55400607-fd7eba00-5556-11e9-9238-65643c9928a1.png)

You can reproduce it here: https://codesandbox.io/s/4xo3qx2kr4

[2019-04-03 06:49] Dremuchev commented on #638
I have the same problem! Ordered list with empty line pasted as ordered list without empty line. And my custom block pasted as unstyled block with '\n' after each block.

[2019-04-03 07:25] 0fisher commented on #705
use this for my publish on npmjs instead
draft-js-dragndrop-upload-plugin

[2019-04-03 08:51] davidpelayo commented on #657
I, personally, haven't been able to make this work together with the `draft-js-hashtag-plugin`. But first let me explain why I'm saying this.

If I'm combining the suggestion above, @lindskogen's one, with the usage of the `draft-js-hashtag-plugin` to allow showing-while-writing that the user is writing a hashtag (this way they can select from the dropdown suggestion + create a new one), I'm getti

[2019-04-03 10:39] export-mike commented on #921
@space11 its available at: https://github.com/export-mike/draft-js-plugins/tree/master/draft-js-table-plugin

We are no longer using this, so i will not be providing any further support.

but it has been used in production for awhile. its a pretty basic table it doesn't allow formatting or nested cells or images.

feel free to ask me questions on the issues of the repo I'd be happy to point you in

[2019-04-03 14:16] space11 commented on #921
@export-mike thanks.
Do you have a example how to use it?
I'm new to draft ecosystem. I'm not sure should I use through draft plugins or other way?

[2019-04-03 18:53] danhtran94 commented on #1248
Because mention can be customized without using @. you should parse it back to entities base on your pattern.
in my case, my mention pattern is {{ .XYZ }}
below is sample parser.

`
const parseMentions: (
  contentState: Draft.ContentState
) => Draft.ContentState = state => {
  let contentState = state;
  contentState.getBlockMap().forEach(block => {
    if (block) {
      const mentionPattern = /

[2019-04-04 22:02] export-mike commented on #921
@space11 see the stories: https://github.com/export-mike/draft-js-plugins/tree/master/stories/ExampleEditor

[2019-04-04 22:02] export-mike commented on #921
```npm run storybook```

[2019-04-05 08:04] souljja opened #1253 "Selection persists after typing same symbol after ctrl+a"
### Steps to reproduce:
1) Type any symbol
2) ctrl + a
3) Type symbol from the first step again

[2019-04-10 03:17] Sauloxd commented on #786
I created a gist that mimics all the styling for v2.1.1.
Not the best approach, but it exports all named classes:
https://gist.github.com/Sauloxd/284b1f90b715e962cff8a79f66686a56

[2019-04-11 08:01] rajuashok opened #1254 "Can't use single-line with anchor plugin"
## Problem: Cannot use single-line-plugin with anchor-plugin.

When I include the single-line-plugin the anchor plugin stops working. Anchors are not added to EditorState.

Here's the code:
[code]

Once I remove the single-line-plugin the anchors work fine. I'm guessing this is a bug? Or am I doing something wrong?

[2019-04-12 11:04] jjalonso commented on #686
Having problems too with this auto onchange.

My specific case is that Im setting the field as dirty when onChange is triggered, to show validation, then at the start, no field show error but Draft because he triggered an onChange making itself dirty....

[2019-04-13 10:00] ZRCU commented on #1244
Helllo everyone!

@MartinSeeler thank you very much for your solution. I had the same issue and it works. But when I do the same with InlineToolbar instead of StaticToolbar, then I keep getting an error `store.getItem(...) is not a function`.

My main idea is that InlineToolbar needs something extra from the Editor and can't get it before mount, but I'm not sure how exactly InlineToolbar works.

D

[2019-04-17 15:24] eriffat896 commented on #860
Hello, @gavrichards,
Can you explain it more? like how you apply it after installing the above packages.

[2019-04-26 10:28] lj383997002 opened #1257 "how can i show emoji when i use editor control another editor"
![test](https://user-images.githubusercontent.com/26315359/56801827-0eb6a000-6851-11e9-8479-071d2b782437.png)

[2019-04-26 12:31] markolofsen opened #1258 "Nextjs inline toolbar isn't working"
Could you implement Inline Toolbar for nextjs? I did it, but toolbar isn't working.
![pro](https://user-images.githubusercontent.com/13606299/56807764-0306b180-6830-11e9-8122-2c3b1c73e6aa.png)

[2019-04-26 17:40] luisfilipegoncalves commented on #1258
@markolofsen can you share what you have done so far ? I was not able to get that far using nextjs.

Thanks

[2019-04-30 08:40] johnsenpeder opened #1260 "[draft-js-emoji-plugin] Incorrect focus on paste of text containing emoji unicode"
If you paste text that has emoji unicode somewhere in the middle with no whitespace around it, the editor wrongly sets the focus to just after the last emoji in the pasted text.

This can be replicated on the official example page for the emoji plugin:
https://www.draft-js-plugins.com/plugin/emoji

Try and paste this in the first example:
`wefpokwpeofkpwoekfp👍wepfowk👍peofkwpoekfwe`

[2019-04-30 21:43] Darex1991 opened #1261 "Remove mention by click"
Hey guys, I have problems with my feature.. I'm trying to modify `draft-js-mention-plugin` mention component.

<img width="852" alt="Screenshot 2019-04-30 at 19 45 08" src="https://user-images.githubusercontent.com/5881611/56984936-83f2df80-6b87-11e9-888b-e26f7bea06a2.png">

So the user will able to click "X" and remove added mention. It sounds easy.. But I spend a few hours with zero results..

I

[2019-05-03 18:37] mcMickJuice commented on #1126
Agree with @ollydixon . The writing is on the wall that Typescript is the overwhelming favorite for static type checking in javascript land.  There'd be a bigger ROI on defining typescript typings than Flow IMO.

[2019-05-05 17:19] meds commented on #1126
The lack of typescript support is making me reconsider using this library, I've been spoiled by typings and losing all of my typings for emojis is just not worth it :P

[2019-05-06 08:59] Darex1991 commented on #1261
I was able to do that, I would like to create a demo of it

[2019-05-06 08:59] #1261 closed

[2019-05-09 10:22] thaoms opened #1262 "Is this repo still maintained?"
I haven't seen much responses on issues, and haven't seen a lot of commits lately.

[2019-05-10 19:37] jpmazza commented on #1150
+1

[2019-05-13 14:19] thaoms commented on #800
+1

[2019-05-13 14:46] thaoms opened #1263 "🤷‍♂️emoji not working (combined emojis)"
They just show as  `🤷♂`

`The Man Shrugging emoji is a sequence of the 🤷 Shrug and ♂ Male Sign emojis. These are combined using a zero width joiner between each character and display as a single emoji on supported platforms.`

Length of those emojis are also '2', so gives me issues in the backend as well.

Could the emojione dependency be updated?

[2019-05-13 14:54] thaoms opened #1264 "Escape gives error when using Mentions and Emoji plugins"
When first pressing `:` (for an emoji) pressing escape gives a Mentions error.

[code]

After that or the other way around, it's ok again.

[2019-05-13 19:57] promerorgz commented on #1098
@efjacobson

I am trying to do something similar to this.

How do you display editorState in a non Editor component? Would you use the `convertFromRaw` function? I am trying to do something similar to this but I am having issues using two `Editor` components at the same time (one read only, one normal) so I agree that the Editor should just be for editing.

[2019-05-14 00:32] efjacobson commented on #1098
@promerorgz

the way i use draft is specifically as an editor layer to an independent set of schemas. for text i take advantage of the native draft stuff, as well as several plugins and an inline entity layer for some custom stuff. for non-text (atomic) stuff, i actually set the entity's data payload to be an instance of something i want it to be. so at certain points (saving, previewing, etc) i c

[2019-05-14 02:20] promerorgz commented on #1098
@efjacobson thank you! This is very helpful!

[2019-05-17 03:26] PetrVasilev commented on #1154
It does not work yet

[2019-05-19 08:23] varunajmera0 opened #1265 "createHashtagPlugin({ theme: hashtagStyles }); Theme is not working"
I am following same example - https://www.draft-js-plugins.com/plugin/hashtag
but the theme is not applying
codesandbox implementation -
https://codesandbox.io/s/facebookeditor-u0s1f?fontsize=14

[2019-05-19 10:34] r3verser commented on #1262
same question

[2019-05-21 01:45] grahamtallen commented on #574
I also have the same requirement. Any word on how to implement this?

[2019-05-21 08:22] syedammarzia commented on #1104
Any progress on this one?

[2019-05-22 12:39] hadifarnoud opened #1266 "table and view source plugins"
I did not find a well maintained table plugin. This is a fairly popular usecase of an editor. I looked for every draft.js wrapper I could found as well.

am I missing something?

also, would be great if users can click on 'view source' and see HTML equivalent. I found a React editor (https://ej2.syncfusion.com/react/demos/#/material/rich-text-editor/tools) which is not open source and very expensi

[2019-05-22 13:43] juliankrispel commented on #1104
Nope.

On Tue, May 21, 2019 at 9:22 AM Syed Ammar Zia <notifications@github.com>
wrote:

[2019-05-22 13:52] sanishkr commented on #1104
I read all this and then I saw [this](https://github.com/jpuri/react-draft-wysiwyg) where all types of text alignments are created using draft-js. Why is there no direct support from draft JS or plugin available officially? Tell me if I am missing something.

[2019-05-25 04:29] grant-davidson commented on #1262
Such a good library, a pity it seems to be dying.

[2019-05-26 17:21] varunajmera0 commented on #1098
https://codeburst.io/web-developer-playbook-rich-text-editor-4c356fb8929d

you can use this. **Without any plugin**

[2019-05-26 17:36] varunajmera0 commented on #530
https://codeburst.io/web-developer-playbook-rich-text-editor-4c356fb8929d

[2019-05-30 08:37] hero-guo commented on #1242
I have the same problem.

[2019-05-30 10:18] hero-guo commented on #1260
I have the same problem. Is there a solution？

[2019-05-30 11:45] johnsenpeder commented on #1260
@hero-guo I might try look into this soon if I get the time, I'll report back here with my findings unless someone else beats me :)

[2019-05-31 07:22] martin-badin opened #1267 "[draft-js-emoji-plugin] crash after I wrote specific emoji"
Hello, when I write from mobile emoji as an example the number 7 ![Snímka obrazovky 2019-05-31 o 9 19 49](https://user-images.githubusercontent.com/5845264/58688633-4ef3cb80-8385-11e9-8e3b-a561f97c3579.png) then draftjs editor crash with this error. I use the native ios keyboard and native emojis.

`TypeError: undefined is not an object (evaluating 'l.default.emojioneList[m].unicode')`

[2019-06-04 15:22] buob opened #1268 "alignment and drag-n-drop support for custom blocks without entities"
## Use-case

We've implemented our custom blocks with custom metadata instead of entity ranges, which appears to be possibly an intended direction of implementing atomic blocks? (https://github.com/facebook/draft-js/issues/543#issuecomment-456189502)

The draft-js-drag-n-drop-plugin and draft-js-alignment-plugin decorators (possibly others?) are coupled to finding the content by getting the first

[2019-06-04 17:11] canozgen9 commented on #855
Why not just use react-virtualized ? It is very serious performance problem.

[2019-06-10 10:47] nabeelnazirvf commented on #784
@nikgraf @juliankrispel you are saying that if I have 10 editors in one page then I have to instantiate 10 plugins for these 10 editors?
Is there any way to achieve this dynamically? Like for example, I have a dynamic form builder in react JS and requirement is to add `InlineToolbar` with every new dynamic text area. How can we achieve this by using your plugin?

[2019-06-10 13:56] juliankrispel commented on #784
that's exactly what we're saying yes. That's how it works right now I'm
afraid. If you want to achieve this dynamically just move the plugin
instantiation into a component lifecycle method

On Mon, Jun 10, 2019 at 11:47 AM Nabeel Nazir <notifications@github.com>
wrote:

[2019-06-11 05:25] nabeelnazirvf commented on #784
@juliankrispel following code works for me. I am pasting it here so that it may help others as well.

[code]

[2019-06-11 09:05] sohansarma commented on #1234
Any solution for the same?

[2019-06-13 15:12] JoeCase commented on #644
I am still having the same problem with this. Anyone find a fix?

[2019-06-14 04:55] mohitkumarCLS commented on #1154
I am also facing same issue, @firashamila33  can you please tell me the way to resolve this.

[2019-06-17 13:49] goodhyun commented on #982
For someone who is still struggling with this.
Even though modifying the contents is not recommended, it's JS after all. it's the beauty of this language.

[code]

[2019-06-18 10:01] johnsenpeder commented on #1260
Looks like the issue is this: https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-emoji-plugin/src/index.js#L209 It's forcing the selection to the new editor state selection, which from `attachImmutableEntitiesToEmojis` is now the last unicode converted to an emoji entity.

From initial testing it looks like just getting the current selection: `const currentSelectionState = e