[2017-03-15 10:07] #684 closed

[2017-03-15 20:23] gavinwahl opened #686 "Performance issue -- calling onChange in componentWillMount"
The PluginEditor manipulates the editor state and calls onChange in componentWillMount. This means the editor renders, its state changes, then it immediately rerenders. This causes a huge slowdown on a page with many editors (1000ms vs 1500ms).

Is it possible to make it work without causing an immediate, useless, rerender?

[2017-03-16 02:42] #677 closed

[2017-03-16 08:51] unrealyan opened #687 "[draft-js-mention-plugin] when I selected one, then press 'Enter' cantnot clear buff"
![giphy](https://cloud.githubusercontent.com/assets/5870143/23988337/c1f4387e-0a68-11e7-8335-015b0a4bbc7c.gif)

[2017-03-16 23:27] jakegavin commented on #298
I just ran into this and it took me a bit of searching to find this thread. Thanks for posting that solution (assigning the plugin instance to a property)! I think it'd be very helpful to update the documentation examples to follow that pattern or mention that each editor needs its own plugin instance.

In retrospect, it feels obvious and I should've realized the problem sooner but as a new comer

[2017-03-17 05:34] abury commented on #687
I'm getting this as well in my code. After a mention, whenever I hit enter it will just put the same mention again and again, and place the cursor at a random position. :(

[2017-03-17 14:20] DavidBradbury commented on #675
I'm getting the same issue, app.js isn't loading - Chrome on Mac, Chrome on Windows, IE11 on Windows, and Chrome on Android - This seems to be happening for multiple demos.

[2017-03-17 18:48] jakegavin commented on #687
I ran into the same issue. I think a potential short term fix is to use `MentionSuggestions`'s `onClose` callback to set the suggestions to an empty list.

Something along the lines of:
[code]

I _think_ the issue is that suggestions are still getting passed into MentionSuggestions after a selection has happened.

In the example, the suggestion prop is controlled by the state of the parent compone

[2017-03-17 22:55] abury commented on #687
Thanks, @jakegavin, that led me down the right path. To get everything fully working I also had to make sure `MentionSuggestions` started with an empty list. My full code is below:

The below seems to be working perfectly

[code]

[2017-03-18 09:33] jackmatrix opened #688 "Cannot use videoPlugin in my app"
I am using the video plugin version 2.0.0 beta5

I am also using the imagePlugin.addImage in the same way. No problem i can insert my image.

What wrong with the video plugin .

`this.onChange(videoPlugin.addVideo(editorState, {src: this.state.url}))`

doesn't working

`Uncaught TypeError: videoPlugin.addVideo is not a function`

Thanks for helping

[2017-03-19 11:13] orporan commented on #329
quick question, why is table plugin marked as legacy? where can I read about it?

[2017-03-19 11:44] StevenIseki commented on #329
It is legacy because the approach of instantiating multiple draft editors is not in line with other Draft-js plugins and the architecture setup by Nik.

Currently though from my experience it is the only way to create a flexible layout of editor blocks and I have been using a similar approach to achieve this. The only other option is using block wrappers but after a lot of trial and error I can sa

[2017-03-19 11:51] StevenIseki commented on #329
Just an update from my end, I have been working with Last Draft and MegaDraft which has a slightly different plugin approach. I am now pushing all of the Last Draft plugins over to draft-js-plugin format as the MegaDraft team are, and hope to have this compatible with v2 of draft-js plugins in the next few weeks. Hopefully this will align the plugin approaches and add some more plugins to the comm

[2017-03-20 18:41] makeitrein commented on #329
@StevenIseki - thx for your work! very excited to see the convergence of plugins for a more unified ecoystem...

just started working on a draft-js project a few days ago... would you recommend I start off with Last Draft, MegaDraft, or draft-js-plugins with future compatibility in mind?

[2017-03-21 00:08] jgrisafe opened #689 "onAddMention not firing"
Cannot figure out how to get this callback firing:

[code]

[2017-03-21 07:57] nikgraf commented on #689
Might be a bug?

[2017-03-21 07:59] nikgraf commented on #329
wow, didn't know MegaDraft is going to make it compatible to the plugin system. Who is doing that work?

[2017-03-21 08:01] nikgraf commented on #688
Please upgrade to beta10 and try again. Also would be great if you post the code how you instantiated the plugin.

[2017-03-21 08:02] nikgraf commented on #687
alright, so ideally we set a default in case no suggestion list is provided, correct? anybody interested to make a PR?

[2017-03-21 08:03] nikgraf commented on #675
Can you make a screenshot? I can't reproduce the issue …

[2017-03-21 08:06] nikgraf commented on #298
@jakegavin we have it in the FAQ, but happy to add an example with multiple editors or another description. Can you open a PR so I can see what changed?

[2017-03-21 08:29] nikgraf commented on #686
@gavinwahl what would you propose for the API in terms of the decorators?

[2017-03-21 08:30] nikgraf commented on #624
@homerlex ok, not sure when I get to this. Ideally in the next 2 weeks, but can't promise anything

[2017-03-21 08:31] nikgraf commented on #685
we need to extend the unicode range for the regular expression. do you know the unicode range for korean symbols?

[2017-03-21 08:35] nikgraf commented on #660
exactly, but it's not the same - once breaks out of the for each the other still does the check for every other plugin

[2017-03-21 08:46] amannn commented on #660
Hmm, not sure if I'm missing something. I guess they do the same, no? https://jsfiddle.net/uu24w0jb/

[2017-03-21 08:52] nikgraf commented on #660
you are right, sorry - had another concept in mind

wanna open a PR? sounds good to me to refactor it to for each

[2017-03-21 08:53] nikgraf commented on #672
This is an issue with the Github button. If you have a fix please let me know. Would be happy to accept a PR

[2017-03-21 08:53] #672 closed

[2017-03-21 08:54] nikgraf commented on #368
I believe Lerna is the future for this project. That's maybe something for post 2.0

[2017-03-21 08:54] nikgraf commented on #664
👍

[2017-03-21 08:54] #664 closed

[2017-03-21 08:56] nikgraf commented on #654
@valorize I think this is such an edge case. At this point I recommend to fork the plugin and add this handler by yourself.

[2017-03-21 08:56] #654 closed

[2017-03-21 09:00] nikgraf commented on #674
@chenyuejie yes, you are right! Interested to submit a bugfix?

[2017-03-21 09:03] nikgraf commented on #398
hmmm, can you guys try beta10? I don't see this in the docs
<img width="1182" alt="screen shot 2017-03-21 at 02 03 07" src="https://cloud.githubusercontent.com/assets/223045/24139740/96608314-0dda-11e7-8472-1721c7714812.png">

[2017-03-21 09:31] jackmatrix commented on #688
Thanks for replying. I already upgraded to beta10 of plugin editor but npm just propose me beta5 of video plugin editor. i spent almost 5 days to try get it works. I don't think i instantiated wrong since imagePlugin works fine and this is this the same process i guess.

Finally i could get it works . I had to "clone" the plugins. That means i had to completely rewrite it manually based on code av

[2017-03-21 14:15] amannn commented on #660
Ah, alright :). Well @tomkelsey would you like to open the PR since your fork already contains the necessary changes? Otherwise I can take care of it.

[2017-03-21 15:14] nikgraf commented on #688
@jackmatrix would you be willing to contribute a PR with a fixed version? In this case others don't run into the issue

[2017-03-21 15:14] nikgraf commented on #660
@tomkelsey what do you think?

[2017-03-21 17:14] mattiasewers opened #690 "Emoji plugin renders both unicode and svg image."
Using version 2.0.0-beta10. I have a problem in which the editor renders both the unicode character and the svg image at the same time that then overlap each other.

[2017-03-21 17:19] mattiasewers commented on #690
Never mind, I had some css that mested it up for some reason...

[2017-03-21 17:19] #690 closed

[2017-03-21 23:58] fredriksundstrom opened #691 "Navigating between inserted mentions with keys up/down has unexpected behaviour"
Hi! First of all, these plugins are awesome!! I’m using the 2.0 Beta stuff, so maybe this is known, but when I have a list with mentions (or wherever in the document they might be) there’s some weird behaviour when navigating with up/down keys. There’s a lot of weirdness but my best example is the following...

When navigating down, it’s okay until ”150 g...”, then it suddenly steps to the right.

[2017-03-22 00:12] jgrisafe commented on #168
Hi @nikgraf this does not appear to be functioning in 2.0 beta

[2017-03-22 01:18] fredriksundstrom opened #692 "Add some European characters to the Mention regex please"
Hey! The Mention plugin is really useful in English, but with i.e. Swedish characters it doesn’t work so good.

I found the regex and was trying to add it as a pull request but couldn’t get the dev setup going.

I hacked in åäöÅÄÖáÁéÉíÍóÓëËúÚàÀèÈìÌùÙ into the Regex I currently have in the plugin and it works much better, so maybe you could add these characters – or at least åäöÅÄÖ to the regex. :)

[2017-03-22 06:53] chenyuejie commented on #674
@nikgraf PR created.

[2017-03-22 13:28] DominikGuzei commented on #646
`draft-js-drag-n-drop-upload-plugin` is still not available on npm

[2017-03-22 13:30] StevenIseki commented on #329
The MegaDraft team mentioned that they wanted to start work on it soon over [here](https://github.com/globocom/megadraft/issues/141). I have started porting over Last Draft, and this work will likely overlap due to Last Draft borrowing a lot of MegaDraft's functionality.

Last Draft uses the MegaDraft plugin system, and uses a very similar toolbar and sidebar. Its main feature is that it adds a lo

[2017-03-22 13:37] StevenIseki commented on #329
Sorry to derail the 2.0 roadmap discussion, I will be very keen to help out with docs and any small tasks to get v2 over the line after finishing work on the ld/md conversion.

@makeitrein I would recommend using draft-js-plugins for your project. As mentioned above the toolbar and plugins from MegaDraft/Last Draft will hopefully be available soon as draft-js-plugins.

[2017-03-22 19:04] andpor commented on #675
That is because demo started working 2 days ago ...

[2017-03-23 15:11] brijeshb42 opened #694 "Option to accept button structure in Alignment Plugin"
Currently, the structure of buttons is [harcoded](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-alignment-plugin/src/AlignmentTool/index.js#L56). Alignment toolbar should also accept a `structure` like `inline-toolbar-plugin`.

[2017-03-23 17:50] arsanjea opened #695 "Mentions example not working within draft-js-plugins live demo"
I tried the live demo on the official website. I am expecting that typing Michael Russell would give me a list of names.
Am I missing something?
![draft-plugin-problem](https://cloud.githubusercontent.com/assets/9323128/24262169/a44be9a4-0fcf-11e7-8ee4-e79455c1d36f.gif)

[2017-03-24 01:53] mattiasewers commented on #695
You need to type "@" before entering the name

[2017-03-24 01:54] arsanjea commented on #695
Got it. Thanks.
On Thu, Mar 23, 2017 at 9:53 PM Mattias Ewers <notifications@github.com>
wrote:

[2017-03-27 04:33] haydenbleasel commented on #695
I've got a strange issue with the demo version where hitting `Return` continuously triggers the first suggested user to be added automatically.

![5p9o2roku1](https://cloud.githubusercontent.com/assets/4142719/24341061/b6a788f2-1302-11e7-863b-0ac497c0b157.gif)

[2017-03-27 11:54] johndavedecano commented on #665
@nikgraf Do you guys already have a fix for this. Apparently its working on facebook

[2017-03-27 18:21] rsdrsd opened #697 "First line always as H1"
I am really looking for an editor which supports the feature where the first line is always a h1 tag. I have tried many different editors. Some support it out of the box, but are difficult to customize. Now is my question. Is it easy to create with draft js?

[2017-03-28 07:02] johndavedecano commented on #665
[code]

[2017-03-28 18:22] theuniverse commented on #695
@haydenbleasel This is what #687 is discussing about.

[2017-03-28 19:11] lorenjohnson commented on #657
I have the same question, I do think this open issue may be relevent: draft-js-plugins/draft-js-plugins: Issue #253

[2017-03-29 00:49] marekolszewski commented on #646
I also couldn't find draft-js-drag-n-drop-upload-plugin. I built v2.0.0-beta10 and put it at the following github repo:

https://github.com/marekolszewski/draft-js-drag-n-drop-upload-plugin

Feel free to npm install from this repo while you wait for the package to be created.

[2017-03-29 02:37] haydenbleasel commented on #695
@theuniverse Ahh okay, sorry about that mate. I'll head there.

[2017-03-29 09:47] bashkos opened #698 "[draft-js-emoji-plugin] Copy / paste emoji from other sources"
When copying emoji from the page like
`<img class="emojione" alt="😝" title=":stuck_out_tongue_closed_eyes:" src=" ... ">`, from twitter or from vkontakte and pasting into the editor, instead of emoji an image link is inserted. In this case, twitter and vkontakte are inserted emoji.

[2017-03-29 12:13] johndavedecano commented on #665
@nikgraf here is my solution using react portal

[code]

[code]

[2017-03-29 16:34] arcifius opened #700 "image-plugin not loading decorators on init"
Well i'm new with DraftJS so this can even not be a problem at all...

First of all i'm creating the imagePlugin
`const imagePlugin = createImagePlugin({
    theme: imageTheme,
    decorators: [
        resizeablePlugin.decorator,
        alignmentPlugin.decorator,
        focusPlugin.decorator,
        blockDndPlugin.decorator
    ]
});`

my initial state is the same defined in https://www.draft-

[2017-03-29 17:34] stevensacks commented on #633
@nikgraf Any idea when this will be fixed?

[2017-03-29 18:12] jackmatrix opened #701 "Cursor issue when i removing the space div under image block"
There is a cursor issue when we trying to remove the image block.

Go to the plugin [page](https://www.draft-js-plugins.com/plugin/image) and try by yourself.

The cursor behavior become weird and float right. Then you have no choice than remove the image if you want to keep using the editor normally. We can focus the editor below the image block. This is like if the part of the editor located bel

[2017-03-29 20:41] marekolszewski opened #702 "Draft-Js dependency incorrect?"
Since 3ba2d3, I believe the draft-js dependency in each plugins' package.json file should have been bumped to v0.10.0. I just ran into a bunch of issues because the resizable plugin was pulling in an older version of draft js but calling the new getEntity function.

Related to this, it may make sense to move the draft-js dependency into peerDependencies in each of the plugins.

[2017-03-31 03:45] StevenIseki commented on #329
Work in progress for this project is [megadraft-js-plugins](https://github.com/vacenz/megadraft-js-plugins)

[2017-03-31 18:50] arcifius commented on #700
To reproduce it: go to https://www.draft-js-plugins.com/plugin/image

Scroll to **Add Image Button Example** example and then add some image mine was "https://www.w3schools.com/css/img_fjords.jpg", you'll see that it isnt resizable/alignment missed but then if you drag'n'drop it on the beginning of the text it will be cloned and the new one is at least resizable but align tools still disabled... H

[2017-03-31 21:52] whitef0x0 commented on #359
@nikgraf was this ever completed?

[2017-03-31 21:52] whitef0x0 commented on #262
@nikgraf any update on this?

[2017-04-01 13:16] vinhlh opened #703 "Selected option is not highlighted when pressing up down navigation"
The root cause is: outer component was using `shallow-compare` to determine when it should re-render:
[code]

And the way mentions plugin triggers an update is:
https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-mention-plugin/src/MentionSuggestions/index.js#L245
[code]

[2017-04-02 08:12] nagendraK6 opened #704 "hashtag plugin can't retain hastag from convertFromRaw"
I am trying to save the content in db and then try to reload from the raw.

To convert to raw:
 var content = Draft.convertToRaw(this.state.editorState.getCurrentContent())
 var contentToSave = JSON.stringify(content);

// reading from raw
const jsObject = JSON.parse(contentToSave);
const raw = Draft.convertFromRaw(jsObject);
var editorState = EditorState.createWithContent(raw);

<Editor editorSta

[2017-04-02 23:05] nagendraK6 commented on #704
This is not an issue. We need to create state  for editorState. I can't use this as a variable.

[2017-04-02 23:05] #704 closed

[2017-04-03 12:24] sanghyunJ opened #705 "draft-js-video-plugin and draft-js-drag-n-drop-upload-plugin npm problem"
plz upgrade draft-js-video-plugin to 2.0.0-beta10 version...
current npm proposal only 0.0.1, 0.0.2, 0.0.3, 0.0.4, 2.0.0-beta.5 version
and draft-js-drag-n-drop-upload-plugin is not found on npm...

[2017-04-03 13:52] sanghyunJ commented on #685
I know that.. but current Korean unicode range is correct

I think that draft-js has some error.  not mention-plugin!

when typing Korean, beforehandleinput() can't catch key input event

[2017-04-04 10:21] melbourne2991 commented on #702
+1 for making it a peer dependency if possible.

[2017-04-05 22:54] mshibl opened #708 "Inline-Toolbar & Side-Toolbar configuration options"
Hello,

In the docs, there a comment about creating a toolbar instance, and that you can pass in a config object. Can you clarify what this config object looks like? Also, Can I pass in custom buttons?

[code]

Thank you,

[2017-04-06 08:16] martynasjocius opened #709 "Emoji plugin makes editor very slow on Safari"
How to reproduce:

1. Open Safari (10.1) or Safari Technology Preview (Release 27).
2. Go to https://www.draft-js-plugins.com/plugin/emoji.
3. Enter more content into the editor (5-20 paragraphs).
4. Try typing some new text.
5. Editor is responding very very slowly and cannot be used.

This issue appears only on Safari browser and only when using Emoji plugin (other plugins work fine).

Have you

[2017-04-06 08:59] eugenijusr commented on #709
I found the culprit. It's because `attachImmutableEntitiesToEmojis` is iterating through all the blocks on each key stroke. When there's a lot of text it gets super slow.

Why is this needed, can't we just take the last block?

Instead of:
[code]

Do this:

[code]

This fixes the sluggish performance on Safari for us without any apparent effect on the functionality. Or am I missing something?

[2017-04-06 14:59] artur-charcenko opened #710 "Exception when using focus plugin"
Steps to reproduce:
- Go to https://www.draft-js-plugins.com/plugin/focus
- Focus block by clicking on it or using arrow keys
- Press `Enter`

You should see this error in the console:
[code]

[2017-04-07 15:33] pioul commented on #359
Just had a quick go at this, and it doesn't seem possible (at least easily) anymore: to create a new set of combined decorators, [`createCompositeDecorator`](https://github.com/draft-js-plugins/draft-js-plugins/blob/0cc196646de85472b138d7898c8c7e343b45a6c1/draft-js-plugins-editor/src/Editor/createCompositeDecorator.js) needs to be passed `getEditorState` and `setEditorState`, which are only availa

[2017-04-07 23:08] LawJolla commented on #665
@johndavedecano I like your fix.  While you're at it :), it experiences the same problem when the text box is too close to the right side of the screen.

It looks like you can modify your code to solve that case too.

I like that you're using a portal!

[2017-04-09 13:00] StevenIseki commented on #329
I finished migrating last draft editor over to draft-js-plugins, I am still working on tweaks to the UI.

- [last-draft v2](http://lastdraft.xyz)
- [last-draft v3 using draft-js-plugins](http://lastdraft.xyz/v3)

I set up the following new [draft-js-plugins](https://github.com/vacenz/last-draft-js-plugins) to acheive this: These can be used just like other draft-js-plugins, I will add them to the

[2017-04-10 07:05] kuatro opened #711 "Could please someone push the packages to npmjs?"

[2017-04-10 07:34] tomkelsey opened #712 "Mention bug when pressing return"
On the simple example: https://www.draft-js-plugins.com/plugin/mention

If you type `@NikGrif` (select the mention) then type some random text and hit return rather than going to a new line it'll enter "Nik Grif" into the text editor again.

This seemed to be introduced when I upgraded to the latest versions of all the plugins so guessing a recent PR. I haven't had a chance to look into it yet.

[2017-04-10 12:15] tomkelsey commented on #712
I believe it was PR #659 that introduced this bug. Commenting out that code appears to fix the issue.

[2017-04-10 15:35] guidiego opened #713 "Can I change the trigger of mention pluggin?"
Hey guys, I want to change my mention plugin to trigger mentions by `#` and not from `@`, Can I do this without fork and change the code ?

[2017-04-10 17:24] johnmpotter commented on #713
Yeah, it's super easy! Just set the param 'mentionTrigger' to '#'.

You can find all the configurations here 👉 https://www.draft-js-plugins.com/plugin/mention

[2017-04-10 17:45] johnmpotter commented on #712
I just came across this issue as well. It started occurring after I upgraded from beta9 to beta10. I just went back to beta9 and the issue disappeared.

[2017-04-10 19:29] guidiego commented on #713
@johannesnagl I try this but not work :/ I was using 1.1.2, has some point about this?

[2017-04-10 20:20] johnmpotter commented on #713
I might be wrong, but it looks like it was added in version 2.0 #320

I'm not sure what it take to upgrade from 1.0 to 2.0+, but if you are able to, i'd try that. I'm working on "2.0.0-beta9" and it is working 👍

[2017-04-11 02:32] guidiego commented on #713
Thanks!

[2017-04-11 02:32] #713 closed

[2017-04-11 21:54] mbseid commented on #712
There is a PR open to fix this issue: https://github.com/draft-js-plugins/draft-js-plugins/pull/706

It has been working for us quite well.

[2017-04-14 06:45] lorenjohnson commented on #633
👍 Would love to get any timeline on this and/or any feedback from anyone who's came-up with any stop-gap solution...

[2017-04-14 21:46] league55 commented on #710
Just trying to guess, but
{code}

  _handleKeyCommand(command) {
    const newState = RichUtils.handleKeyCommand(this.state.editorState, command);
    if (newState) {
      this.onChange(newState);
      return 'handled';
    }
    return 'not-handled';
  }
{code}
may solve it

[2017-04-17 05:02] sugarshin opened #717 "Emoji plugin raise exeption when number emoji"
Hi,

Could you check this. The following emoticons will raise exception.

[code]

![image](https://cloud.githubusercontent.com/assets/2001452/25079303/3782c4cc-2376-11e7-841f-d143b0f75f30.png)

I think this is a maybe draft-js issue.

[2017-04-17 13:22] Ace139 commented on #712
Merge the PR soon. It's really annoying.

[2017-04-18 09:49] johndavedecano commented on #665
@LawJolla You might wanna check its distance from the right browser

[2017-04-20 05:19] stevewillard commented on #711
+1 @nikgraf do you mind publishing beta10 to npm? There's several bug fixes I'd like to take advantage of. Thanks!

[2017-04-21 09:12] bummzack commented on #638
I'd like to know how to fix that as well. It's really important for me that pasted text gets inserted as separate blocks for each line.

Any pointers how to fix, or what might be causing this would be greatly appreciated.

[2017-04-21 09:21] bummzack commented on #638
As an update, here's a simple test case:

[code]
The above works as expected when pasting text with multiple lines (eg. from Plaintext). It creates a new block for each line.

When replacing `import { Editor, EditorState, Modifier, ContentState } from 'draft-js';`  with:

[code]
It inserts the text as single block instead.
I'm using the `2.0.0-beta10` version.

[2017-04-21 22:49] tafelito commented on #124
HI, I know this is an old issue, but I just created a new react app with create-react-app, added draft-js-pluigns and draft-js-inline-toolbar-plugin but the plugin.css seems not to be loading. I know the cra already has the css loader (I actually verified it by ejecting the project) but the styles are still not loading. Im using the latest release, 2.0.0-beta 10. This is what I see when I run the

[2017-04-24 10:54] terryoy opened #718 "UndoButton/RedoButton cannot be initialized before Editor"
Hi,

I'm writing a toolbar with DraftJS, and it will be rendered before the Editor.

[code]

I think it's because the RedoButton/UndoButton didn't consider the situation that the Editor has not been initialized before the buttons are rendered.

[code]

Exception line:
https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-undo-plugin/src/RedoButton/index.js#L21

When the method

[2017-04-25 07:26] bashkos commented on #698
![Gif](https://s8.hostingkartinok.com/uploads/images/2017/04/31b325e65ba1fc0c6330886279975e2e.gif)

[2017-04-25 09:44] matthiasn commented on #491
Hi, I had the same issue and I was able to fix it by using a non-empty string as the block content for the sticker, see the PR. Without this change, I would always get the `Uncaught Invariant Violation: Unknown DraftEntity key.` error message.

[2017-04-25 18:42] allankikkas commented on #698
Are you actually copying an image from the comments section below or is this an actual unicode emoji character with image background?

[2017-04-26 02:41] bashkos commented on #698
Yes, I copy the image obtained by the method [`emojione.unicodeToImage()`](https://demos.emojione.com/latest/jsunicodetoimage.html). This image have actual unicode emoji character in `alt` property. When I copy this image and paste in `textarea` element or my IDE, I get plain unicode character. When I copy this image and paste to Twitter message field, I get emoji in twitter-style.

[2017-04-27 05:47] didiaidada commented on #396
@DerekHung  Did you solve this problem？
I am being troubled by this problem

[2017-04-27 19:42] Alex-ray commented on #708
@mshibl it looks like you can pass in a configuration option called structure which will take components.

ref: https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-side-toolbar-plugin/src/index.js#L18

On the same note... there is no way to pass props to this component which is a huge problem for me. It would be great to be able to set the structure via an API on the instanti

[2017-04-28 18:25] joshclowater opened #722 "Cannot read property 'getEntity' of undefined"
I tried copying the mention simple example from https://www.draft-js-plugins.com/plugin/mention . The mention menu appears correctly and filters, but when I hit enter or click on a mention, I get this error and nothing renders:
`Uncaught TypeError: Cannot read property 'getEntity' of undefined
    at eval (webpack:///./~/draft-js-mention-plugin/lib/mentionStrategy.js?:17:48)
    at eval (webpack:/

[2017-04-28 21:02] Ricco1 commented on #398
I can approve that beta10 works fine for me.

[2017-05-01 12:47] #722 closed

[2017-05-01 12:48] joshclowater commented on #722
Seemed to fix itself when I also added the draft-js-inline-toolbar-plugin beta.

[2017-05-02 05:42] LachlanStuart commented on #711
It actually was pushed. You can confirm the available versions with `npm view draft-js-plugins-editor versions`.

The issue is that NPM seems to choose the version based on alphabetical sorting of the semver pre-release version, so `2.0.0-beta10` comes right after `2.0.0-beta1` and both are lower than `2.0.0-beta9`.

The workaround is to specify it the version number exactly: `npm install draft-js

[2017-05-02 08:08] kuatro commented on #711
@LachlanStuart
[code]

[2017-05-02 09:46] GRiccarducci commented on #712
Please merge the PR

[2017-05-02 16:53] AverageZ commented on #718
+1

[2017-05-03 17:31] keioka commented on #722
I got the same issue and I leave a comment here in case someone got same issue event this is closed.

Both "draft-js-mention-plugin" and "draft-js-plugins-editor" should be same "2.0.0-beta10".

Check your version of them.
[code]

[2017-05-03 18:42] inchr opened #723 "Bug in mention plugin(send key automatically select a mention)"
Hi, i'm trying the draft-js-plugins and I've noticed a weird bug when i press the "send key" in the textarea, it automatically mentions someone.

The bug is also in the plugin page: https://www.draft-js-plugins.com/plugin/mention

Is this a bug or I'm missing something ?

[2017-05-03 19:38] keioka opened #724 "[mention] Put empty space after @, it still suggests users"
The mention plugin tries to suggest users even when I put empty space after @. It happens on example (https://www.draft-js-plugins.com/plugin/mention) and my code.

**Version**
[code]

https://www.useloom.com/share/10bf567886124f2ea4e93ee04ef7c27f

[2017-05-03 19:48] fdemian commented on #723
Hi, I'm also experiencing a similar case.
I believe this is similar to #724 (if not the same issue). I've noticed it is in the page too.

**How to reproduce:**

Go the mention plugin in the page [https://www.draft-js-plugins.com/plugin/mention](https://www.draft-js-plugins.com/plugin/mention)
Press "@" and select a user.
Press enter twice.

[2017-05-03 20:39] inchr commented on #723
Not sure if is the same issue, but yeah, both bugs sucks.

[2017-05-03 20:41] inchr commented on #712
Please merge :( same bug here :( #723

[2017-05-03 20:50] inchr commented on #723
@fdemian My issue(but not yours) is fixed by this PR #706

[2017-05-04 00:23] inchr commented on #624
@chenyuejie @nikgraf I've the same problem of @iEchoic ... I've 2 editors in the same page, 1 with the mentions/emoji plugin and another is on readOnly. When I write a mention on the first editor, the popover of the mentions/emojis is opened in the second editor (that in theory doesn't load the plugins either)

Any suggestions ?

[2017-05-04 00:27] #723 closed

[2017-05-04 05:35] fdemian commented on #723
Ok, I actually experienced both, so this is good news.

[2017-05-04 14:43] philipchmalts commented on #703
I use redux-form as the place to store the editorState and I am also experiencing this problem? Is there any way to force a re-render?

[2017-05-04 21:01] alfonsoperez commented on #581
@erykpiast could you post an example usage of your plugin?, like how would `addPlaceholder` look like?. Thanks

[2017-05-04 22:18] gavinwahl commented on #569
I'm also experiencing this issue, on react 15.4.2. The reporter's workaround isn't changing anything though.

[2017-05-05 07:19] erykpiast commented on #581
Hi @alfonsoperez, it may look like this:

[code]

Where `createPlaceholder` produces some custom block of type `image-placeholder`. It's inserted in place of selected text then. That's a code extracted from real application, sorry if it's too obscure.

[2017-05-06 14:27] deanshub commented on #703
Warning!!! ugliest hack ever
[code]
This made my mobx store to create a new editorState every-time thus inforcing re-render and this makes everything work again but this is stupid, I'll update if I'll find a better solution

[2017-05-07 14:00] laszlokiraly commented on #398
i still get the warning in beta10 when using custom handler, e.g. onClick.
removing contentState from props solved the problem for me:
[code]

[2017-05-08 05:49] nikgraf commented on #674
Thanks @chenyuejie! Very much appreciated ✨

[2017-05-08 05:49] #674 closed

[2017-05-08 08:13] nikgraf commented on #491
Thanks to @matthiasn who fixed the issue here: https://github.com/draft-js-plugins/draft-js-plugins/pull/721

[2017-05-08 08:14] #491 closed

[2017-05-08 08:14] nikgraf commented on #491
Let me know if this issue still occurs …

[2017-05-08 10:15] nikgraf commented on #329
@StevenIseki just added them to the list of community plugins and tweeted about them https://github.com/draft-js-plugins/draft-js-plugins#built-by-the-community

[2017-05-08 10:20] nikgraf commented on #712
Merged and released with 2.0.0-beta11!

[2017-05-08 10:20] #712 closed

[2017-05-08 18:01] alfonsoperez commented on #581
Thanks!, I have hacking some solution and I _almost_ have it working :D. Could I ask you a probably noob question?.

When I create an `image-placeholder` block, I have it to something like this:

[code]

If this would be implemented this way?, how would I retrieve the block afterwards in `getPlaceholderBlock` based on the `file` object?.

[2017-05-08 19:15] erykpiast commented on #581
I'm doing something very similar, more or less. I just have unique ID assigned to each image, not a file name. But mechanism of getting placeholder block is basically the same.

In my case functions like `createPlaceholderBlock` and `getPlaceholderBlock` are used with two other plugins - one for uploading images by button, another for uploading pasted images (ex. from Word or external web page). B

[2017-05-08 19:21] alfonsoperez commented on #581
Makes total sense, thanks so much!

[2017-05-09 07:37] nikgraf commented on #581
Sorry for the late response. @erykpiast can you create a PR? would love to see this plugin in soon :)

[2017-05-09 16:39] alfonsoperez commented on #581
@nikgraf That would be amazing, if I can help with anything @erykpiast let me know

[2017-05-09 19:02] nikgraf commented on #703
Does any of you have a reproducible example to test?

[2017-05-09 19:05] echenley commented on #688
@nikgraf looks like videoPlugin hasn't been published since beta5. Maybe it's missing in your deploy scripts?

[code]

[2017-05-09 20:04] nikgraf commented on #711
@kuatro ouch, seems like if forgot to add that to my publish script

[2017-05-09 20:20] nikgraf commented on #709
@eugenijusr this would cause issues if someone pastes a whole block of emojis

[2017-05-09 20:22] nikgraf commented on #702
Sounds good to me. Interested to create a PR?

[2017-05-09 21:28] nikgraf commented on #718
You are right, interested to create a PR?

[2017-05-09 21:55] Alex-ray commented on #614
Seriously wtf

[2017-05-10 05:11] deanshub commented on #703
I belive I can make one this weekend

[2017-05-10 05:35] nikgraf commented on #711
Just noticed we need to fix the package.json in the video plugin first: https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-video-plugin/package.json

[2017-05-10 09:18] eugenijusr commented on #709
@nikgraf Would it be possible to select only the new blocks instead of going through all of them?

Anyways since performance was an big issue for us we hard-forked this with the following fix for now:

[code]

[2017-05-10 12:21] amannn commented on #708
@Alex-ray Can you provide a use case for the prop you want to pass to the structure? Chances are this is already possible.

E.g. you can do:
[code]

There's also a package called [decorate-component-with-props](https://www.npmjs.com/package/decorate-component-with-props) on npm that helps with this use case.

[2017-05-11 07:59] 1Jesper1 opened #734 "Draft JS site example mentions not working in IE11"
The Draft JS mention example does not work in IE11 on [DraftJS site](https://www.draft-js-plugins.com/plugin/mention)

[2017-05-11 08:11] 1Jesper1 opened #735 "IE11 mention focus results in infinite loop."
Focusing on a mention results in an infinite loop.
Change `display : "inline-block"` to `display: "inline"` for class `.draftJsMentionPlugin__mention__29BEd, .draftJsMentionPlugin__mention__29BEd:visited` for IE11, to prevent this issue.

[2017-05-11 19:35] brijeshb42 opened #736 "Method signature has changed in beta 11?"
Normally, any function would receive arguments like this,

[code]

But in `beta-11` version, the signature is this,

[code]
This is breaking the code.

[2017-05-12 11:06] tarjei opened #738 "Please consider a changelog"
Hi, you guys are doing a great job and I know you are still in beta mode, but it would be great if you could try to keep a changelog file for your betareleases. It doesn't matter if it is not complete, any info is better than trying to discern what has changed from the commit list.

kind regards,
Tarjei

[2017-05-12 13:11] StorytellerCZ commented on #738
With that, tagging releases here would also help.

[2017-05-13 22:47] nikgraf commented on #736
ouch, this happened by accident. I will fix and cut a new release soon!

[2017-05-13 22:49] #702 closed

[2017-05-16 07:07] kolodkin opened #739 "draft-js-plugins-editor: Warning: Accessing PropTypes"
"Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
in draft-js-plugin-editor

using react v15.5.4

[2017-05-16 07:16] kolodkin commented on #739
solved using
yarn add draft-js-plugins-editor@beta
instead
yarn add draft-js-plugins-editor

[2017-05-16 07:16] #739 closed

[2017-05-17 03:13] terryoy commented on #718
@nikgraf I have moved on to other projects and didn't maintain the work space, so I just added a simple fix without testing it. You can accept it if it's appropriate.

https://github.com/draft-js-plugins/draft-js-plugins/pull/740

[2017-05-17 06:41] StevenIseki commented on #700
That is because the add image example does not include the alignment plugin.
`const plugins = [imagePlugin];`

You would just need to add the alignment-plugin in your example for this to work correctly:

[code]

[2017-05-17 06:41] #700 closed

[2017-05-18 07:48] gmchaturvedi1 opened #741 "Add Image issue"
i am just following addImage example of draft-js-image plugin the followoing error is coming onclick

imageAdd.js:47 Uncaught TypeError: _this.props.modifier is not a function
    at ImageAdd._this.addImage (http://localhost:3006/static/js/bundle.js:202205:29)
    at Object.ReactErrorUtils.invokeGuardedCallback (http://localhost:3006/static/js/bundle.js:17146:17)
    at executeDispatch (http://loc

[2017-05-19 03:29] gmchaturvedi1 commented on #741
my problem is solved by installing @2.0.0..beta11n install .Thanks

[2017-05-19 04:38] #741 closed

[2017-05-22 16:32] icd2k3 opened #742 "keyBindingFn not working with Editor component"
Following the example [here](https://draftjs.org/docs/advanced-topics-key-bindings.html) and it doesn't seem behave as expected. I don't see an existing issue for this in the tracker so I may be doing something incorrectly?

Note the `console.log(command);` part specifically because "command" is not sent as expected. I can confirm that the `sKeyBinding` function IS called correctly so the problem

[2017-05-22 16:41] icd2k3 commented on #742
Oops found a solution... just needed to remove the `&& hasCommandModifier(e)` check from my key binding function. My bad!

[2017-05-22 16:41] #742 closed

[2017-05-23 17:36] nikgraf commented on #736
Unfortunately this actually isn't a bug. With Draft.js 0.10.1 the signature was changed and therefor all the functions in the plugins changed as well.

Here are the changes in the core:
https://github.com/facebook/draft-js/pull/1112/files
https://github.com/facebook/draft-js/pull/1113/files

I'm about to cut a new release where these changes are documented in the changelog and made 0.10.1 mandator

[2017-05-23 17:36] #736 closed

[2017-05-23 17:46] nikgraf commented on #718
Ouch, just read you added the fix without testing it. Let's hope it works

[2017-05-23 20:07] Rosey opened #744 "Ability to define our own emoji list for the emoji autocomplete dropdown?"
Right now the emoji autocomplete uses emojiOne as the source of truth for what emojis are available, but I'm in a situation where I need the emojis listed in the dropdown to match those available in the https://github.com/iamcal/emoji-data repo. Right now there's a handful of emojis that are supported by emojiOne but aren't yet supported in emoji-data.

Would it be OK if I opened a PR that allows

[2017-05-23 22:21] nikgraf commented on #744
@Rosey do you have a rough idea what you want to change and how it should look like? This would help me to get a better idea if this should go in the main repo.

[2017-05-24 00:02] bernardw opened #745 "Apply mention suggestion on spacebar?"
Hi, I am using the mention plugin, I wonder if there is an easy way so `space` behaves the same as `tab` and commit last highlighted suggestion without having to subclass MentionSuggestion?

[2017-05-24 13:05] hoppula commented on #718
It doesn't work yet as store always exists: https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-undo-plugin/src/index.js#L14

I think https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-undo-plugin/src/RedoButton/index.js#L22 would need another check that ensures `this.props.store.getEditorState` actually exists.

[2017-05-24 13:46] stevewillard opened #748 "Can't resolve './emojiSelectStyles.scss' in Emoji Plugin (rc1)"
I recently updated my plugins to `rc1` and the emoji plugin is referencing a module that doesn't exist:
[code]

[2017-05-24 16:38] Rosey commented on #744
🤔  Was thinking, possibly similar to how the mentions plugin works, accepting a `suggestions` prop that is an object containing a list of emoji, (object would be formatted in the same way that `emojilList.js` currently formats). The plugin then uses this suggestions prop instead of the `emojiList` generated list. However, if no suggestions are passed in, the plugin falls back to the list generated

[2017-05-24 17:09] davidsonsns commented on #298
@tedlin182 you saved my life, I've been trying to solve it for hours.

[2017-05-24 22:46] ryanmcclure4 commented on #748
I'm having this same issue. `emojiSelectStyles.scss` does not exist in the folder.

[2017-05-25 00:05] stevewillard commented on #748
@bashkos Any idea on this? Looks like you made most of the recent emoji plugin commits.

[2017-05-25 02:17] bashkos commented on #748
Thank you for issue. I'm try to resolve it.

[2017-05-25 02:22] terryoy commented on #718
Agree with @hoppula

[2017-05-25 04:35] nikgraf commented on #744
Oh you mean just the list itself. You already can do that by providing a `priorityList`. It's document here: https://www.draft-js-plugins.com/plugin/emoji

[2017-05-25 04:36] nikgraf commented on #744
I'm closing this for now, but happy to re-open it in case I misunderstood you.

[2017-05-25 04:36] #744 closed

[2017-05-25 04:39] nikgraf commented on #745
@bernardw I guess you mean that it autocomplete to the next result -> not really at this point and I believe this would be cause some UX issues. Think about the case where someone doesn't want it to be autocompleted, but rather have text.

If you still want this feature the best way is to for the mention plugin. I'm closing this for now, but happy to re-open if I misunderstood you.

[2017-05-25 04:39] #745 closed

[2017-05-25 04:53] bashkos commented on #748
I just pushed PR. Sorry for troubles.

[2017-05-25 04:54] nikgraf commented on #735
@1Jesper1 I don't have a machine with IE11 setup right now. Could you create a PR with a fix?

[2017-05-25 04:56] nikgraf commented on #734
@1Jesper1 do you have some insights what's going wrong? Any chance you could provide a fix?

[2017-05-25 04:58] nikgraf commented on #708
@Alex-ray yeah, a use-case would be super useful - maybe there is a different way already …

[2017-05-25 05:00] nikgraf commented on #709
@eugenijusr maybe based on the und/redo list we could figure out which blocks changed and make it more efficient.

@eugenijusr so what happens in your solution if I copy paste a full text with emojis?

[2017-05-25 05:01] nikgraf commented on #703
@deanshub any updates?

[2017-05-25 05:04] nikgraf commented on #614
@TheGent sorry for getting back to so late. I recently added documentation for the drag & drop plugin here: https://www.draft-js-plugins.com/plugin/drag-n-drop

@Alex-ray Are you referring to? The issue, the comment or because it wasn't documented? In any case your comment doesn't seem appropriate in any case. Can you explain?

[2017-05-25 05:04] nikgraf commented on #688
@echenley just deployed it a couple days back with rc1

[2017-05-25 05:05] #688 closed

[2017-05-25 05:06] nikgraf commented on #748
Will release in a bit rc2

[2017-05-25 05:06] #748 closed

[2017-05-25 05:07] nikgraf commented on #569
@gavinwahl can you try with the latest React version?

[2017-05-25 05:11] nikgraf commented on #624
@iEchoic @inchr you need to multiple MentionSuggestions. One for each editor! Please let me know if that helps? Here a longer explanation in the FAQ https://github.com/draft-js-plugins/draft-js-plugins/blob/master/FAQ.md#can-i-use-the-same-plugin-for-multiple-plugin-editors

[2017-05-25 05:11] nikgraf commented on #724
@keioka do you still have this issue with rc1 or rc2?

[2017-05-25 05:12] #724 closed

[2017-05-25 05:13] nikgraf commented on #722
@keioka found a solution? It works on the docs so it's probably related to your setup :(

[2017-05-25 05:16] nikgraf commented on #698
hmmm, I would say this is more of an issue from Twitter and vKontakte. Doing emoji's like that seems like a bad strategy :(

In any case if anyone is interested to create a PR to even cover that case. Happy to accept it.

[2017-05-25 05:17] nikgraf commented on #124
@tafelito you need to manually import it, I guess that doesn't help, but I'm confident it's there.

[2017-05-25 05:19] nikgraf commented on #638
@bashkos any chance you can investigate why that's the case?

[2017-05-25 05:21] nikgraf commented on #717
@bashkos maybe something for you to tackle as you already familiar with the emoji code :)

[2017-05-25 05:21] nikgraf commented on #710
Still having this issue with rc1?

[2017-05-25 05:22] nikgraf commented on #633
@lorenjohnson I would like to tackle this soonish. Right now I'm overwhelmed with answering issues and reviewing PRs. If anyone could look into it and create PR - would be great!

[2017-05-25 05:24] nikgraf commented on #713
Thanks @johnmpotter for helping out here!

[2017-05-25 05:29] nikgraf commented on #134
@Xurma2 which counter?

closing the issue for now since this is already merged …

[2017-05-25 05:29] #134 closed

[2017-05-25 06:11] deanshub commented on #703
thanks for reminding me @nikgraf

I found out what the issue was,
I created my editor component multiple times inside different components which are displayed at the same time, in my use case it is exactly the same editor component.

The problem was that I did not instantiate the draft plugins for each usage of the component,
I moved the plugin instantiation into the constructor of the editor comp

[2017-05-25 06:24] Alex-ray commented on #614
My apologies @nikgraf , the comment was uncalled for and came from pure frustration.

Thank you for updating the documentation. The frustration came from trying to use the advanced image  example on the website only to find out that the `draft-js-drag-n-drop-upload-plugin` wasn't  even on npm.

I ended up forking the (draft-js-drag-n-drop-upload-plugin)[https://github.com/draft-js-plugins/draft-js

[2017-05-25 07:00] bashkos commented on #717
Ok, I'ill see it on this holidays.

[2017-05-25 07:09] bashkos commented on #638
I'll try. On this holidays too =)

[2017-05-25 07:50] nikgraf commented on #614
all good, thanks for the apologising!

There is an open PR https://github.com/draft-js-plugins/draft-js-plugins/pull/733, but I didn't have time to look at it. If you have time and motivation to contribute would be interesting to open another PR for the upload plugin or contribute to the existing one. Don't feel pushed to work on it, but help would be very much appreciated :)

[2017-05-25 07:50] nikgraf commented on #614
Yeah, removing it from the docs until it's ready makes a lot of sense! Will do that

[2017-05-25 07:51] #614 closed

[2017-05-25 07:51] nikgraf commented on #717
thanks!

[2017-05-25 07:52] nikgraf commented on #703
ok cool, then I close this issue for now and open it if we identify this wasn't actually the problem

[2017-05-25 07:52] #703 closed

[2017-05-25 08:00] #48 closed

[2017-05-25 08:00] #46 closed

[2017-05-25 08:01] nikgraf commented on #49
We have this now with the two different toolbar plugins!

[2017-05-25 08:01] #49 closed

[2017-05-25 08:39] bashkos commented on #46
hmmm... Recently i created `react-giphy-select` package. Maybe we can use it?
https://github.com/WEACOMRU/react-giphy-select

[2017-05-25 09:23] nikgraf commented on #46
Would be cool, I just started to close outdated issues 😄

[2017-05-25 09:47] bashkos commented on #717
Maybe it's time to update on EmojiOne 3.x, but it can be so long.

[2017-05-25 12:04] nikgraf commented on #717
Just read that EmojiOne 3.x had different license terms :( Makes me want to look for alternatives. Maybe the Twitter set?

[2017-05-25 12:35] stevewillard commented on #748
Thanks guys! I really appreciate it.

[2017-05-25 13:54] Rosey commented on #744
Doesn't the priority list only dictate the first emoji to show (eg when it first opens, the "top suggestions") but all other emoji from emojilist are still available if the user types enough to match one of them?

[2017-05-25 14:59] echenley commented on #688
Great thanks!

[2017-05-25 20:55] nikgraf commented on #744
@Rosey yeah, that's correct. Okay so you want to limit the list of emojis - hmmm this is probably such an edge case that I rather recommend to fork the plugin, because even if you limit the autocompletion people could still paste in the Emoji and that would be weird, because some are replaced than while others aren't.

[2017-05-26 13:59] ScottEfird opened #751 "React.PropTypes is deprecated and throwing a console warning."
As of React 15.5.0 we should pull in the prop-types package and use that for our PropTypes.
https://facebook.github.io/react/blog/2017/04/07/react-v15.5.0.html

Hopefully it will be an easy fix, thank you.

[2017-05-26 14:04] #751 closed

[2017-05-26 14:04] ScottEfird commented on #751
Closed. I suspect I made this ticket too fast. I can't find any examples here where it is used. Sorry about that.

[2017-05-26 19:43] Alex-ray commented on #708
@amannn @nikgraf , of course!

Here's the problem set Im trying to solve.

The feature is a sidebar component that displays a list of variables generated from a CSV that is uploaded by the user. When clicked that variable is then inserted into the editor as an entity.

The problem arises when these variables change... the variables are based off of a CSV that is uploaded by the user and is passed

[2017-05-27 07:15] mccord commented on #285
any plans to fix this? i'm really glad i found this bug with a google search, so i could add in the workaround.

[2017-05-28 05:47] amannn commented on #708
@Alex-ray Hmm, true!

I can only see that solved through React's context at this point, which is maybe similar to your current workaround. But currently you're restricted to a fixed number of buttons anyway. With PR #729 you'd be able to change the buttons at run time, but you'd still be dependent on a special system like React context or pub/sub or so if you want to change them from the outside,

[2017-05-28 20:45] tomkelsey opened #753 "Emoji plugin's emoji selector adds 321k to gzipped bundle size"
Hey,

I love the new emoji selector, it's great!

However, by including the `react-icons` package it adds an extra 321k (gzipped) to the bundle size as its seemingly including all the font awesome icons rather than just the few that are used.

Perhaps changing:

[code]

to

[code]

Would fix things although I haven't had a chance to try.

FAO @bashkos

[2017-05-28 20:57] artur-charcenko commented on #710
@nikgraf Just tried rc2 and it seems that issue is resolved. Thanks!

[2017-05-29 23:40] mattkrick opened #754 "Consider new API to avoid overloading the component instance"
Currently, when making a component we have to create & manage a singleton:
[code]

This is a bit confusing for a couple reasons
- You must dump your plugins and your modal onto `this`
- You have to manage the instantiation yourself
- The modal is a peer, not a child, of the Editor
- You have to grab the modal from `this`, which isn't very React-ish

Instead, I propose the following:
[code]

Doing

[2017-05-30 12:13] ar7casper opened #755 "404 on npm install draft-js-drag-n-drop-upload-plugin"
![image](https://cloud.githubusercontent.com/assets/5730102/26582614/8762fc3c-454a-11e7-879c-0d475bc03464.png)

[2017-05-30 14:07] tumetus opened #756 "Emoji plugin - use host system art"
The emoji plugin now uses EmojiOne art for emojis and this ensures consistent display across all platforms. I would however like to be able to use the default emoji art for the platform that my app is running on.

Is this something that could be implemented? I could try to work on a PR if so.

[2017-05-30 15:38] nikgraf commented on #756
@tumetus you could fork the emoji plugin and replace the rendering parts where we show images in the autocompletion & picker.

I'm interested in a PR 🙂

[2017-05-30 15:38] nikgraf commented on #755
This plugin yet wasn't published

[2017-05-30 15:38] #755 closed

[2017-05-30 16:22] nikgraf commented on #751
No worries 😊

[2017-05-30 16:28] nikgraf commented on #753
would be awesome to get it down again! 🙌

[2017-05-30 16:28] #710 closed

[2017-05-30 16:29] nikgraf commented on #710
thanks for checking @artur-charcenko

[2017-05-30 16:40] nikgraf commented on #754
I like the idea … for such a big change I would probably even consider higher order components. Since I don't have a ton of time to invest I don't see such big API changes happening soonish … sorry

[2017-05-30 16:50] nikgraf commented on #708
hmmm, need to think about it (no brain power anymore after a long day ;) )

[2017-05-31 08:42] tomkelsey opened #757 "Inline toolbar on mobile - should it be positioned below the text?"
I was just wondering what people thought about the inline toolbar on mobiles.

At the moment it ends up behind the iOS/Android formatting toolbar that also appears above the text and so isn't accessible.
[](url)

![screen shot 2017-05-31 at 09 41 01](https://cloud.githubusercontent.com/assets/14311327/26623346/535b2324-45e5-11e7-8a37-c20dc395a0cc.png)

Would it make sense if on mobile/tablet sized

[2017-05-31 12:20] StorytellerCZ commented on #757
I've noticed that the common behavior is to have it at the bottom of the screen, in the end being just above the keyboard. So I think that makes sense and would be a nice improvement. Go ahead with the PR, so that we have something more concrete and can test it.

[2017-05-31 19:40] albertomr86 commented on #574
Hi @nikgraf I have the same requirement. I need to know when a mention is removed from the editor in order to sync my list of mentions.
Any thoughts?
Thanks.

[2017-06-01 10:53] 1Jesper1 commented on #735
I suggest to get the userAgent string at document.ready with window.navigator.userAgent and then add a specific class for ie11 to the body.
Then add the CSS:
`.(specificClass).draftJsMentionPlugin__mention__29BEd,
.(specificClass).draftJsMentionPlugin__mention__29BEd:visited
{
  display: inline !important
}`

[2017-06-01 11:16] 1Jesper1 commented on #734
Maybe use:
`import 'babel-polyfill';
// or
import 'es6-shim';`

[2017-06-01 12:20] tumetus commented on #756
@nikgraf I created a PR for this 🙂  #758

[2017-06-02 16:31] Swapnilchavan18 opened #761 "Keep font and color same as original when text copied from somwhere"
How to keep font size and color same as original when text copied from somewhere? Is there any option available for this?

[2017-06-05 11:05] lindskogen commented on #753
Have you tried using rollup for doing this automatically?

[2017-06-05 11:11] lindskogen commented on #657
I have got this working on the `@2.0.0-rc2` version.

Very straight-forward:

[code]

[code]

[2017-06-05 21:12] peorth80 opened #763 "Alignment plugin: deleting the picture still shows the toolbar"
If I go to the demo https://www.draft-js-plugins.com/plugin/alignment and delete the image, the toolbar still displays the alignment toolbar, as if the image still exists.

![image](https://cloud.githubusercontent.com/assets/16003799/26803383/61e10362-4a1a-11e7-9116-e2eb871e7e93.png)

How to reproduce:

1. Go to https://www.draft-js-plugins.com/plugin/alignment
2.  Scroll down to the example
3. De

[2017-06-05 23:45] icd2k3 opened #764 "Mentions plugin: augment default theme instead of replacing it"
Hey there - not sure if this is a bug, question, or feature request...

I like the default theme for the mentions plugin, but I wanted to make some minor adjustments (specifically to the `mention` class):

[code]
[code]

^ this works, however it _completely_ overrides the default styles `draft-js-mention-plugin/lib/plugin.css`

Is there any way to merge the theme so that I can augment it instead o

[2017-06-06 12:32] andpor opened #765 "Demo code does not work or instructions insufficient."
Hi there,

I have created a project to test out Alignment Plugin demo and followed the instructions on the site.
When I run the project, I get a page looking similar to demo page except the blue rectangle does not seem to be active.
1 - it does not get any border when mouse hovering on top of it
2- does not respond to mouse clicks - thus no toolbar/menu

There are no errors in console.

Is there a

[2017-06-06 20:31] khawerrind opened #766 "Selecting a mention from keyboard does not select the mention"
Thank you for the great plugins. When i try to select a mention from the suggestion list using keyboard and press enter the mention does not gets selected instead i get a new line in the editor. However selecting a mention using mouse works perfectly.
I also tried to return `handled` for the `handleReturn` function of the Editor but that didn't help as well. Any suggestions for this issue?

[code]

[2017-06-06 21:21] andpor commented on #765
The instructions for the demo are not correct. First example I try and it is mesed up...

3. Add the below import line to your component to tell Webpack to inject the style to your component.

import 'draft-js-image-plugin/lib/plugin.css'; // eslint-disable-line import/no-unresolved

This is incorrect.

Instead, these ought to be added to SimpleAlignmentEditor.js

import 'draft-js-alignment-plugin

[2017-06-06 21:39] andpor opened #767 "FocusPlugin uses css styles named draftJsEmojiPlugin"
These styles should be named draftJsFocusPlugin rather than draftJsEmojiPlugin

lib/plugin.css:

.draftJsEmojiPlugin__unfocused__1Wvrs:hover {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #D2E3F7;
}

.draftJsEmojiPlugin__focused__3Mksn {
  cursor: default;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #ACCEF7;
}

[2017-06-06 21:49] andpor commented on #639
issue still there...and it is not even marked as defect on github...weird...

[2017-06-07 16:01] icd2k3 commented on #766
Having the same issue here, but using `handleKeyCommand` - also when I hover my mouse over the menu the highlight doesn't change.

[2017-06-08 12:56] gmchaturvedi1 opened #768 "Need UMD buiild Help Required"
hello all,

i just build editor with help of draftjsplugin(editor,mathjax,image ) and save to database in row satate. in my web application i just render that row state perfectle. I need help to render the same in react-native webview but their i required UMD build .Jindly guide if any other method is their to render this is react-native.

regards
gmchaturvedi

[2017-06-08 17:05] danneu opened #769 "Make keyBindingFn signature consistent with the others"
Over a week ago, there was a change that migrated the `(...args, {getEditorStore, ...})` signature of all the Editor prop functions to `(...args, editorStore, pluginFunctions)`.

https://github.com/draft-js-plugins/draft-js-plugins/blob/161e4176a5138dff60188d8c2f4c997273894ea9/draft-js-plugins-editor/CHANGELOG.md#added

However, I noticed that `keyBindingFn` still has the `(e, {getEditorStore})` s

[2017-06-08 18:22] danneu commented on #769
I also noticed `onTab`'s signature is also `(e, {getEditorState})`. I guess just the props that start with `handler*` get that signature?

I must be missing the distinction, but it seems simplest to just pass `getEditorState` in to the plugin's entrypoint config object than grappling with it per-function.

[2017-06-08 19:20] #769 closed

[2017-06-10 22:52] charlex opened #770 "Side toolbar error: Uncaught TypeError: _this.props.store.getItem(...) is not a function"
Toolbar isn't loading. And I get this error every keypress.

Error:
```Uncaught TypeError: _this.props.store.getItem(...) is not a function```

Location:
https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-side-toolbar-plugin/src/components/Toolbar/index.js#L40

This is my source code:

[code]

[2017-06-11 20:40] rossfishkind commented on #766
Strangely enough, I got this working by adding a state for `editorState` on the component that displays my editor.

During the `onChange` function of `Editor` I added:

[code]

It had been code I was using during a separate test and had forgotten to remove, but I found that with it there, regardless that I don't use `this.state.editorState` anywhere, it makes the keyboard selection work. I hope th

[2017-06-12 10:09] NamitYadav opened #771 "File `videoStyles.css` not getting created on npm build in version 2.0.0-rc2"
Hi, I am getting the following error on trying to use the **draft-js-video-plugin**:

`Module not found: Can't resolve './videoStyles.css' in '.../node_modules/draft-js-video-plugin/lib'`

I am using the following version:
`
"draft-js-plugins-editor": "^2.0.0-rc2",
"draft-js-video-plugin": "^2.0.0-rc2",
`

[2017-06-12 17:51] lakesare commented on #769
This broke my production! Did you just remove `"draft-js-plugins-editor": "^2.0.0-beta1"` at some point and created newer backwards-incompatible versions?

[2017-06-13 19:40] liperuf commented on #646
thank you @marekolszewski

[2017-06-14 16:04] mkates opened #772 "Use the Emojione Sprite"
The EmojiSelect works great but it makes an individual call for each SVG emoji, resulting in over a thousand network requests. Is there a way to use the emojisprite instead in the popover?

[2017-06-14 16:49] davidsonsns opened #773 "Limit the amount of suggestions"
In mentions, limit the amount of suggestions

[2017-06-15 17:42] danneu commented on #769
@lakesare Hey, I closed this issue because I decided I didn't have enough experience with this project to understand how to use the signatures properly much less comment on them.

I think it would be more valuable for you to make an issue coming from your own experience since you're an actual user.

[2017-06-15 21:56] matt-erhart opened #776 "custom mention component"
In the custom mention component example, createMentionPlugin takes an object with the mentionComponent field which is a function that takes props and returns the custom component. Output of createMentionPlugin get passed into the plugins prop on the editor component.

With a setup like this, how do I pass props into each of my custom mention components from the editor? My short term goal is to jus

[2017-06-16 15:30] deanshub commented on #776
currently I use suggestions prop and send my own suggestion object but to reach it from the mentionComponent is a nightmare, I use
[code]

[2017-06-17 02:52] bashkos commented on #717
With new license terms all of need is attribution, as well as for twemoji. But only emojione provide assort by categories

[2017-06-19 08:19] edwinmp opened #777 "A section of the toolbar is hidden when selected text is too close to the left edge"
![capture](https://user-images.githubusercontent.com/5672438/27275579-b45060fe-54e0-11e7-8404-a7548eb34f49.PNG)

This is unlike the toolbar behavior when the selected text is too close to right edge, which auto adjusts from a horizontal to a vertical position.

![capture2](https://user-images.githubusercontent.com/5672438/27275636-f183ecb6-54e0-11e7-98ac-80761e4143c9.PNG)

[2017-06-19 09:35] eldyvoon opened #778 "image plugin crital bug causing the editor to stop working"
On this image demo page
https://www.draft-js-plugins.com/plugin/image

inside any editor that has image, click on the right side of the image, then press enter. After that the behavior of the editor will be broken. You can see the error in chrome inspect shows:
[code]

[2017-06-19 13:38] axbarchuk commented on #329
How can I add link ability to Inline-Toolbar ?

[2017-06-20 21:09] Rosey commented on #772
Sort of related -

I like the idea of a sprite too. I am in a situation where I let the user choose which emoji set they want (twitter, emojione, apple, google) and I'm using emoji-data (https://github.com/iamcal/emoji-data) for this. For me, it would be so super convenient if the plugin switched to use emoji-data & its sprites and supported emoji type as an option - right now I just define the pa

[2017-06-22 14:29] andromedarabbit commented on #705
Any progress?

[2017-06-22 17:55] lineldcosta commented on #770
Even i am facing the same issue!

[2017-06-22 21:56] beeant commented on #500
the same thing happens for me on image plugin.
The solution, for now, seems to be wrapping the `<img />` with `<div />`, as it is mentioned here: https://github.com/facebook/draft-js/issues/1191#event-1125944192

[2017-06-26 01:39] patleeman commented on #770
I had the same issue, then the problem went away after reinstalling draft-js-plugins-editor:

[code]

[As per this page](https://www.draft-js-plugins.com/plugin/side-toolbar)

[2017-06-27 04:08] ruby97 commented on #303
in chrome, i need to type "backward" two times to remove a emoji character.
and i fix the problem as follows

[code]

[2017-06-27 06:31] inv8der commented on #613
Just fyi, the latest version according to npm is still `2.0.0-beta6`, so running `npm install draft-js-inline-toolbar-plugin` will install that version. You'll have to specify the version number until the latest tag is fixed... unless that's intentional

[2017-06-27 12:27] dangreen opened #779 "How to handle draft-js-alignment-plugin with draft-js-export-html?"
How to handle draft-js-alignment-plugin with draft-js-export-html?

[2017-06-27 16:34] viiiprock opened #780 "preventDefault EmojiSuggest in <form>"
Hi,
I got an issue when put the draft editor within EmojiSelect in side a `<form>` tag, when I click to select emoticon, it reloads the page. How to deal with it?
Thank for your reply

[2017-06-27 20:27] mhinostroza commented on #710
This fix continues
Steps to reproduce:

Focus image by clicking
Press Enter

[2017-06-28 12:48] viiiprock commented on #780
don't know why it works now

[2017-06-28 12:48] #780 closed

[2017-06-28 14:40] dglinyanov opened #781 "EmojiSelect button has default type attribute"
When placing EmojiSelector inside form, click on emoji selector causes form submit at least in Chrome (and maybe other browsers).

[2017-06-28 14:53] dglinyanov commented on #781
By the way emoji inside EmojiSelect Popover have same behavior - they are implemented as buttons and trigger form submit.

[2017-06-29 05:22] lakesare commented on #548
I'm having the same issue, my decorators don't work when multiple editors are present. It does disappear when I'm setting editor's state in the same component instead of passing `onChange` and `editorState` as props.

[2017-06-29 08:40] jf423 opened #784 "InlineToolbar reuse conflict"
**I have an issue when I plan to reuse the inline tool bar.
Here is the situation.**

**First I wrap the InlineToolbar into the component called Draft.**

`import React, { Component } from 'react';`
`import PropTypes from 'prop-types';`
`import { css } from 'glamor';`
`import { EditorState } from 'draft-js';`
`import Editor, { createEditorStateWithText } from 'draft-js-plugins-editor';`
`import cr

[2017-06-29 17:32] po5i opened #785 "Missin ImageAdd.js file in documentation for image plugin"
In the last example of https://www.draft-js-plugins.com/plugin/image it references a component: `import ImageAdd from './ImageAdd';`

But I can't find it anywhere. I really want to replicate this example in my project. Thanks.

*EDIT:* Inspecting the example I get this file:

    `import React, { Component } from 'react';
    import styles from './styles.css';

    export default class ImageAdd ex

[2017-06-30 02:48] juhaelee commented on #738
Each package has it's own changelog if you go into its directory

[2017-06-30 04:12] ghotiphud commented on #778
Seeing the same.  block.getEntityAt(0) in the image plugin blockRendererFn is returning null.

`invariant.js:44 Uncaught Error: Unknown DraftEntity key.
    at invariant (http://localhost:3000/app.js:1978:15)
    at Object.__get (http://localhost:3000/app.js:26463:59)
    at ContentState.getEntity (http://localhost:3000/app.js:34298:24)
    at Object.blockRendererFn (http://localhost:3000/app.js:2

[2017-06-30 11:07] danii1 commented on #593
Still different versions of immutable.js....

[2017-07-01 12:33] varghesethomase opened #786 "Cant extend the theme, instead completely overrides the existing theme."
const emojiPlugin = createEmojiPlugin({
  theme: {
    emoji: 'emoji-wrapper',
  },
});

This overrides the whole of the theme and the style for the emojiSelect breaks.
![screen shot 2017-07-01 at 6 02 48 pm](https://user-images.githubusercontent.com/5429756/27762073-8f6514dc-5e87-11e7-8d4d-c9bc655b2f22.png)
![screen shot 2017-07-01 at 6 02 55 pm](https://user-images.githubusercontent.com/5429756/

[2017-07-02 14:49] juhaelee opened #787 "Can't select block with alignment plugin after typing"
![alignment](https://user-images.githubusercontent.com/606411/27770850-1dfd82b0-5f14-11e7-9688-c391c2d049a6.gif)

After typing you can't select the block unless you remove the text you already inputed

[2017-07-03 06:03] orph opened #788 "FocusPlugin should support copy/paste"
The focus plugin looks great but I expect to be able to cut/copy/paste the selected block, in my case an image.

[2017-07-03 15:47] baldwmic commented on #613
thank you @stevewillard and @inv8der. gonna close this

[2017-07-03 15:47] #613 closed

[2017-07-03 19:08] FredyC opened #789 "[mentions] Avoid optionally stripping first char of search value?"
The mentions plugin is the closest match I found so far for my use case. Essentially what I want is not usual mention-like behavior, but I have a simple keyword map in the form of `Dictionary<string, string>`. Whenever the user types in 2+ characters, I want to display all suggestions based on the filter of values from this map.

[code]

I was almost excited when I did this, and it seemed to work.

[2017-07-04 16:19] ramrami opened #790 "Image plugin : Images not showing in editor"
I can't make the Image plugin to work, I have the following handler that is executed after I get an image url from my api :

[code]
but the editor's content does not change.

Here are the other parts of the code :

[code]

I'm using **draft-js-image-plugin@2.0.0-rc2**

[2017-07-04 16:46] ramrami commented on #790
By the way, when i open the css file **draft-js-image-plugin/lib/plugin.css** it's empty, is this normal ?

[code]

[2017-07-04 17:22] ramrami commented on #790
Sorry my bad I forgot to set the new state :

[code]

[2017-07-04 17:22] #790 closed

[2017-07-05 03:36] lrojas94 opened #791 "EmojiPlugin Wrong focus after EditorState.push"
If I do the following, the focus seem to stick to the last `emoji` I placed on the Editor:

1) Write an emoji - e.g: `😋`
2) Set text programically:
[code]

This seem to result in the focus staying next to the emoji, even though it should go to the end.
Note that I tried using `moveFocusToEnd`, and it works, but after writing 1 character, it returns next to the emoji.

[2017-07-05 11:25] suhasmanjunath opened #792 "Not able to delete any letter within DraftJS when I implement Mentions for andrewcoelho/react-text-editor"
Hello @nikgraf @andrewcoelho ,

I tried implementing draft-js-plugins Mentions plugin for [andrewcoelho/react-text-editor](https://github.com/andrewcoelho/react-text-editor). The Mentions implementation was successful, however the editorState was hanging everytime causing DraftJS text cursor immovable. Neither deleting nor selecting! Requesting you to kindly assist.

I think the editor state onCha

[2017-07-05 13:51] scf4 commented on #645
@avk any progress with this? I'd love to use the plugin if you've made one.

[2017-07-05 16:36] avk commented on #645
Sorry, did not and no longer working on the relevant project.

[2017-07-05 19:30] scf4 opened #793 "How to force block style on first line for a heading like Medium"
I'm just getting to grips with Draft.js and spent a couple of hours digging through docs to get this working. Figured I'd post it here in case anyone wants something similar (or if anyone has a simpler solution).

https://gist.github.com/scf4/bb49f9167d1c24357d5ee0a8bbb777de

[2017-07-05 19:30] #793 closed

[2017-07-07 13:59] ricobl commented on #329
@nikgraf: I'm doing the Megadraft integration with draft-js-plugins. Here is the issue:
https://github.com/globocom/megadraft/issues/141

I'm using the `2.0.0-rc2` version and noticed that some methods receives both `editorState` and `PluginFunctions` while others receives `PluginFunctions` with `getEditorState`.

Will there be a common signature to follow?

[2017-07-12 08:24] tibinc commented on #373
@nikgraf sorry for extending this chat..but the documentation doesn't say anything about the MockUpload and ImageAdd components.. They are simply imported.. But what are their contents?Any help would be appreciated.. I am trying to add the addimage button to my Editor.. Thank you..

[2017-07-12 17:53] po5i opened #795 "Is it possible to invoke button actions externally?"
Let's say that I have a button somewhere out of the editor (or an Electron app menu), I want to invoke BOLD like I have pressed the bold button from the inline toolbar.

Is it possible?

[2017-07-13 07:56] samkelleher commented on #795
Yeh it's possible, the editor is just rendering what's in its state so as long as you can see this you can manipulate it.

Examine the source for the draft-js-buttons project as this contains a hint for detecting when a style is active and toggling it.

https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-buttons/src/utils/createInlineStyleButton.js

This file should be a good

[2017-07-13 14:40] richtera commented on #281
I see the blockRenderMap thing there, but it's has a problem because of the map.merge. This causes the immutable to build maps for each blockRenderMap but draft.js expects a plain javascript object. Maybe an additional map using type.toJS() or something.

[2017-07-13 14:46] richtera commented on #281
This works for example.
[code]

[2017-07-13 15:30] richtera opened #797 "Add requirement to use immutable.Map when declaring blockRenderMap"
It wasn't obvious from the docs that you have to declare the blockRenderMap as a immutable.Map in order to be able to publish it from a plugin. All references inside of draft-js say it should be a object. If it is not wrapped inside of a Map then the merge function inside of draft-js-plugin-editor to merge together all blockRenderMaps will convert each child object in the map into it's own Map and

[2017-07-13 15:39] po5i commented on #795
Thanks, I am getting into it. Could you give me a hint on how to access the Editor state (i.e. from a Store)

[2017-07-13 17:00] richtera commented on #797
I am finding more and more examples where this is already true. I guess it was all my mistake.

[2017-07-13 17:00] #797 closed

[2017-07-14 11:17] abelski21 opened #798 "Uncaught TypeError: Cannot read property 'merge' of undefined"
I'm trying to play around draft-js-mention-plugin but I'm getting an error pointing to blockRenderMap code in the draft-js-plugins-editor. I'm new to draftjs and still wrangling on trying to run the samples for mentions. Here's the error I'm getting when I added the component.

[code]

Hoping there's someone who know what I'm currently missing.
Here's my code for mentions:

[code]

Seems like ther

[2017-07-14 13:34] wmill commented on #734
Nope, draft-js-mentions doesn't work in IE11 even with a polyfill. The polyfil will make it load but there are a few breaking bugs.

[2017-07-14 15:18] abelski21 commented on #798
I just figured out that draftjs I'm currently using is outdated and didn't match to the plugins I have. So updating draftjs to 0.10 fixed this issue.

[2017-07-14 17:10] abelski21 commented on #622
@suhair I'm trying to do the opposite, I want to get the deserialized value of editorState with the mentions formatted content. So for example, I have a button when on click, it will display the html value of editor. How could I get the <span> wrapper of the mention component with its style from the editorState?

Thanks in advance.

[2017-07-14 18:27] jonmaciel opened #799 "🙏 Deleting whole decorated Text"
Hello there,
I've used decorator as text variable, and I have a problem when I need to delete any variable.
The way I've found:
-Span used to to decorate (`handleSpan`):
[code]
NOTE: I use `props.contentState.selectionBefore.anchorOffset` to use it in `removeVar` callBack
NOTE2: `props.children` contains variable ID and I'm just ignoring it on displayed text

-Function used to delete decorator (it

[2017-07-14 20:55] ryanmcclure4 opened #800 "Forcing focus breaks plugins"
I've noticed that when i call `focus()` on the Editor, the emoji and mention plugins do not work -- that is, they do not respond to `:` or `@` and suggestions do not populate. I'm guessing `focus()` is somehow messing with the selectionState...any ideas on this?

[2017-07-14 23:13] pencilcheck commented on #765
Yea, I also got it work by including a lot of plugins. I wish there is a much better way to detect dependencies and use of decorators patterns more consistently among plugins...

[2017-07-18 03:21] arempe93 commented on #800
also having this issue, calling `focus()` breaks mention suggestions but inline toolbar works fine. on `v2.0.0-rc2`

[2017-07-18 03:35] arempe93 commented on #800
tried switching from doing this

[code]

to calling `focus()` on the DOM element directly like so

[code]

both focus the editor correctly, but the problems with mentions persisted

[2017-07-18 03:53] ryanmcclure4 commented on #800
I was able to find a temporary solution to this problem by using `setTimeout` on the call to `focus`:

```setTimeout(this.editor.focus, 50)```

Strangely enough, this seems to solve the problem even if you set the timeout value to 0.

My original guess on why this works would be that there is still something in the mention suggestions that is still in the process of mounting or rendering, but the

[2017-07-19 16:12] po5i commented on #583
I spent hours debugging to find out what was it. Until I realize that I was using the Editor from draft-js-plugins-editor and not from draft-js, which the normal composite decorators examples were made for.

[2017-07-20 16:14] ramrami commented on #639
I just created a PR #804 to fix this issue, hopefully it will be merged soon 😄

[2017-07-20 16:15] ramrami commented on #763
I just created a PR #804 to fix this issue, hopefully it will be merged soon 😄

[2017-07-21 14:27] po5i commented on #795
Hi @samkelleher , any help on this I will appreciate. Thanks.

[2017-07-21 15:15] samkelleher commented on #795
Hello @po5i ,

draftjs actually have a example specifically for this, and the buttons plugin that draft-js-plugins provides basically just extends this example.

https://github.com/facebook/draft-js/blob/master/examples/draft-0-10-0/rich/rich.html

This example basically wraps an editor, has access to it's state, and mutates it based on interaction with formatting buttons (like bold). These button

[2017-07-25 15:20] afercia opened #805 "Mentions: Fix support for screen readers"
In your [online documentation](https://www.draft-js-plugins.com/plugin/mention), under "Supported Environment", I can read that screen readers are supported.

I've tested the mention plugin "Simple Example" online demo with Safari10 + VoiceOver and Firefox + NVDA and neither of those can announce the suggested options while arrowing through the list.

Quickly inspecting the rendered markup, I see

[2017-07-25 17:39] po5i commented on #795
Awesome! Using an external store worked for me. I will run some tests from now.

Thanks!

[2017-07-27 09:41] #639 closed

[2017-07-27 09:41] #763 closed

[2017-07-27 09:47] nikgraf commented on #773
Hi @davidsonsns, for this use-case I recommend you to pass in your own filter function that limits the suggestions for you. I hope that helps.

[2017-07-27 09:47] #773 closed

[2017-07-27 09:48] #753 closed

[2017-07-27 11:01] #116 closed

[2017-07-27 11:03] juliankrispel commented on #119
@Aleksion is this still an issue btw? I don't have an android phone I'm afraid.

[2017-07-27 11:04] juliankrispel commented on #135
Never got around to doing this :) I'll leave this open in case I have the time soon

[2017-07-27 11:05] juliankrispel commented on #252
fixed in #802

[2017-07-27 11:05] #252 closed

[2017-07-27 11:07] juliankrispel commented on #235
there's been an inline-toolbar-plugin added to the repo since

[2017-07-27 11:07] #235 closed

[2017-07-27 11:08] juliankrispel commented on #231
This isn't an issue anymore, people can now use plain objects as well...

[2017-07-27 11:08] #231 closed

[2017-07-27 11:10] ZozuliaDV commented on #457
in defaultRegExp.js add \u0400-\u0500
`exports.default = '[\\w\u4E00-\u9EFF\u3040-\u309F\u30A0-\u30FF\uAC00-\uD7A3\u3130-\u318F\u0400-\u0500]*';`

[2017-07-27 14:32] ramrami opened #806 "Handling pasted text with handlePastedText does not work!"
I just want to trim the text when pasting, to avoid undesired whitespace. The DraftJs docs says that I should use `handlePastedText`, that's what I did with the following code :

[code]

but that didn't work, until I changed `import { Editor } from 'draft-js-plugins-editor';` to `import { Editor } from 'draft-js';`

Here are some gifs :

(With the normal Editor)
![ezgif com-video-to-gif 3](https:/

[2017-07-27 16:09] gsgilman commented on #717
Any update on the status for this?

[2017-07-27 20:20] nikgraf commented on #805
That's awesome feedback! Thanks you very much for looking into it

[2017-07-28 03:21] juliankrispel commented on #633
Tested this and looking at it @albertomr86's suggestion is right. Whenever we update `mentionSuggestions` with a list that has a length of 0, the popover will close, which will screw up subsequent updates.

[2017-07-28 06:10] lukephills opened #808 "Focus plugin breaks on keyboard enter press"
Steps to reproduce:

1. Load 'Simple Focus Example': https://www.draft-js-plugins.com/plugin/focus
2. Focus the coloured box
3. Press enter

It should add a new line after the box, but instead crashes the app.

[2017-07-28 08:10] juliankrispel commented on #784
@jf423 you need to instantiate one plugin per editor. It's not super obvious but is documented

[2017-07-28 08:10] #784 closed

[2017-07-28 08:30] juliankrispel commented on #785
@po5i this is the folder with all the image examplesa https://github.com/draft-js-plugins/draft-js-plugins/tree/master/docs/client/components/pages/Image

This is the file you're looking for https://github.com/draft-js-plugins/draft-js-plugins/blob/master/docs/client/components/pages/Image/AddImageEditor/ImageAdd/index.js

[2017-07-28 08:30] #785 closed

[2017-07-28 08:31] juliankrispel commented on #786
@varghesethomase you can include the styles from `draft-js-emoji-plugin/lib/plugin.css` and then extend that yourself!

[2017-07-28 08:31] #786 closed

[2017-07-28 08:32] juliankrispel commented on #787
aha, will look int o thi

[2017-07-28 08:32] juliankrispel commented on #787
thanks for reporting the issue

[2017-07-28 08:36] juliankrispel commented on #806
thanks @ramrami  will investigate

[2017-07-28 12:00] juliankrispel commented on #805
@afercia really great feedback! Will be looking into fixing this shortly

[2017-07-28 12:20] juliankrispel commented on #799
@jonmaciel this isn't necessarily draft-js-plugins related. For questions and troubleshooting it's best to get on to the draft-js slack or post a question on stackoverflow

[2017-07-28 12:20] #799 closed

[2017-07-28 12:20] #798 closed

[2017-07-28 12:21] #795 closed

[2017-07-28 12:23] juliankrispel commented on #792
@suhasmanjunath for questions and troubleshooting please ask on stackoverflow or on the draft.js slack, I'd be happy to help and so would others!

[2017-07-28 12:23] #792 closed

[2017-07-28 12:24] juliankrispel commented on #791
@lrojas94 thanks for reporting this I'll have a look! If you made any progress lmk!

[2017-07-28 12:26] juliankrispel commented on #789
I'll have a look at this and get back to you!

[2017-07-28 12:27] juliankrispel commented on #788
@orph that's nothing to do with the focus plugin itself really. Draft.js has functionality for handline pasting of text and files, [look here](https://draftjs.org/docs/api-reference-editor.html#handlepastedtext)

[2017-07-28 12:27] #788 closed

[2017-07-28 12:29] juliankrispel commented on #777
Nice find! Thanks for reporting, If anyone wants to open pr for fixing this please do!

[2017-07-28 12:30] juliankrispel commented on #778
Thanks for reporting this! If anyone wants to take up this bug, please do!

[2017-07-28 12:35] juliankrispel commented on #768
@gmchaturvedi1 you could help us debug this by setting up a little repository for reproducing this. Would be awesome :)

[2017-07-28 12:38] juliankrispel commented on #767
Great find @andpor thank you! Fix is on the way

[2017-07-28 12:41] juliankrispel commented on #738
@StorytellerCZ since we have all the plugins in one repo tagging releases doesn't make much sense. But I think it's up for discussion whether that still makes sense.

[2017-07-28 12:43] juliankrispel opened #812 "Does it make sense to have all plugins in one repository"
I get it, it's for ease of development, managing all the plugins etc.

But it's also a little problematic. Because:

- We can't really tag releases in gh
- You can't install plugins from github (In some cases you might want to)
- It brings up the question of how we version plugins. Right now they always all have the same version...

@nikgraf WDYT?!

[2017-07-28 12:44] juliankrispel commented on #772
Yea that's fair enough. I think we need to make this plugin more configurable in general.

[2017-07-28 12:44] juliankrispel commented on #772
@bashkos were you going to look at this?

[2017-07-28 13:00] StorytellerCZ commented on #738
@juliankrispel There are some ways that we could play with it that it would work, but I think that would be more pain than gain. The only way tagging would help would be if all the releases happen at the same time like they have been happening with 2.0 beta.

[2017-07-28 14:00] juliankrispel commented on #738
@StorytellerCZ what about splitting up the repo, see -> #812

[2017-07-28 15:04] juliankrispel commented on #734
@1Jesper1 @wmill can you provide more info? O_O error logs etc?

[2017-07-28 15:39] wmill commented on #734
The problems are in draft-js, two big issues.

First the implementation they use of setImmediate doesn't work in IE10/11. The setImmediate package will try to use the global setImmediate function if it exists, but the IE10/11 function can only be called as window.setImmediate. You have to call setImmediate.bind(window) and use the result.

Known bug since 2014, no one seems to care.
https://github

[2017-07-28 17:34] #633 closed

[2017-07-28 17:35] #767 closed

[2017-07-28 18:32] juliankrispel commented on #781
oh o_O

[2017-07-28 19:39] juliankrispel commented on #282
hm, it's kind of a shame that this was never merged :/, sorry about that @joehua87 :/

[2017-07-28 19:46] juliankrispel commented on #646
[I can find it on npm o_O](https://www.npmjs.com/package/draft-js-drag-n-drop-plugin)

[2017-07-28 19:47] #646 closed

[2017-07-28 19:48] #447 closed

[2017-07-28 19:53] DominikGuzei commented on #646
@juliankrispel we meant the `draft-js-drag-n-drop-UPLOAD-plugin` which is still not available 😉

[2017-07-30 04:42] haydenbleasel commented on #776
I needed to bind mentions to React Router's `Link` component. Took a bit of digging but here's what I got:

[code]

[2017-07-30 04:44] haydenbleasel commented on #290
Took a bit of digging but here's what I got:

[code]

[2017-07-30 04:45] haydenbleasel commented on #776
Check out https://github.com/draft-js-plugins/draft-js-plugins/issues/290#issuecomment-318878114

[2017-07-30 22:53] CalebGM opened #813 "Resizeable and Alignment changes not saving to server"
So I've been trying to use draft-js-plugins to form a rich text editor to write up articles. These articles are then saved to a server and brought back to be displayed.

I wanted to use resizeable and alignment plugins to move around images and change size. Then I use convertToRaw to store everything as a JSON in the server. And convertFromRaw to bring it back to an EditorState to display. However

[2017-08-01 16:38] AugustKarlstedt opened #815 "Multiple Editors each with an Inline Toolbar - Positioning Issues"
I have multiple editors on a single page. Each editor has a separate plugins, one of which is the inline toolbar plugin. When selecting text in one editor and then moving on to the next, I sometimes see multiple toolbars appearing over the editors. After inspecting, it seems that one of the editors nearby is updating its toolbar to show over the wrong editor. Gif of issue below.

![draftjspluginis

[2017-08-01 16:53] icd2k3 commented on #806
Same issue here - simpler test:

[code]

[code]

[2017-08-01 19:20] icd2k3 commented on #806
More details: to be clear, `handlePastedText` IS always called when pasting text, but the return value is ignored in draft-js-plugins-editor

[2017-08-01 19:42] icd2k3 commented on #806
@ramrami and @juliankrispel we figured this one out. The draft-js docs are confusing for [handlePastedtext](https://draftjs.org/docs/api-reference-editor.html#handlepastedtext) which state:

This should actually read:

So, for my example above, switching to this works:

[code]

[2017-08-01 22:45] ramrami commented on #806
Thanks @icd2k3, this is interesting. However, if you look at the `draft-js` source code [here](https://github.com/facebook/draft-js/blob/master/src/component/utils/isEventHandled.js), the function is checking for `value === true`.

[code]

So both values should work (maybe the docs should be updated with both values). But IMO it's still a problem with `draft-js-plugins` that sould check for both v

[2017-08-01 23:25] icd2k3 commented on #806
Thanks @ramrami I'll work on a fix here

[2017-08-05 18:00] fei115 opened #820 "Image plugin with decorators is always editable when set to readOnly"
Hi, I am running into this issue where the editor is set to readOnly mode, but the alignment + focus can always be triggered when clicking the image.
[code]
Then in the render method I have:
[code]

[2017-08-07 04:48] ramsgoli commented on #812
I agree with these points! I'd like to install some of the plugins individually to experiment/make modifications but can't really do that easily. Maybe you can use git submodules?

[2017-08-07 20:28] juliankrispel commented on #812
@ramsgoli feel free to chime in, feedback will be taken into account

[2017-08-07 21:21] jrock17 commented on #812
You can install each of the plugins separately (in fact that's the only way to install them). Once your editor is installed, just install the plugins you want like so:
`npm install draft-js-emoji-plugin@[version] --save`

[2017-08-07 21:34] juliankrispel commented on #812
I think what he means is he'd like to fork plugins and get the packages from a git repo which isn't currently possible :/.

[2017-08-07 21:35] juliankrispel commented on #812
I think the main thought behind one repository is that the project is easier to manage...

[2017-08-09 08:05] maniksingh92-xx opened #822 "Get Entity key for added mention in onAddMention"
Hi,

I wish to get the `entityKey` of a mention when it is added to the draft editor.

I have a custom `mentionComponent` with an `onClick` event:
[code]
Since a user can add a single mention multiple times within a draftjs editor instance, and I am displaying multiple draftjs editors at the same time, the purpose of my implementation is to manage and distinguish between inserted mentions, whether

[2017-08-09 08:09] maniksingh92 commented on #822
So I have found a dirty solution for this problem:

[code]

It does show up in the data of the mention entity in the `contentState`.

Though, I am not sure whether this is the correct way to modify immutable data structures.

[2017-08-09 08:20] maniksingh92 commented on #822
Figured out another solution,
The `entityKey` provided by `contentState.getLastCreatedEntityKey()` is unique throughout my app, across multiple draftjs instances.

So I am maintaining another object to map my mentions to these `entityKey` values.

[code]

And inside my custom `mentionComponent` I do something like this:
[code]

As of now, I will go with this approach, although I would still prefer

[2017-08-09 08:54] tention commented on #815
I am facing the same problem here. Anyone has a solution for this?

This problem will not occur if we click on somewhere else to deactivate the first toolbar, before clicking the second Editor.

[2017-08-09 13:51] maniksingh92 commented on #822
SOLUTION:
This is an ugly solution which modifies the immutable `mention` object. Not sure if this is the right way to go, but it works for me.

[code]

The key `uniqueId` is preserved in the immutable data of `mention`, even after using `convertToRaw`.

[2017-08-11 06:51] tention commented on #815
Following PR fixed the problem.

https://github.com/draft-js-plugins/draft-js-plugins/pull/817

[2017-08-11 09:09] Kornil commented on #815
Hi @tention sorry I did not see your bug report while submitting the PR.

This bug is related to the inline toolbar persisting out of its own editor, I found the issue in a similar way, just clicking out of the editor the sidebar was following the cursor.
The PR I submitted fixes this problem by making the toolbar checks if the click is inside the editor before it appears.

[2017-08-11 09:27] nikgraf commented on #457
@kortv we just merged a PR and going to release a new version today 😄

[2017-08-11 09:27] #457 closed

[2017-08-11 09:30] nikgraf commented on #717
@gsgilman didn't get to work on it. are you interested to contribute a PR?

[2017-08-11 09:32] nikgraf commented on #808
just confirmed

good find @lukephills! interested to contribute a fix?

[2017-08-11 09:36] nikgraf commented on #786
@varghesethomase I hope this helps https://github.com/draft-js-plugins/draft-js-plugins/blob/master/FAQ.md#can-i-use-the-same-plugin-for-multiple-plugin-editors

[2017-08-11 09:37] nikgraf commented on #784
@varghesethomase I hope this helps https://github.com/draft-js-plugins/draft-js-plugins/blob/master/FAQ.md#can-i-use-the-same-plugin-for-multiple-plugin-editors

[2017-08-11 10:01] juliankrispel opened #824 "Document order for competing plugins"
When plugins have competing strategies, order matters, we need to document this!

[2017-08-11 10:02] nikgraf commented on #824
Cam up here: https://github.com/draft-js-plugins/draft-js-plugins/pull/821

[2017-08-11 10:11] juliankrispel opened #825 "Bug with mentions plugin, hitting enter at end of text"
To reproduce:

1. Run docs locally
2. focus on frontpage editor
3. Hit enter a couple of times
4. See mentions being inserted

![mentions-bug](https://user-images.githubusercontent.com/1188186/29209302-bcbfd2fa-7e85-11e7-9f33-ca7611f637a0.gif)

[2017-08-11 10:21] #824 closed

[2017-08-11 10:40] nikgraf commented on #771
@NamitYadav we published a rc3 recently and going to publish a rc4 today. You can find it under `/lib/plugin.css`

[2017-08-11 10:40] #771 closed

[2017-08-11 10:47] nikgraf commented on #761
That depends on the source e.g. if it would be your code editor just providing plain text then it would. Copying from Word this could be possible, but currently not in scope for any of the plugins we maintain.

[2017-08-11 10:47] #761 closed

[2017-08-11 10:57] Kornil commented on #815
Follow-up: The PR has been merged, fix should now be available on `@2.0.0-rc4`

[2017-08-11 11:03] juliankrispel opened #827 "Drag and drop bugs"
When dragging around an image, text gets broken up and focus jumps all over the place.

- [ ] fix selection position
- [ ] remove linebreaks caused by dragging blocks

![drag-and-drop-bug](https://user-images.githubusercontent.com/1188186/29210180-17ea7f5a-7e8a-11e7-9cab-bc7c5018549c.gif)

[2017-08-11 15:29] Shadowman4205 commented on #500
@beeant
How wrapp img with div? i tried this

but still the same, gettin error on Enter press

[2017-08-11 17:01] AugustKarlstedt commented on #815
Thanks @tention and @Kornil!

[2017-08-11 17:01] #815 closed

[2017-08-11 17:28] jgrisafe opened #828 "Hyphen in mention search terminates the search"
We have usernames that contain hyphens and the onSearchChange will cancel out when a hyphen is included in the search term e.g. `@john-johnson`

[2017-08-15 01:55] jmbyerly opened #832 "Specify which property of the mention object is used for mention text"
I'm using the Mentions plugin and want to specify which property of the mention object is used for the mention text when an item from the suggestions dropdown is selected and a mention entity is created.

Right now, the code that sets the text for the mention entity in the `addMention` function defaults to using the `name` property:

[code]

I'd like the option to add a `mentionTextPropertyName` p

[2017-08-15 14:54] juliankrispel opened #833 "Refactor: Share createStore"
Currently we have a simple pub-sub mechanism that's more or less identical for a couple of plugins.

We should share this among the plugins so we have one place to update rather than many...

cc @nikgraf

[2017-08-15 15:40] juliankrispel opened #834 "Enable plugin editors to get editorState before Editor renders"
Right now any component which needs access to editorState but lives outside the plugin editor needs to be rendered after the PluginEditor so it always has access to the current editorState, this seems a little silly so I'm looking for alternative approaches.

However there may be reasons I don't know about that caused the plugin editor to be designed this way.

Any thoughts anyone?

[2017-08-15 15:55] juliankrispel opened #836 "Refactor LinkButton into draft-js-buttons"
LinkButton should be where all the other buttons live in [draft-js-buttons](https://github.com/draft-js-plugins/draft-js-plugins/tree/master/draft-js-buttons). Related to #819

[2017-08-15 15:57] #776 closed

[2017-08-16 00:08] #828 closed

[2017-08-16 06:15] juliankrispel commented on #827
Interesting! If it's a feature what's the use-case?

Julian Krispel
UI Engineer & Consultant
http://reactrocket.com
+447988116178

[2017-08-16 14:21] juliankrispel commented on #812
Another really annoying thing about this is the confusion about versioning. Right now we version all of the plugins together, even if they don't change...

[2017-08-16 14:33] juliankrispel opened #839 "Add missing `type=button` to buttons"
Some buttons don't have `type="button"` which makes them submit forms

[2017-08-16 17:07] lxwbr opened #841 "[draft-js-side-toolbar-plugin] - influence positioning"
Is there a way to override the behaviour of side toolbar's position?

The only way I found is doing this:
[code]
and
[code]
But adding `left` or `top` to the .css does not influence the position, because it is being overwritten by routines while making the toolbar visible.

From what I saw so far the position is hardcoded here:
[code]
Would be great to be able to influence that behaviour

[2017-08-17 07:20] grinono opened #842 "InlineToolbar/SideToolbar reuse conflict"
it's not possible to use the same plugin for multiple plugin Editors.
As can be found in #784 and  [https://github.com/draft-js-plugins/draft-js-plugins/blob/master/FAQ.md#can-i-use-the-same-plugin-for-multiple-plugin-editors](url)

Though i iterate the editors from a datasource array. So creating a new Editor per iteration is not a alternative.

Is their any other solution to fix having multiple

[2017-08-17 08:39] juliankrispel commented on #842
@grinono you need to instantiate a plugin instance for every editor. It's unfortunate that this isn't obvious and I'm looking for a way to improve the docs to make it more obvious, suggestions welcome.

[Here's a link to the section of the faq that explains this.](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/FAQ.md#can-i-use-the-same-plugin-for-multiple-plugin-editors)

[2017-08-17 08:39] #842 closed

[2017-08-17 11:52] grinono commented on #842
I understand that's the case. Tough the number of editors that are on the page is a variable number. Between 1 and 100. I now just show a list of Editors with content in the Editor with readOnly="false"  is then the only option to show the content in HTML for example. And then when clicking Edit a singel Editor instance is loaded.

[2017-08-17 11:57] juliankrispel commented on #842
@grinono I'm not sure what the problem is actually is here tbh.

This is probably better talked about over chat rather than a github issue. Feel free to join the [draft-js slack](https://draftjs.herokuapp.com/) I and others would be happy to assist you :+1:

[2017-08-18 00:33] quocble opened #843 "[question] Is it possible to prevent draftjs to cursor over mentions?"
After you entering a mention entity, you can move the cursor between the text, and start typing then it breaks the index.  In some case, i assume this could be a feature.  But is it possible to have draft js treat as one cursor position?

[2017-08-18 09:44] #839 closed

[2017-08-18 13:00] OriR opened #845 "[draft-js-mention-plugin] Dynamically change the theme"
Currently I can only pass the `theme` through `createMentionPlugin`, which means that in order to re-theme the mentions I have to invoke `createMentionPlugin` again.
Which I'm doing, but doesn't seem to work, it appears to break the mentions altogether.

The only thing that works is re-mounting (unmount & mount immediately) the editor which feels really hacky.

But, it also makes me think of the b

[2017-08-18 15:42] SevenZark commented on #705
I'm having a similar issue, leaving my project dead in the water for now. No progress on it since April has me worried. I hope somebody cares, at some point! :)

To provide a bit of context, I'm trying to do one of the examples shown in the official documentation for the image plugin. But when I try to install the drag-and-drop upload package I get this:

[code]

[2017-08-19 18:57] juliankrispel commented on #845
@OriR what you're trying to achieve should be possible, a few solutions come to mind:

- Rerender the editor and recreate the plugins when your theme changes
- Create nested selectors for the styles you want to adapt and simply change the class of a container component - like `.black-theme .mention { ... }`

[2017-08-19 18:57] #845 closed

[2017-08-19 19:00] juliankrispel commented on #843
I think I understand what you're saying but I'm not 100% sure. Mentions are immutable, that means that you can't edit the text within the mentions. This is absolutely intentional and won't change I'm afraid.

If you can tell us more about your usecase however, maybe there's a discussion to be had about whether to create a plugin like this. Feel free to reach out on the [draft-js slack](https://dra

[2017-08-19 19:00] #843 closed

[2017-08-19 19:01] juliankrispel commented on #841
Maybe some configuration would be justified here. Can you tell me more about your usecase (what you're trying to do) and what options you'd expect?

[2017-08-21 14:36] dovydaskukalis commented on #724
Same issue on rc5.

[2017-08-22 12:41] davidsonsns opened #847 "Disabled TabIndex in InlineToolbar"
When you press tab and enter the Draft you must press several tabs to go to the next field of the form.
I do not know if this is correct but I made the following change in my component.

[code]

This disables the tabindex of the Inlinetoolbar buttons

[2017-08-23 17:53] icd2k3 opened #848 "Bug: draft-js-emoji-plugin, IE11, and `imagePath`"
Hey all, thanks for the great work happening here!

I am using the `imagePath` option to point to a directory of emojiOne v. 3.1 svgs like so:

[code]

This looks great on chrome, etc and the emojiOne v3 assets are being displayed correctly in the tooltip menu...

Chrome, Safari, etc:
![emoji-chrome](https://www.dropbox.com/s/avw3ovl3fkp5jvn/Screenshot%202017-08-23%2010.48.55.png?raw=1)

However,

[2017-08-30 13:28] aabanaag opened #851 "AnchorPlugin ES6 build error"
## Description
![image](https://user-images.githubusercontent.com/2245822/29872422-2ac7aef8-8dc2-11e7-8bb6-4d853dd77ac1.png)

(Add images if possible)

## Steps to reproduce
I added a module named draft-js-anchor-plugin which in turn uses url-regex as one of its child module. url-regex is written in ES6(github.com/kevva/url-regex) this has to be transpilled but tried using exclude: /node_modules\/

[2017-08-30 13:53] stevewillard commented on #851
I noticed this bug too. If you're using Webpack/Babel, as a work around, you can tell your babel-loader to transpile that library

[code]

[2017-08-30 14:00] aabanaag commented on #851
I think I also tried this, but either way got new error.

[code]
initially my loader is something like this

[code]

[2017-08-30 14:03] stevewillard commented on #851
That looks like your app code. Instead of using `exclude`, use `include` to include your app code and also `url-regex` which is in the node_modules folder. In my example, my code is under a src directory - it looks like yours is called `app`?

[2017-08-30 14:05] aabanaag commented on #851
yes I did changed it to point to app instead or src hence got the error. also removed exclude then inserted the code you posted. I'm using react-boilerplate anyways if it might help narrow the issue.

[2017-08-30 14:34] aabanaag commented on #851
Closing this as I managed to fix the issue by simply using uglifyjs-webpack-plugin as this module uses uglify-es which supports ES6.

[2017-08-30 14:34] #851 closed

[2017-08-30 18:59] Ledoux opened #853 "setTimeOut triggers while the component is already unmounted"
Here:

https://github.com/draft-js-plugins/draft-js-plugins/blob/e5ad5da34b6c23e0178d33edc8a1c752398aaab5/draft-js-alignment-plugin/src/AlignmentTool/index.js#L46

... I therefore have a 'this.setState while component is unmounted' warning in my app... wondering if it is due to a tricky setup in my code or if systematically it should happen given the code here.

as an 'antipatern' quick fix, somet

[2017-08-31 15:23] tomkis opened #855 "Emoji plugin seems to have very slow initial load"
Whenever emoji plugin is used, editor boot time is incredibly slow. It takes couple seconds to initialize the emoji.

It might have something to do with:

https://github.com/draft-js-plugins/draft-js-plugins/issues/772

[2017-08-31 16:23] THook commented on #631
Have you found any workaround? I have a use case where user mentions existing tags or creates one if it doesn't exist already. Mention plugin actually gets triggered on 2.0.0-rc5 but overrides decorators starting with the same prefix ('#' in my case).

Any idea?

[2017-09-01 08:03] thomas88 opened #856 "Pressing arrow key up/down with mention/emoji plugin should move the cursor"
First of all thank you for the amazing, high quality plugins! Great work 👍

Currently when pressing arrow key up/down in the mention/emoji plugin examples, the cursor does not move up/down, as you can see in this screen capture:

![mentions](https://user-images.githubusercontent.com/1851359/29960622-b4e730e6-8efc-11e7-893e-c5857010d9c6.gif)

Any hints on what's happening here?

[2017-09-01 08:45] thomas88 opened #857 "Mentions plugin should replace all text between @ and last character of mention"
See this screen capture:
![mentions](https://user-images.githubusercontent.com/1851359/29961998-beccf226-8f01-11e7-88b0-70f630c66b87.gif)

Something seems to be off with the `defaultSuggestionsFilter`, as it probably shouldn't return any suggestions for " i i i i i".

And then the plugin should replace all the text, starting with the @ character to the last character of the mention.

I haven't dug

[2017-09-02 10:21] hamed-farag opened #859 "DraftJS Emoji Plugin - Bundle Size"
i am using draft emoji plugin, my webpack package analyzer show me that there is a huge package on my bundle
![image](https://user-images.githubusercontent.com/5382471/29994808-26ca4b6c-8fd9-11e7-9710-677462d930fe.png)

is there any way to reduce bundle size

[2017-09-02 18:38] glenswift commented on #786
Each class in `draft-js-emoji-plugin/lib/plugin.css` has suffixes, how can I reliable overwrite them?

[2017-09-02 21:25] dovydaskukalis commented on #857
Plugin seems to work much better if I comment out [this line](https://github.com/draft-js-plugins/draft-js-plugins/blob/e5ad5da34b6c23e0178d33edc8a1c752398aaab5/draft-js-mention-plugin/src/MentionSuggestions/index.js#L45)

[2017-09-06 06:06] dimaslz opened #860 "Use Emoji-Mart in emoji-plugin"
Hi team!

I need to use the https://github.com/missive/emoji-mart component like emoji render in draft-js-emoji-plugin, In fact I doing the modification to solve that. To release, if I do a PR, is a good point to have in draft-js-plugins or is better to do a 3rd party package directly on npm?

Thanks!!

cc: @nikgraf

[2017-09-06 08:33] sevikon commented on #855
@tomkis yeah, you are right.
I wasted one day to find out what's the problem with my application. It was totally freezing tab in Google Chrome when it started to load all images.
I fixed it with this package:
https://github.com/Deveo/emojione-png-sprites
I replaced image and background image with span tag in render method and change a bit css.
And it works like a charm now :)
I hope it helps you o

[2017-09-06 18:35] zolcman opened #861 "Uploaded image is not showing"
Response from server is ok, I get URL like this https://dev.hylaa.net/oa/file/902411bd7f151d0a00397ffa28da6d69

But image not paste in to the popupbox,

my code is

[code]
[https://youtu.be/C68oVRoDmyw](https://youtu.be/C68oVRoDmyw-) video with mybug

[2017-09-06 19:56] #861 closed

[2017-09-08 14:36] juliankrispel commented on #860
this is actually kind of a cool idea because then we wouldn't have to maintain this ourselves, what do you think @nikgraf

[2017-09-08 14:37] juliankrispel commented on #860
@dimaslz I'll reach out to nik and will get back to you on that, definitely like the idea!

[2017-09-08 18:06] romanlex commented on #855
@sevikon can you please add simple how make this with **draft-js-emoji-plugin**

[2017-09-09 11:08] jamesfriedal opened #863 "Could the Hashtag plugin be adopted for other characters?"
Hastag plugin is cracking.

I also want to style the text to be blue after the '@' key is pressed as well as the #key.
Just like  _#cool_ comes out as blue I would also like _@cool_ to come out as blue.

Perhaps this may work in a similar way to reimertz's implementation in this pull request #854
Massive thanks for any help.

[2017-09-09 19:59] dimaslz commented on #860
@juliankrispel @nikgraf ok, perfect. I will do the PR soon. I did a plugin in local in a project, but I will work in the proper plugin inside draft-js-plugin.

In fact, in this plugin I will use the last version of emojione because emoji-mart is using it.

So, a quick question. Do you want that I do the new parameters inside draft-js-emoji-plugin to use this component or create a new one like draf

[2017-09-09 23:04] juliankrispel commented on #135
So I'm starting to redo the docs with gitbook.

![image](https://user-images.githubusercontent.com/1188186/30244646-37b5b998-95ba-11e7-9734-24c75b08cd9a.png)

The target:
- Improve the UX of reading the docs in general
- Improve the UX of updating docs (When I write docs I don't really want to think about using react components, let me write markdown all the way).

That's pretty much the most impo

[2017-09-10 07:39] juliankrispel commented on #860
I would refactor the emoji plugin. Fel free to reach out to me on the draft js slack if u want to talk more about the how ✌️

[2017-09-11 10:31] thomas88 commented on #298
Just ran into this issue myself and would appreciate to have it in the docs. Can you please add the pull request for your proposed changes @jakegavin?

[2017-09-11 11:19] juliankrispel opened #864 "Array should be allowed for mention suggestions, Immutable.List should be deprecated"
I'd say:

1. At first - handle both, array and immutable list and show deprecation warning
3. Deprecate immutable list for next major version (v2?)

[2017-09-11 15:31] williamli opened #867 "No compatible version found: draft-js-plugins-editor@2.0.0-rc6"
`npm install draft-js-plugins-editor@2.0.0-rc6 --save`

No compatible version found: draft-js-plugins-editor@2.0.0-rc6

Valid install targets:
0.0.0, 0.1.0, 0.2.0, 1.0.0-beta1, 1.0.0, 1.0.1, 1.1.0, 2.0.0-beta1, 2.0.0-beta.2, 2.0.0-beta.4, 2.0.0-beta5, 2.0.0-beta6, 2.0.0-beta7, 2.0.0-beta8, 2.0.0-beta9, 2.0.0-beta10, 2.0.0-beta11, 2.0.0-rc1, 2.0.0-rc2, 2.0.0-rc3, 2.0.0-rc4, 2.0.0-rc5

use the follo

[2017-09-12 03:40] williamli opened #868 "side-toolbar-plugin theming not supported?"
according to the docs,

[code]

I can customise the toolbar with css.

However, when I tried to provide a new size for .blockType

[code]

It the size of blockType is still 36px x 36px (default).

[2017-09-12 04:55] jakegavin commented on #298
@thomas88 Sorry to hear you hit the same pain point and sorry to have not followed through on opening up a pr.

PR is here: https://github.com/draft-js-plugins/draft-js-plugins/pull/869
I wasn't sure whether to change all the examples to use the property-based approach or add another example with multiple editors. Happy to change it to the latter if there is a downside to always assigning it to a

[2017-09-13 09:17] juliankrispel opened #873 "Proposal - Change plugin creator functions to be higher order functions"
It's confusing having to create plugin instances for every editor.

Instead, we could simply handle plugin instantiation within the editor instead of letting the user do it manually:

Proposal:

Instead of returning an instance for every plugin, return a function, which will then be initiated by the Plugin Editor

[2017-09-13 09:27] juliankrispel commented on #860
@dimaslz just talked to @nikgraf. Would be great to refactor the plugin to use emoji mart.

Do you want to go ahead? Feel free to reach out to me on slack about it!

[2017-09-13 09:29] #825 closed

[2017-09-13 09:29] #857 closed

[2017-09-13 09:32] #864 closed

[2017-09-13 11:17] davidsonsns opened #875 "[draft-js-linkify-plugin] - Parameter component not working"
Parameter `component` not working in Linkify Plugin
In node_modules this is so

[code]

[2017-09-13 20:19] juliankrispel commented on #867
@williamli whoops, try rc-7 :)

[2017-09-13 20:19] #867 closed

[2017-09-14 04:20] williamli commented on #867
@juliankrispel will `@beta` automatically maps to rc-7?

[2017-09-14 11:11] #856 closed

[2017-09-14 11:17] thomas88 commented on #692
Fixed by https://github.com/draft-js-plugins/draft-js-plugins/pull/870

[2017-09-14 11:23] thomas88 commented on #687
Fixed by https://github.com/draft-js-plugins/draft-js-plugins/pull/871

[2017-09-14 12:48] thomas88 commented on #832
This would also help me. We're having users with a `firstName` and `lastName` property and I'm currently setting a `name` property with `${firstName} ${lastName}` for each mention suggestion.

I think both cases could be handled by allowing to pass in a `mentionText(mention, mentionPrefix)` function that overrides a default function
[code]

[2017-09-14 13:18] thomas88 commented on #875
Which version of the plugin are you using? The `component` prop is only available in version 2 upwards (still in beta/rc). See also https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-linkify-plugin/CHANGELOG.md

[2017-09-14 19:38] davidsonsns commented on #875
I'm using the version 2.0.0-beta1, tks

[2017-09-15 05:54] juliankrispel commented on #875
@davidsonsns please provide a [codesandbox](codesandbox.io) so we can reproduce and help you

[2017-09-18 09:02] aanchalgera opened #879 "create-react-app"
The anchor plugin is not working with create-react-app because of the dependency on url-regex as url-regex compiles in es6.

[2017-09-19 22:01] agarrharr opened #881 "Mention Plugin - Problem with mentionTrigger"
When I make the `mentionTrigger` a parenthesis `(` or bracket `[`, like this:

[code]

I get this error:

[code]

This only happens if the first thing that I type into the editor is `(`. If I type some other characters first, it works fine.

Is there a way to achieve the same thing with `mentionRegExp`?

[2017-09-19 22:05] agarrharr commented on #881
This only happens if the first thing that I type into the editor is `(`. If I type some other characters first, it works fine.

[2017-09-20 13:09] tarjei opened #882 "draft-js-plugin-buttons: Support sub and sup buttons + custom button"
Hi, it would be great if `draft-js-buttons` could have support for sub and sup buttons. Also, it would be nice if there was a function to create custom buttons where one could extend the click event to handle external stuff like file uploads etc.

This is the code I use today to get sub/sup:
[code]

And also in the editor customStyleFn:
[code]

[2017-09-20 14:11] trevtrich opened #883 "draft-js-image-plugin: adding image on blank line adds ContentBlock above & below"
When using `addImage` with the cursor position on an empty line, the resulting state is three ContentBlocks: 1) empty block, 2) block containing image entity, 3) another empty block. The creation of the empty blocks seems like a side-effect.

If I use `addImage` in the middle of a block of text, I also get three blocks, but all are three have content: 1) block with text before the cursor, 2) block

[2017-09-20 16:02] mxstbr opened #885 "Pressing enter on a focussed image"
When I press ENTER on a focussed image the newline is inserted before the image. (right now it crashes entirely, replicate-able after merging #880 on the website) This makes it impossible to add more text after an image that's at the end of the content.

Recording of the issue:
![enter-image 1](https://user-images.githubusercontent.com/7525670/30654324-d1550178-9e2d-11e7-9a37-6e4b9a2b0566.gif)

[2017-09-20 17:13] bradbirnbaum commented on #638
I am also observing the same thing.   Any chance for a fix?

[2017-09-20 17:14] #778 closed

[2017-09-20 20:50] alixander-stripe commented on #800
Any update on this @juliankrispel ? I ran into this issue as well and it's not obvious that focusing would be a blocking issue to having the mentions plugin work. Maybe it could be noted in docs for now

[2017-09-21 20:59] stevewillard opened #886 "emoji-plugin useNativeArt breaks deleting emojis"
If we create an emoji-plugin with the `useNativeArt` option, you can't delete emojis after you have created them. To reproduce:

[code]

1. Add an emoji to your editor
2. Delete (the cursor jumps to the beginning of the line)

[2017-09-21 21:28] bjhytrek commented on #335
@laszlokiraly  Could you give a little more context to your code snippet? I also have the use case where the editor is always in **edit** mode but links need to be clickable.

I'm currently bringing the plugin in on the same level as my Editor component like so.
`
import createLinkifyPlugin from 'draft-js-linkify-plugin';
import React from "react";

const linkifyPlugin = createLinkifyPlugin();

ex

[2017-09-22 00:10] MarksCode commented on #500
@Shadowman4205 ever figure it out?

[2017-09-22 12:11] davidsonsns commented on #875
I created this project [https://codesandbox.io/s/pyoy0on510](https://codesandbox.io/s/pyoy0on510)

if it is really a bug, I will try to collaborate with the repo, tks

[2017-09-22 17:47] bjhytrek commented on #335
@laszlokiraly  I figured out my issue. I was running version 2.0.0-beta1, 2.0.0-beta10 is required to use a custom handler like you mention is this thread:
https://github.com/draft-js-plugins/draft-js-plugins/issues/398

Thanks!

[2017-09-25 09:27] tarjei commented on #834
@nikgraf this seems to me to be an issue wrt to a bug I'm experiencing where the user presses the bold button in a static toolbar but the button does not get marked as bold.

For some reason this bug does not happen in the examples on the page, I don't know why.

[2017-09-25 12:26] jMalojlo commented on #580
Hey, is this somehow solved already?
I have the same problem in v. 2.0. Sadly, @mkampik's code doesn't seem to work too well

[2017-09-25 13:17] ChuckIrvine opened #889 "drawing plugin"
Is there a plugin what would allow draftjs users to embed drawings in documents? On subsequent edits, the user would be able to edit the embedded drawing. Thanks

[2017-09-25 14:43] juliankrispel commented on #889
There's a plugin for uploading images in the works - https://github.com/draft-js-plugins/draft-js-plugins/pull/733

[2017-09-25 14:44] #889 closed

[2017-09-25 14:45] ChuckIrvine commented on #889
I don't think uploading images works does it? If I upload an image, will I be able to click on it and edit in place?

[2017-09-25 14:45] juliankrispel commented on #886
oh crap, I'll look at it soon o_O

[2017-09-25 14:47] nikgraf commented on #603
@runfan is this still an issue?

[2017-09-25 14:47] juliankrispel commented on #885
@mxstbr wanna submit a pr for this? I'm assuming you guys found a workaround?

[2017-09-25 14:47] nikgraf commented on #357
Does this bug still exist?

[2017-09-25 14:50] juliankrispel commented on #882
@tarjei wanna make a pr to add those buttons? Would be happy to merge that in :+1:

[2017-09-25 14:56] juliankrispel commented on #879
@aanchalgera thx I opened a pr here - https://github.com/kevva/url-regex/pull/45 to fix the issue. If I don't get a reply soon from the project owner we'll just copy the module

[2017-09-25 14:56] juliankrispel commented on #881
that should be an easy fix, I'm guessing this is about escaping `(`

[2017-09-25 14:57] nikgraf commented on #889
@ChuckIrvine you won't be able to manipulate the image. If you want to do that it needs a plugin using canvas or svg. I'm not aware of any plugin out there having support for that.

[2017-09-25 14:57] juliankrispel commented on #868
@williamli can you provide a [codesandbox](codesandbox.io) to reproduce the error

[2017-09-25 15:00] ChuckIrvine commented on #889
That’s what I suspected. I think it would have been better to keep my issue open. What I suggested would be very useful I think.

[2017-09-25 16:10] mxstbr commented on #885
Nope, no fix yet, otherwise you'd long have a PR :wink:

[2017-09-25 16:15] kalimantos commented on #885
I found a rough solution but for now is the only one i found

[2017-09-25 18:04] juliankrispel commented on #885
@kalimantos thanks man! I looked and reviewed/tested

[2017-09-25 18:52] #885 closed

[2017-09-25 18:56] juliankrispel commented on #885
@mxstbr released a fix for this just now - draft-js-focus-plugin@2.0.0-rc9

[2017-09-25 18:59] #537 closed

[2017-09-25 20:33] mxstbr commented on #885
Yesss, awesome! Thanks @kalimantos and @juliankrispel!

[2017-09-25 21:03] juliankrispel commented on #860
@dimaslz how are you doing with that? If I don't hear from you soon I might attack this myself <3

[2017-09-25 21:05] juliankrispel commented on #863
@jamesfriedal fair proposal!

[2017-09-25 21:05] juliankrispel commented on #863
@jamesfriedal fancy opening a pr with such a change?

[2017-09-25 21:15] #879 closed

[2017-09-25 21:29] juliankrispel commented on #886
this makes me so sad :(

[2017-09-25 21:37] stevewillard commented on #886
Haha, why? I can try to take a look at this later in the week. I was trying to dig into how `useNativeArt` worked, because I was curious if I could exclude `emojione` entirely to reduce the size of this plugin.

[2017-09-25 21:38] juliankrispel commented on #886
@stevewillard I'm exaggerating :-)

[2017-09-25 21:38] juliankrispel commented on #886
looking at it right now actually

[2017-09-25 22:00] juliankrispel commented on #886
@stevewillard fixed - https://github.com/draft-js-plugins/draft-js-plugins/pull/893

[2017-09-25 22:59] juliankrispel commented on #881
@agarrharr just opened a pr as fix!

[2017-09-25 23:00] juliankrispel commented on #421
not reproducable anymore :+1:

[2017-09-25 23:00] #421 closed

[2017-09-25 23:02] juliankrispel commented on #603
not reproducable, @runfan if you find an issue still please let us know <3

[2017-09-25 23:02] #603 closed

[2017-09-25 23:14] juliankrispel commented on #827
is this a troll? :trollface:

[2017-09-25 23:17] juliankrispel commented on #787
@juhaelee this seems to work fine now. I believe it was fixed by a recent pr to the focus plugin. Here's proof:

![alignment-working](https://user-images.githubusercontent.com/1188186/30835439-ff8b38de-a24f-11e7-8ccb-bdd76747214d.gif)

If you can still somehow reproduce it let me know!

[2017-09-25 23:17] #787 closed

[2017-09-25 23:26] juliankrispel commented on #813
@CalebGM the alignment plugin persists the alignment into the entity data like so:

![image](https://user-images.githubusercontent.com/1188186/30835655-35168f20-a251-11e7-9cf2-60256920a586.png)

So it  does persist. If you need more help, please provide a codesandbox or reach out to us on the draft js slack, I'd be happy to help 👍

[2017-09-25 23:26] #813 closed

[2017-09-25 23:26] juliankrispel commented on #808
Just fixed this!

[2017-09-25 23:26] #808 closed

[2017-09-25 23:28] #881 closed

[2017-09-25 23:28] #886 closed

[2017-09-26 06:00] dimaslz commented on #860
Hi!, I had a busy week. I have something done. Let me this week to try finish. I will join the Slack channel and we talk soon ;)

[2017-09-26 06:35] tarjei commented on #882
Np. can you provide icons? Also, which font is used for the icons?

[2017-09-26 07:20] jtbonhomme commented on #705
The same for me ...

[2017-09-26 07:30] tarjei commented on #705
@SevenZark  did you try yarn add  draft-js-drag-n-drop-upload-plugin@2.0.0-rc8 ?

[2017-09-26 08:04] jMalojlo commented on #580
Hey, @mkampik, have you found a working solution? It would help me a lot!

[2017-09-26 14:44] SevenZark commented on #705
I don't use yarn. I didn't think it was a requirement for this package?

[2017-09-26 16:00] juliankrispel commented on #882
@tarjei if you look at draft-js-buttons, they're all svgs I believe...

[2017-09-26 16:00] juliankrispel commented on #882
@tarjei example: https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-buttons/src/components/BlockquoteButton/index.js

[2017-09-26 16:02] juliankrispel commented on #883
@richardson-trevor which addImage method are you regarding?

[2017-09-26 16:49] jamesfriedal commented on #863
am i right in thinking a PR would require me to actually write the code?
because unfortunately that would be beyond my ability. apologies

[2017-09-26 16:58] jamesfriedal commented on #855
I have also been suffering with the emoji plugin's load time problem.
@sevikon is there any chance you could share your work?

[2017-09-26 16:59] jamesfriedal commented on #859
Hi Hamed, did you ever resolve this?

[2017-09-26 17:21] jamesfriedal commented on #860
Does this mean there might be an updated emoji plugin released !!!!!

I Appreciate the work on Draft.JS plugins. As they have completed saved my project.

[2017-09-26 17:22] juliankrispel commented on #860
@dimaslz feel free to open a pr for a review @jamesfriedal oh yea we're updating stuff all the times!

[2017-09-26 17:42] richardson-trevor commented on #883
It's the reference accessible by:
[code]
I believe the reference in the image plugin api is [on this line](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-image-plugin/src/index.js#L35).

[2017-09-26 18:33] jamesfriedal commented on #860
aweosme, sounds great Julian. When i get a bit better at coding, I hope to contribute.

[2017-09-26 18:58] jtbonhomme commented on #705
Doesn't work neither:

% yarn add draft-js-drag-n-drop-upload-plugin@2.0.0-rc8
...
error Received malformed response from registry for
"draft-js-drag-n-drop-upload-plugin". The registry may be down.

2017-09-26 9:30 GMT+02:00 Tarjei Huse <notifications@github.com>:

[2017-09-26 21:59] juliankrispel commented on #135
I'm closing this issue since it's not really an issue (and continuing thought-process in the paper doc)

[2017-09-26 21:59] #135 closed

[2017-09-26 21:59] sevikon commented on #855
@romanlex I'm really sorry. I forgot about it and I'm a bit busy recently.
@jamesfriedal  I don't have time right now. I'm working on another project. I will try to share it in the nearest future.
But I can send you guys zipped directory with plugins. I wrote few others and rewrited a bit some of your plugins like dnd-upload-plugin. I hope it can help.
Plz wrote to me sevikon[at]gmail.com so I wil

[2017-09-26 22:07] juliankrispel commented on #58
In an effort to clean out issues and only keep those open which we need I'm closing this one. If you disagree, please lmk and I'll reopen.

✌️

[2017-09-26 22:07] #58 closed

[2017-09-26 22:07] juliankrispel commented on #60
In an effort to clean out issues and only keep those open which we need I'm closing this one. If you disagree, please lmk and I'll reopen.

✌️

[2017-09-26 22:07] #60 closed

[2017-09-26 22:21] juliankrispel commented on #875
@davidsonsns apparently with that version it doesn't work :/ - try `draft-js-linkify-plugin@2.0.0-rc8`

It seems to work in this [forked code sandbox](https://codesandbox.io/s/6zmql4qrmz) with the updated dependency, so I'm closing this issue

[2017-09-26 22:21] #875 closed

[2017-09-26 22:22] juliankrispel commented on #76
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:22] #76 closed

[2017-09-26 22:22] juliankrispel commented on #119
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:22] #119 closed

[2017-09-26 22:22] juliankrispel commented on #42
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:22] #42 closed

[2017-09-26 22:24] juliankrispel commented on #214
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:24] #214 closed

[2017-09-26 22:26] juliankrispel commented on #158
can't reproduce this anymore

[2017-09-26 22:26] #158 closed

[2017-09-26 22:26] juliankrispel commented on #154
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:26] #154 closed

[2017-09-26 22:26] juliankrispel commented on #63
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:26] #63 closed

[2017-09-26 22:26] agarrharr commented on #881
I'm not sure if this fixed it. This is what I'm seeing now.

![bug](https://user-images.githubusercontent.com/3266363/30887178-7450042e-a2d7-11e7-9553-6a0cfb285a56.gif)

[2017-09-26 22:27] juliankrispel commented on #248
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:27] #248 closed

[2017-09-26 22:28] juliankrispel commented on #261
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:28] #261 closed

[2017-09-26 22:29] juliankrispel commented on #264
Closing for issue cleanup - If you need this issue and think it should remain open please let us know why, thank you

[2017-09-26 22:29] #264 closed

[2017-09-26 22:38] juliankrispel commented on #881
@agarrharr ugh - fixed now, that plugin really needs a rewrite and some tests!

The fix will be live shortly as `draft-js-mention-plugin@2.0.0-rc10`

[2017-09-26 22:42] juliankrispel commented on #284
just create a new plugin instance for every trigger you want to add...

Closing this issue, if you have a reason to keep it open please let me know

[2017-09-26 22:42] #284 closed

[2017-09-26 22:43] juliankrispel commented on #290
custom mention components are supported, please refer to the docs.

I'm closing this issue, if you think this issue is still relevant please let us know why and we'll consider reopening it. Thank you for contributing ✌️

[2017-09-26 22:43] #290 closed

[2017-09-26 22:44] juliankrispel commented on #296
I'm closing this issue, if you think this issue is still relevant please let us know why and we'll consider reopening it. Thank you for contributing ✌️

[2017-09-26 22:44] #296 closed

[2017-09-26 22:44] juliankrispel commented on #298
thanks for the update to the docs @jakegavin

I'm closing this issue, if you think this issue is still relevant please let us know why and we'll consider reopening it. Thank you for contributing ✌️

[2017-09-26 22:44] #298 closed

[2017-09-26 22:44] juliankrispel commented on #299
I'm closing this issue, if you think this issue is still relevant please let us know why and we'll consider reopening it. Thank you for contributing ✌️

[2017-09-26 22:44] #299 closed

[2017-09-26 22:46] juliankrispel commented on #305
I'm closing this issue, if you think this issue is still relevant please let us know why and we'll consider reopening it. Thank you for contributing ✌️

[2017-09-26 22:46] #305 closed

[2017-09-26 22:48] juliankrispel commented on #311
Imo - we should remove state management and leave it up to userland - too many opinions about state management...

[2017-09-26 22:49] juliankrispel commented on #316
I'm closing this issue, if you think this issue is still relevant please let us know why and we'll consider reopening it. Thank you for contributing ✌️

[2017-09-27 01:24] aarryy opened #895 "Mention can only get triggered once each line after recent updates"
Noticed the issue after I updated draft-js-mention-plugin to 2.0.0-rc8 recently. Not sure if this is the desired behavior but I didn't have this issue with my previous installation 2.0.0-rc2. It can be replicated on the [demo page](https://www.draft-js-plugins.com/plugin/mention) too. I wonder if it has anything to do with #865. I did change my suggestions from immutable list to pure array.

[2017-09-27 13:46] MichalPodeszwa commented on #860
Would this plugin also have the emoticons?

[2017-09-27 17:09] agarrharr commented on #881
It works great now!

[2017-09-28 14:32] AleksandrZhukov commented on #593
via Webpack you can do:
[code]

[2017-09-28 14:57] mxstbr opened #897 "[RFC] Compound components"
The default plugins are not as customizable as I would like them to be, mainly due to doing too many things.

Take the side toolbar plugin as an example. You use it like this:

[code]

Now this magic `SideToolbar` component does a bunch of _stuff_. It handles the position of the sidebar, it's styled, it renders the buttons.

On top of that, to change the buttons that are rendered I have to provide

[2017-09-28 15:04] MykolaGolubyev opened #898 "Image resize plugin onChange is not fired"
## Use-case/Problem

I use  `draft-js-resizeable-plugin` plugin. My system reacts on real time changes inside DraftJS editor.
Need to react on size change of an image.

[code]
That didn't produce any console output.
I checked the source and didn't find ant mention of `onChange`.

Not sure if I am using it wrong or misunderstood the docs.
Let me know if this is something on a roadmap and if I could

[2017-09-28 17:43] juliankrispel commented on #360
Seems like it'd be a great plugin.

In an effort to clean up issues, I'm closing all issues that aren't relevant and should be closed, if you think this shouldn't be closed please let us know why and we'll reopen. Cheers

[2017-09-28 17:43] #360 closed

[2017-09-28 17:46] #352 closed

[2017-09-28 17:47] juliankrispel commented on #352
Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 17:52] juliankrispel commented on #545
Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 17:52] #545 closed

[2017-09-28 17:53] juliankrispel commented on #532
Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 17:53] #532 closed

[2017-09-28 17:53] juliankrispel commented on #529
can't reproduce this anymore, hence closing

[2017-09-28 17:53] #529 closed

[2017-09-28 17:55] juliankrispel commented on #524
@Antherkiv hey man. Sorry this reply is a bit late I guess.

I'm not sure I understand the queastion to be honest but if you still need an answer please feel free to reply here with a more detailed description or on the draft js slack.

I'm closing the issue for now assuming that this has been resolved within the last year or so :trollface:  :)

[2017-09-28 17:55] #524 closed

[2017-09-28 17:56] juliankrispel commented on #522
@mingzhaov the sticker plugin works with blocks only right now. Stickers would need to be entities in this case. I'd recommend using the image plugin instead :)

[2017-09-28 17:56] #522 closed

[2017-09-28 18:03] juliankrispel commented on #520
Judging from a quick test on the website that seems to have been fixed since. Closing...

[2017-09-28 18:03] #520 closed

[2017-09-28 18:04] juliankrispel commented on #518
Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 18:04] #518 closed

[2017-09-28 18:05] juliankrispel commented on #517
Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 18:05] #517 closed

[2017-09-28 18:09] juliankrispel commented on #508
Totally interested in a pr and would be happy to help :) but I'm guessing you'll have lost interest because no one replied at the time :/ - sorry about that

Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 18:09] #508 closed

[2017-09-28 18:11] juliankrispel commented on #488
@MarkNijhof did the rejig of that pr get anywhere? If you like I'm happy to chat over slack :-)

For now, closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 18:11] #488 closed

[2017-09-28 18:15] juliankrispel commented on #473
Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 18:15] #473 closed

[2017-09-28 18:16] juliankrispel commented on #452
Closing this issue as part of a clean out. If you think this should remain open please let me know. Cheers

[2017-09-28 18:16] #452 closed

[2017-09-28 18:17] juliankrispel commented on #895
that bug is fixed now btw :) - please install the latest

[2017-09-28 18:17] #895 closed

[2017-09-29 08:16] juliankrispel commented on #897
@mxstbr really love this! Would be awesome to have a conversation with you @mxstbr and @nikgraf on slack <3

[2017-09-29 08:53] juliankrispel commented on #897
I've opened a [paper doc](https://paper.dropbox.com/doc/Architecture-changes-3.0-dLkTLrMlDq53VjvesyyxH?_tk=share_copylink) for further discussion, anyone with the link can comment/share the doc...

[2017-09-29 11:05] Aleksion commented on #119
Just tested this again. It works as it should now. Good work guys!

[2017-09-29 12:19] juliankrispel commented on #873
Not really possible unfortunately because Components are part of plugins too, discussion to be [continued here ](https://paper.dropbox.com/doc/Architecture-changes-3.0-dLkTLrMlDq53VjvesyyxH)

[2017-09-29 12:19] #873 closed

[2017-09-29 14:48] baoziv587 opened #900 "plugins not working if called refs.editor.focus() in componentDidMount"
# Minimal reproduce
![image](https://user-images.githubusercontent.com/7347513/31021367-414cdb44-a4fb-11e7-80e1-df0cafd8ae7c.png)

https://codesandbox.io/s/r743k3022q

[2017-09-29 17:33] MykolaGolubyev commented on #883
Not sure if it is related, but if my content starts with an image, then there is an empty line in front of it which I can't delete without deleting the image.

[2017-09-30 09:48] juliankrispel commented on #883
I shall have a peek!
On Fri, Sep 29, 2017 at 6:33 PM MykolaGolubyev <notifications@github.com>
wrote:

[2017-10-01 22:00] iEchoic opened #901 "Mention plugin only pops up when '@' is the first character in a line after updating"
Hello,

I'm using draft-mention-plugin in production, and after updating to Draft 0.10 and mentions plugin 2.0.0-rc9, I'm finding that the suggestions only pop-down if the '@' character is the *first* character in any row. So:

`@name` works, but

`hi @name` will not pop the suggestions component.

I've been debugging through the code and am at a loss as to why this is happening. It appears that o

[2017-10-01 22:12] iEchoic commented on #901
I just downgraded to rc8 and it seemed to have fixed the issue. Possible issue in rc9?

[2017-10-02 09:44] juliankrispel commented on #901
@iEchoic rc8 has other issues, did you try rc10?

[2017-10-02 18:28] MykolaGolubyev opened #902 "Focus plugin re-attaches image entity to a block of text"
## Use-case/Problem

Three blocks:
1. block of text
2. block with an image decorated with focus plugin.
3. block of text

Select image and press BackSpace. Image with disappear visually. But it is now inside entityRange of the first block of text.

I have a preview window that takes raw output and prepares a template based on it. That's how I spotted the problem.

I will try to take a look at the

[2017-10-03 04:36] williamli opened #903 "support mailto:user@domain syntax in draft-js-anchor-plugin"
`draft-js-anchor-plugin` should accept mailto:user@domain as a valid link syntax so that email links can be inserted.

Only require to update the regex in `urlRegex.js`
https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-anchor-plugin/src/utils/urlRegex.js

[2017-10-03 14:33] alexlatchford opened #906 "React v16 Support"
## Use-case/Problem

Looks like there are a couple of uses of deprecated features that have now been removed, ie. `React.PropTypes` -> `prop-types` module.

We migrated our app pretty quickly to get the speed boost it comes with and didn't have too many hiccups.

[2017-10-03 16:11] santialbo commented on #210
Holy shit I've literally lost days. Thanks everyone for the answers.

[2017-10-04 02:04] thenanyu commented on #901
I just repro'd in rc10

[2017-10-04 06:42] juliankrispel commented on #901
Can you provide a codesandbox please?
On Wed, Oct 4, 2017 at 3:04 AM thenanyu <notifications@github.com> wrote:

[2017-10-04 14:59] stevewillard commented on #906
React 16 is already supported. Do you see any issues after upgrading?

[2017-10-05 20:33] alexlatchford commented on #906
Hi @stevewillard apologies for the delay.

I'm using: `"draft-js-plugins-editor": "^2.0.0-beta1",`. Here's the problem:

![screencapture-local-hugoai-3001-1507235571007](https://user-images.githubusercontent.com/628146/31251096-b4417274-a9d1-11e7-85cc-a3bb7450aa6f.png)

[code]

[2017-10-05 20:36] alexlatchford commented on #906
Haha, I just checked I'm on the latest version and looks like there is a `draft-js-plugins-editor@2.0.0-rc8` out! That works with React v16 it looks like.

Closing, apologies...

[2017-10-05 20:36] #906 closed

[2017-10-06 08:26] danii1 commented on #593
I'm using Yarn, so I ended up adding
[code]
to package.json

[2017-10-06 12:09] sevikon commented on #855
@romanlex I created fork:
you can check how it works:
https://github.com/sevikon/draft-js-plugins/tree/master/draft-js-emoji-plugin

[2017-10-06 23:56] jgrisafe commented on #901
+1 on this issue, we will have to lock our app at rc8 until this is fixed.

[2017-10-07 10:50] juliankrispel commented on #901
@jgrisafe @thenanyu @iEchoic I have tested this with `draft-js-mention-plugin@2.0.0-rc10` and can't reproduce the error, here's [some proof](https://codesandbox.io/s/rj2ymv4l7n) - You can inspect the version number in the sandbox! Please let me know if you can still reproduce it and provide proof and I'll happily reopen this again <3

[2017-10-07 10:50] #901 closed

[2017-10-09 17:05] ArthurStam opened #910 "Linkify underline problem"
I am trying to use draft-js-linkify-plugin and I have a problems with underlining of whole text after pasting link. I think, this is bug, because after link paste I would to continue writing normal text, but I can't, because it's underlined)
![screen shot 2017-10-09 at 19 04 28](https://user-images.githubusercontent.com/5061840/31349755-d30d61d0-ad24-11e7-92b6-d236e47a4344.png)

[2017-10-10 06:51] tarjei commented on #897
#834 should be closed as a duplicate of this issue.

[2017-10-10 07:52] juliankrispel commented on #897
@tarjei why?

[2017-10-10 08:16] andpor opened #911 "mention plugin npm published version is old and out of sync with documentation"
Please publish new version of mention plugin. npm version is dated, completely out of sync with current documentation and buggy.

I would like to use the latest codebase but cannot get it is distributed flavor.

[2017-10-10 09:07] janjon opened #912 "draft-js-image-plugin adds image caption"
`blockRendererFn
`
Adds the input input box in ThemedImage, but regardless of how can't select, but [http://lastdraft.xyz/](url) the mentality also added input to update data to implement. It indeed may select

Thanks your response

[2017-10-10 15:36] andpor commented on #500
I get this error with Mention plugin and I am not even adding a mention when it happens. This is not stable or production ready...

[2017-10-10 16:59] Kornil opened #913 "Webpack dependency doubled on package.json"
https://github.com/draft-js-plugins/draft-js-plugins/commit/1f71cf2c68970118ae8489b2e89a3560c5691762 this commit over one year ago introduced `webpack` as normal dependency of the project (it was already there as devDep), I could not find a reason for it.

Is it needed? I tried to play around removing it and it does not look like it's doing anything at all, let me know if it can be removed. I'll g

[2017-10-10 19:46] nbarrera opened #914 "Publish new version using the prop-types package"
I faced an issue while using the latest npm package (2.0.0-beta8).

My project react version was bumped up to 16.0.0 where the use of React.PropTypes is no longer supported and only the use of the new prop-types package is supported.

I 've found that the code at master already supports using prop-types package:

https://github.com/draft-js-plugins/draft-js-plugins/blob/e332b78552d3000b4fa91e665cd

[2017-10-10 21:18] marlonmleite opened #915 "Mention - Not possible initialize mention from plain text"
After saving the text with the mention, I have something like this:

After render my Mention Component with data server, it's not markable the mention people.
It is like normal text:

In my `constructor` i use:
[code]

**Can not generate mentions from plain text?**

[2017-10-11 02:00] janjon commented on #912
input need setReadOnly Can use, Has looked for a long time

[2017-10-11 11:35] tarjei commented on #897
@juliankrispel It seems to me that the best solution to #834 will be implementing Draft-JS-plugins as a compound component instead of a HOC as today. I might be wrong.

[2017-10-11 18:36] stevewillard commented on #914
The latest version is `2.0.0-rc8`, use that version instead.

[2017-10-12 14:58] tim-soft opened #916 "Serialize/Deserialize Draft"
Is there a recommended way to save the editor State in a way that the drafts plugin side effects aren't lost? Converting the editor State to html results in links from linkify not being links for example.

Ideally, id like to save the editor state in a way that can be displayed later (as comments) but then be able to edit those comments, keeping the plugin effects. Any advice would be extremely he

[2017-10-12 18:46] nbarrera commented on #914
Thanks for your response.

Is there a way to reach that `2.0.0-rc8` through `npm`?

From https://www.npmjs.com/package/draft-js-plugins-editor I just can see the latest as `2.0.0-beta1`

[2017-10-12 19:02] stevewillard commented on #914
Yup. Honestly, I'm not sure why npm still reports that version. You can do:
[code]

[2017-10-12 19:24] nbarrera commented on #914
Great! I could install that version, thank you!

[2017-10-12 19:24] #914 closed

[2017-10-13 16:21] andpor opened #917 "addMention callback provided to MentionSuggestions is not getting invoked"
I provided a callback method to MentionSuggestion element per documentation onAddMention but this callback is not getting invoked when mention is selected. In fact, there is no code in MentionPlugin that looks at props.onAddMention property at all.

I should be invoked in onMentionSelect before the mention is added and ideally if the value returned from this callback is empty, code should abort ad

[2017-10-15 07:48] sidewayskumara commented on #708
Hey not sure if I'm missing something but I think I am having a similar issue regarding passing props into the inline toolbar component. I want to call a redux action when a button in the toolbar is clicked, but because I can't do this: `<InlineToolbar {...props}/>` inside a component that is connected to the redux store (using connect from react-redux) I've also had to expose the input data as a

[2017-10-16 07:49] artskar opened #918 "composeDecorators is not function"
package.json
[code]

[code]

can't find why `composeDecorators is not function` ?

[2017-10-16 11:10] kalimantos commented on #885
sadly i found an issue about that fix! when we use `replaceWithFragment` in https://github.com/draft-js-plugins/draft-js-plugins/pull/890/files#diff-597e058aa9b8b23d0ecfdff3859807d7R30 draft-js writes inside the empty unstyled block a whitespace and links the above entity to them. I think this should not happen. I can make a new pull request to fix this

[2017-10-16 11:14] juliankrispel commented on #885
@kalimantos this is fixed, please see above

[2017-10-16 12:27] kalimantos opened #919 "Entity linked to a empty line"
fixing the issue #885 we've intruduced this bug, when we call `Modifier.replaceWithFragment` with the empty unstyled block draft-js under the hood updates this contentBlock adding the entity key to the inline styles and changing the text from empty to whitespace. This should not happen as the newline should be totally unlinked from the entity.
currentContent before pressing enter on a focusable bl

[2017-10-16 22:09] diegohaz commented on #800
I just spent about 4 hours to figure out why my `mention` and `linkify` plugin weren't working. That was so frustrating.

We should give more attention to this issue.

[2017-10-17 02:47] artskar commented on #918
Here is the problem >.<! it must be 2.0.0-rc8 version!
http://joxi.ru/n2Y58ywFoaMV62

[2017-10-17 02:47] #918 closed

[2017-10-17 03:53] zjj131415 opened #921 "How does the table plugin use?"
How does the table plugin use?

[2017-10-17 08:55] ABeloeil commented on #209
Hi,

I am experiencing the same issue.
It appears that the value sent by the method `onSearchChange` stop when encountering an accent.

ex:

typing `@Valérie` only send the value `@Val` and in my case close the suggestions.

[2017-10-18 08:14] aanchalgera commented on #879
Thank you @juliankrispel for taking up the issue. I am still facing the same issue with ip-regex :(

[2017-10-18 19:10] jrock17 commented on #911
Just run this to get the latest version:
`npm install draft-js-mention-plugin@2.0.0-rc8 --save`

[2017-10-19 02:00] simsim0709 opened #922 "Suggestion for adding side toolbar plugin options."
First, thank you for this great plugin.

I have a suggestion for `draft-js-side-toolbar-plugin`.

Now, side-toolbar plugin is revealed always. Why don't we have an option to handle it?
For example, side toolbar of medium editor is only revealed when block is empty text.

Maybe like this:
[code]

If it's acceptable, I can make a PR.

[2017-10-19 04:39] sarzijan opened #923 "Count also spaces before and after the text"
Is it possible to add some prop, that will disable trim of text and the count will contain also the spaces before and after the text?

Some prop, that could be used on this code

`const cleanString = plainText.replace(regex, '').trim();`

Thanks

[2017-10-19 12:26] zigoo commented on #895
My problem is kind of similar - when nesting  mentions inside another component, I can only trigger one Mention per line..

I did install the latest version, tried different versions of dependencies/react etc.. and nothing seem to work :|
I even copied this (https://codesandbox.io/s/rj2ymv4l7n) into my app and mentions still behave same way.. What could possibly influence this behaviour?

[2017-10-19 16:22] juliankrispel commented on #919
what the! @kalimantos mind opening an issue in the draft js repo? I'll test this and merge it in

[2017-10-20 17:07] diegohaz commented on #901
I'm also having this problem (with rc10). Trying to investigate it, but without success so far.

[2017-10-21 12:34] F3LENYR opened #925 "[Bug] Heart emoji ":heart:""
Hey,

Thank you for this great emoji plugin.

Package : "draft-js-emoji-plugin"

I've found a bug with the emoji "heart", when I type ": heart :", when I press enter or click on it, the emoticon is not displayed :
https://gyazo.com/72f4e6dad0da098b9a14d58f69a73cbf

(Sorry for my bad english because I'm french)

Thank you in advance.

[2017-10-21 14:36] antoinerousseau commented on #755
@nikgraf why not?

[2017-10-21 16:56] mxstbr opened #926 "[drag-n-drop-plugin] store.getReadOnly is not a function"
We have an editor built with the `draft-js-drag-n-drop-plugin` and [our error monitoring service is reporting a constant stream of this error](https://sentry.io/share/issue/6eb3f33493de4ba3a4b3bc28b9b1c9ca/):

<img width="758" alt="screen shot 2017-10-21 at 6 52 55 pm" src="https://user-images.githubusercontent.com/7525670/31853899-15434702-b691-11e7-9904-a8fcb6aaae7e.png">

Looking at the drag-n-

[2017-10-21 19:39] nrfm commented on #755
@nikgraf
any updates on this?
Where is the best place to get a clear picture of the status/blocks and see if i can help with it?

thanks for the hard work!

[2017-10-22 21:14] mattmazzola commented on #210
https://github.com/draft-js-plugins/draft-js-plugins/issues/624

[2017-10-23 08:10] mxstbr commented on #926
This is consistently happening for hundreds of our users. :confused: Any hunches what the issue could be? Otherwise I'll have to hotfix this and just default to `readOnly=true` if `store` is undefined or something.

[2017-10-24 12:01] tumetus commented on #756
Closing this, PR for this is merged :)

[2017-10-24 12:01] #756 closed

[2017-10-24 13:09] johndavedecano opened #927 "Mention Suggestion only gets triggered once"
Hi Nik and the team,

I am using mention suggestion plugin. When i initially type @ mention plugin works and shows the dropdown. However when there is already a content in the text box and type @ it no longer works.

[code]

[2017-10-25 18:07] AnasTawfeek opened #930 "Multiple instance of reusable react component wrapping DraftJS issue"
I'm creating a reusable component for a `Post` for social platform, its based on DraftJS, and I'm trying to make it as clean as possible,
so every `plugin` is separated in its own file in the `plugins` folder, and they are imported and injected dynamically using something like this
```plugins.map(plugin => require(`../plugins/${plugin}.jsx`).plugin)```
where the plugin file return object got the p

[2017-10-25 18:08] stevewillard commented on #927
I'm experiencing the same issue.

[2017-10-26 00:10] sidewayskumara commented on #757
Wondering if there’s been any progress on this. Super keen on the idea!

[2017-10-26 14:15] AnasTawfeek commented on #930
#931

[2017-10-26 17:53] kingmatusevich commented on #705
Please fix this

[2017-10-27 02:25] TonyGGC opened #933 "composeDecorators.js error"
Uncaught TypeError: f is not a function

Can be seen in composeDecorators.js

[2017-10-27 08:12] IronLu233 opened #934 "How to make all plugins use one store?"
## Use-case/Problem
I want try to use draft-plugin-editor with several plugins.
The [static-toolbar-plugin](https://www.draft-js-plugins.com/plugin/static-toolbar)  and [markdown-shortcut-plugin](https://github.com/ngs/draft-js-markdown-shortcuts-plugin/)  use their own store. So when I change inline style by shortcut. The style of button which is in inline toolbar is not changed(It should be has

[2017-10-27 09:09] TonyGGC commented on #933
This problem is solved
 see the follow notes:
![image](https://user-images.githubusercontent.com/29298553/32096627-93a28ef8-bb39-11e7-8a8f-c8e1c0e3f497.png)

[2017-10-27 09:10] #933 closed

[2017-10-27 09:21] mxstbr commented on #446
I keep running into this issue where our links and mentions and stuff just disappear randomly.

I think it'd be worth to re-inject the decorators if the previous and the current editor state aren't referentially the same: (pseudo-code)

[code]

[2017-10-27 09:36] juliankrispel commented on #926
hotfixed by @mxstbr in #929

[2017-10-27 10:04] mxstbr commented on #926
I think this should stay open since it might be indicative of a larger problem, surely the drag-n-drop plugin won't be the only one affected by a render happening before `initialize` is called?

[2017-10-27 10:08] juliankrispel commented on #926
@mxstbr no, unfortunately this problem is consistent throughout the project... because we're managing state inside draft-js-plugins... and so it's working against the react render cycle...

[2017-10-27 17:45] thomasvidas commented on #927
Happening to me on 2.0.0-rc10 as well with both the default "@" and custom triggers. It's not happening on 2.0.0-rc8 though, so it must've been a change in the last few release candidates.

Also if you newline, you can trigger another mention

[2017-10-27 17:56] stevewillard commented on #927
@thomasvidas thanks for the tip on downgrading to rc8 - that seems to have fixed the issue for me.

[2017-10-27 19:45] sciyoshi commented on #927
It works only at the beginning of the line, but nowhere else. Looks like this change may have broken it https://github.com/draft-js-plugins/draft-js-plugins/commit/ddbb566f44c8a70a385f4fb3864c3c9aa4c3c08e#diff-c8ba337a5e28941ea2e2ac378060ef6b cc @juliankrispel

[2017-10-30 09:31] stevewillard commented on #772
Is anyone working on this? I can try to find some time next week to work on this.

[2017-10-30 12:54] 1x-martin commented on #531
The same issue is currently appearing again. Version is `2.0.0-beta6`

[2017-10-30 12:55] TonyGGC opened #937 "How to get the Editor's text and picture content？"
**The code is as follows：**

import {Row, Col, Select, Form, Input, Button, Checkbox, Radio, Tooltip, Icon, DatePicker, Text} from 'antd';
import {Router, Route, browserHistory, hashHistory, IndexLink, Link} from 'react-router';
import React, {Component, PropTypes} from 'react'

import {convertFromRaw, EditorState,} from 'draft-js';
import Editor, { composeDecorators } from 'draft-js-plugins-edito

[2017-10-31 03:07] steven-qi commented on #925
I have opened a PR #938 for this.

[2017-10-31 03:17] steven-qi commented on #937
Try `console.log(convertToRaw(editorState.getCurrentContent()))`.

[2017-10-31 03:38] artskar opened #939 "draft-js-image-plugin, there is NO imagePlugin.addImage method"
http://joxi.net/KAgGKbwC4ZpW1A

https://www.draft-js-plugins.com/plugin/image

[code]

`modifier={imagePlugin.addImage}`
but there is no such method!

[2017-10-31 04:01] artskar commented on #939
damn, that plugin not released too, like dnd-upload plugin. only way to solve it download plugin from repo https://github.com/draft-js-plugins/draft-js-plugins/tree/master/draft-js-image-plugin

[2017-10-31 04:02] artskar commented on #939
@nikgraf release this plugins please, i spend several days to get understand why plugins don't work like in docs. >.<

[2017-10-31 11:59] deesx commented on #770
it seems that the error persists; or came back (recent react16 updates ?)

[2017-10-31 14:46] iansinnott commented on #859
Since emojione is one big JS blob your best bet is probably to use [dynamic imports](https://webpack.js.org/guides/code-splitting/#dynamic-imports) so that the user only ever has to request emojione if they actually use your editor component. That way you don't bloat your main bundle.

[2017-10-31 20:30] wildlifehexagon opened #940 "Static toolbar example is missing stylesheets in documentation"
I was following along on the static-toolbar documentation as seen here:

https://www.draft-js-plugins.com/plugin/static-toolbar

And I noticed the Themed Static Toolbar Example does not show two of the three stylesheets that it uses. Both buttonStyles and toolbarStyles are missing from the landing page content. It's easy to imply what the styling might be, but it seems both should be embedded like

[2017-11-01 07:19] TonyGGC commented on #937
@steven-qi thank you,  I get it

[2017-11-02 02:24] grydstedt opened #941 "Align text"
Can the Alignment plugin be used to left/right/center align text? If I add the AlignBlockCenterButton etc buttons to the static toolbar and try to align text I get `this.props.setAlignment is not a function`

[2017-11-02 08:06] TonyGGC opened #942 "image show error"
add two picture into the Editor,  than delete one picture,  show me two pictures' info from
"console.log(convertToRaw(editorState.getCurrentContent()));"

.................................................

 onChange(editorState) {
        this.setState({
            editorState,
        });

        console.log(convertToRaw(editorState.getCurrentContent()));
    };

...........................
<Ed

[2017-11-02 10:19] AndreyMiloserdov opened #943 "react warning about extra porps"
When create LinkifyPlugin plugin, react show warning:
![screen shot 2017-11-02 at 13 10 46](https://user-images.githubusercontent.com/26063680/32320661-97d554a2-bfcf-11e7-9af3-636c37febf12.png)
Packages dependency:
![screen shot 2017-11-02 at 13 14 04](https://user-images.githubusercontent.com/26063680/32320724-c3dc81f6-bfcf-11e7-8862-65994e1efa0e.png)

Code:

Using:

`<Editor
          placeholde

[2017-11-02 16:33] hasnainshafqatmlt opened #944 "filteredSuggestions.setSize is not a function"
## Use-case/Problem

Hello guys i'm facing problem by using very first example of
https://www.draft-js-plugins.com/plugin/mention
any idea why i'm getting this error by typing '@' ?

![screen shot 2017-11-02 at 9 28 51 pm](https://user-images.githubusercontent.com/6399158/32338316-2cd9ca92-c016-11e7-9569-fb619d9ba880.png)

my code

[code]

[2017-11-02 17:53] hasnainshafqatmlt commented on #944
Found the solution.
have to do this change.
Thanks

![screen shot 2017-11-02 at 10 52 40 pm](https://user-images.githubusercontent.com/6399158/32341901-a3220278-c020-11e7-83e8-1b101518bbd8.png)

[2017-11-02 17:53] #944 closed

[2017-11-03 10:20] troelskn commented on #770
Installing from beta doesn't do it for me either.

[2017-11-03 10:55] troelskn commented on #770
I found the error. I had code where I would call `createSideToolbarPlugin()` inside the `render()` function of my component. This means a new plugin would be crated all the time. Moving `const sideToolbarPlugin = createSideToolbarPlugin();` to the global scope solved this.

[2017-11-03 10:58] posejdon256 opened #945 "Youtube video with specific time"
## Use-case/Problem

Is there any possibility to add youtube video with specified time with draft-editor-video-plugin? For example something like this: https://www.youtube.com/embed/q6jaFL4gBSE?start=92

[2017-11-03 12:49] troelskn opened #946 "[side-toolbar-plugin] Positioning of sidebar toolbar"
Currently the SidebarToolbar is hardcoded to position on the left side. For my use case, I would like to move it to the right side instead. There is no obvious way to achieve this that I can figure out.

I would suggest either giving a config option `position` w values `left | right` or perhaps better -
 allow to hook in to the positioning code, that is currently locked inside `Toolbar.onEditorSta

[2017-11-03 13:15] troelskn commented on #946
Somewhat related - I tried to hook in to `onEditorStateChange`, but can't, since it's hidden behind `decorateComponentWithProps`. It would be most helpful if this weren't the case. I would suggest changing this line:

    SideToolbar: decorateComponentWithProps(Toolbar, toolbarProps),

To something like:

    makeSideToolbar: function(DefaultToolbar) {
        return decorateComponentWithProps(Def

[2017-11-04 23:33] KuznetsovIlya opened #948 "Mention plugin. Add props to change selection by default"
Hello, we try to implement mention plugin in our editor and found some use-cases, which can't be realized with current `MentionSuggestions` component's interface. We use draft-js-mention-plugin without @ trigger, with enabling searche after user inputs a few symbols, so we expect to have an ability to disable default selection for suggestion list.

[2017-11-06 03:22] TonyGGC opened #950 "How to refresh the physical content of the editor wthe it changed?"
My case：
1.  add two pictures into editor
2.  delete one of them

My problem：
I get two pitures‘ info from log  when I do the step one and step two?

please give me a help, thank you!!!

[2017-11-06 10:23] kalimantos opened #952 "Image delete keep entity into state"
When deleting an image, the entity remains binded to the block above into the entityRanges and the entity is not removed from the entityMap.
https://codesandbox.io/s/4ql8746pl7
Step to reproduce:
- delete the image
- log the state in console with the proper button

state before:
[code]
state after:
[code]
i noticed that in the [draft-js media example](https://github.com/facebook/draft-js/blob/mast

[2017-11-06 11:59] kalimantos commented on #952
I found a solution but it doesn't solve the problem at all.
Adding
[code]
to the returned object of image plugin it solves the problem. But i think this happens with all the atomic blocks, so putting this code in image-plugin could not be the better solution. The same problem also happen when using the focus plugin and deleting the image when is focused and this "quick fix" doesn't solve that.

An

[2017-11-06 15:08] hasnainshafqatmlt commented on #251
Hello guys after doing reset editor mention list working but not first time.
i've to right first few text then mention list works. if after submit message that clear the editor and then i search mention list by typing '@' the it does not work even after writing text then finding mention list cursor goes to start of the editor.
please see the attachment for better understanding what happen.
how i'm

[2017-11-06 15:20] hasnainshafqatmlt commented on #289
Hello guys,
will you please help me how i can change it's position from bottom to top ?
i want to show mention list on top of the text instead of bottom.

![screen shot 2017-11-06 at 8 19 00 pm](https://user-images.githubusercontent.com/6399158/32448072-c217ad4c-c32f-11e7-8aa7-f349695c9218.png)

[2017-11-06 19:09] vikeen commented on #952
I'm having this same issue. I've got a lot of documentation to read still, but not even sure where to start yet on debugging this issue.

I have noticed that you can remove the image, but you have to delete the empty space it takes on to the previous line.

[2017-11-06 19:11] vikeen commented on #942
this looks like it may be the same issue as https://github.com/draft-js-plugins/draft-js-plugins/issues/952.

[2017-11-06 19:12] vikeen commented on #939
@artskar are you looking for this?

[code]

[2017-11-06 19:22] pfftdammitchris commented on #900
Hmm that is odd. Will try to work around a fix for this

[2017-11-07 11:09] juliankrispel commented on #925
Hi @steven-qi. Thanks for opening the issue and contributing. However I'm struggling to reproduce this, it's working for me in the sandbox:

![heart-emoji](https://user-images.githubusercontent.com/1188186/32490693-f55bbf64-c3ab-11e7-8908-ccb6a6e74d17.gif)

@steven-qi can you reproduce this in a [codesandbox](codesandbox.io) please?

[2017-11-07 18:34] arthurkushman commented on #124
Hi all, I've been manually imported as instructed here - https://www.draft-js-plugins.com/plugin/static-toolbar
from this directory - `node_modules/draft-js-inline-toolbar-plugin/lib/plugin.css`
And for sure installed all the webpack loaders/dependencies long time ago and updated - there are no errors, but the styles applied only for `<div>` element, but not for `draftJsToolbar`.
I don't see any `

[2017-11-07 20:47] pfftdammitchris commented on #950
What do you mean? I am confused

[2017-11-07 20:52] pfftdammitchris commented on #939
Here is my implementation as a workaround:

[code]

[2017-11-07 21:19] arthurkushman commented on #124
This is my code with which I'm experimenting:
[code]

[2017-11-08 05:28] TonyGGC commented on #950
@pfftdammitchris

Insert two pictures in the editor, than delete one of them again, obtain two picture information from the log information.

console.log(convertToRaw(editorState.getCurrentContent()));

[2017-11-08 07:15] steven-qi commented on #925
@juliankrispel Please check out the comments of the updated PR. I can reproduce it directly on demo page here with Windows 10 + Chrome 62.

https://www.draft-js-plugins.com/plugin/emoji

BTW, I am not the one who opened the issue, but I do encounter the same issue few days ago when I was trying to incorporate this to my own project..

[2017-11-08 18:31] hasnainshafqatmlt commented on #251
Hy guys,
mention list does not work if i set initial state in editor
anyone can help ?

[code]

[2017-11-08 18:31] hasnainshafqatmlt commented on #251
Hy guys,
mention list does not work if i set initial state in editor
anyone can help ?

[code]

[2017-11-08 18:36] hasnainshafqatmlt commented on #251
found the solution by replacing
[code]
with
[code]
final code

[code]

[2017-11-08 19:36] hasnainshafqatmlt commented on #689
@nikgraf same issue i'm getting, it's not firing the function.
i'm not getting any error but the warnings i'm getting on mention select is this one.

![screen shot 2017-11-09 at 12 35 35 am](https://user-images.githubusercontent.com/6399158/32570489-10916b04-c4e6-11e7-9ac6-7f4cde75c535.png)

[2017-11-09 03:50] stoneG opened #955 "Decorator strategy is not being called"
I'm trying to write a custom plugin and I'm not seeing any decorator strategies being run. I've tried with my own plugin and also with the `draft-js-linkify-plugin` and neither seem to work. Other plugins that don't use decorators such as `draft-js-inline-toolbar-plugin` seem to work just fine. Not sure if I'm doing something blatantly wrong.

here's a [sandbox](https://codesandbox.io/s/ylk8k3lwj)

[2017-11-09 08:18] ZhengRaymond commented on #955
#168

The decorators are being overrode when you add a `componentDidMount`. I had the same issue earlier. Removing `componentDidMount` seems to fix it, although @nikgraf did mention it was fixed in version 1.0...?

For context, the plugin I'm working on, I forked the draft-js-plugins repo, templated my plugin off of nik's Mention plugin, and am running/testing my plugin on the included storybook.

[2017-11-09 19:32] stoneG commented on #955
Ahhh, wild. That does seem to fix it, many thanks @ZhengRaymond!

[2017-11-10 04:30] artskar opened #958 "How to add a caption to image plugin?"
subj

[2017-11-10 10:31] juliankrispel commented on #958
@artskar we don't have a plugin like that right now I'm afraid but feel free to open a pr :)

[2017-11-10 10:32] #958 closed

[2017-11-10 16:08] hasnainshafqatmlt opened #961 "Mention list top position"
Hello guys,
will you please help me how i can change it's position from bottom to top ?
i want to show mention list on top of the text instead of bottom.

![screen shot 2017-11-06 at 8 19 00 pm](https://user-images.githubusercontent.com/6399158/32666980-1be85d84-c65b-11e7-99b8-97a2c5f9b2c5.png)

same question for Emoji

[2017-11-11 00:34] ZhengRaymond opened #962 "Documentation: Emphasizing that all EditorState props are passed to plugins"
Perhaps remove the list? This will make users automatically refer to the most up-to-date docs.

Otherwise, add `onLeftArrow` and `onRightArrow` to the list.

[2017-11-11 08:51] FezVrasta opened #963 "Use Popper.js for tooltip positioning"
Hi! I think the text-selection positioned tooltips would benefit if you used Popper.js to position them.

Here you find a little demo to show how easy is it to position elements with it:
https://codepen.io/FezVrasta/pen/vWXQdq

As you can see, you will get automatic flip to make the tooltip stay in the viewport and lot of advanced features that you can read in the popper.js.org website

[2017-11-11 12:05] juliankrispel commented on #962
mind opening a pr? <3

[2017-11-11 12:18] ZhengRaymond commented on #962
#964

[2017-11-12 00:08] githubflub commented on #576
Is this still an issue?

I wrote a mention-like plugin, and if it's active on the line above or below an image (draft-js-image-plugin), the draft-js-focus-plugin will move the cursor around and select the image. Ideally, it should not.

[2017-11-13 03:03] jrock17 opened #965 "Inline Toolbar position off within modal"
My editor lives within a modal. It looks like the inline toolbar positioning is slightly off in this case (see screenshot).

If I change this line (line 78) in Toolbar/index.js:
`top: selectionRect.top - relativeRect.top - toolbarHeight`

... and subtract 10 pixels, it lines up perfectly:
`top: selectionRect.top - relativeRect.top - toolbarHeight - 10`

But that's a hack. Any ideas for a permanent

[2017-11-13 11:03] #262 closed

[2017-11-14 12:54] jimyaghi commented on #656
I'm actually finding that decorators are no longer working in latest Draft version. I get stack overflow error.

[2017-11-14 13:06] jimyaghi commented on #656
so it seems you cant add decorators the normal way. It has to be done via props see
https://github.com/draft-js-plugins/draft-js-plugins/issues/538

[2017-11-15 03:46] Hongbo-Miao opened #967 "Headline buttons are broken in the Custom Inline Toolbar Example"
These buttons "HeadlineOneButton", "HeadlineTwoButton", "HeadlineThreeButton" are broken in the [Custom Inline Toolbar Example](https://www.draft-js-plugins.com/plugin/inline-toolbar).

Tested on Chrome and Firefox.

[2017-11-15 21:38] krsnaa commented on #372
FWIW, the line causing this is: `composes: mentionSuggestionsEntry;` from the code block below:

[code]

It is found in the mentionsStyles.css file.

[2017-11-16 09:11] khsily commented on #952
It's not a real bug-fix but i fixed it like this as a tricky hack.

[code]

I just tried to move cursor after the atomic block so that I can delete images without the bug.

[2017-11-16 10:23] Grammos opened #969 "Mention tag produce some weird issues!"
Hi! I'm facing two problems when it comes to involving the draft-js-mention-plugin, into my app. Please, have a look:

1) Every time, I type the '@' tag and want to choose from the suggestions list, it triggers:

"Warning: React does not recognize the `isFocused` prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase `isfocused` instea

[2017-11-16 15:49] icd2k3 commented on #786
Same issue here, what's the proper way to extend default themes instead of replacing them? Can't find anything in the docs...

[2017-11-16 20:32] stoplion opened #970 "TypeError: Cannot read property 'replaceChild' of null on https://www.draft-js-plugins.com/plugin/"
`TypeError: Cannot read property 'replaceChild' of null `
when visiting your home page :(
https://www.draft-js-plugins.com/plugin/
using latest Chrome

[2017-11-17 19:39] mattmazzola opened #973 "Trigger mention suggestions without leading space"
## Use-case/Problem
The existing regex for initiating the suggestion dropdown requires that the mentionTrigger is the first character or is preceded by a space.

See: `(\\s|^)${escapeRegExp(trigger)}${regExp}`
https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-mention-plugin/src/mentionSuggestionsStrategy.js#L8

In my use case I wanted to the user to be able to wrap the ment

[2017-11-18 00:27] MykolaGolubyev commented on #69
You can define entityStyleFn and play around data that can be extracted from passed entity.
https://github.com/sstur/draft-js-utils/tree/master/packages/draft-js-export-html#entitystylefn

[2017-11-18 00:39] MykolaGolubyev commented on #364
It now complains on isFocused property.

[2017-11-18 04:26] Hongbo-Miao commented on #961
https://stackoverflow.com/questions/47226977/mention-list-and-emoji-top-position-draft-js

[2017-11-18 04:28] Hongbo-Miao commented on #961
I saw you posted on Stack Overflow, https://stackoverflow.com/questions/47226977/mention-list-and-emoji-top-position-draft-js
The answer there helped me.

[2017-11-19 11:43] divyenduz opened #974 "Expose BlockTypeSelect through draft-js-side-toolbar-plugin"
## Use-case/Problem

I might be missing something but I feel customizing `draft-js-side-toolbar-plugin` is not as straightforward as `draft-js-inline-toolbar-plugin`.

For, `draft-js-inline-toolbar-plugin` I was able to provide the `structure` option as suggested by the documentation.

When I try the same with `draft-js-side-toolbar-plugin`, the CSS breaks as shown in the image below.
<img width="

[2017-11-19 12:10] divyenduz commented on #755
I am still running into a 404 for this one? Is this published to npm now? If no, is there any blocked task that I can pick up to move this :)

Thanks for all the hard work.

[2017-11-20 22:22] busov opened #975 "dot (.) in suggestion closes popup"
Is there a way to type . and use it to filter suggestions like `name.lastname` ? Currently when I type `.` it closes the popup.

[2017-11-22 10:37] Grammos commented on #677
Hi! I kind of have the same issue, but in my case, return key 'catches' just the '@' tag, and not that chosen item listed below.

Plus, it keeps producing the:

_"Warning: React does not recognize the isFocused prop on a DOM element. If you intentionally want it to appear in the DOM as a custom attribute, spell it as lowercase isfocused instead. If you accidentally passed it from a parent componen

[2017-11-22 18:45] gavrichards commented on #860
Any update on this? Would love this for our project we're building at the moment.

[2017-11-23 07:09] robgietema opened #976 "Side toolbar not placed correctly when parent(s) is positioned relative"
When the editor is inside a parent (or multiple parents) with position relative the side toolbar is not placed correctly. It will be place absolute inside the relative parent but should be absolute to the document. Could be the same issue as the inline toolbar #531

[2017-11-23 10:14] Grammos commented on #969
UPDATED: Also, you can find the first part of my issue, reproduced in this example, too (check the console!): https://codesandbox.io/s/x2r59zo4j4 ...  :(

[2017-11-23 14:09] #975 closed

[2017-11-24 10:22] Hongbo-Miao commented on #705
Tried to follow the guide in image [Alignment + Resize + Focus + Drag'n'Drop + Drag'n'Drop Upload Example](https://www.draft-js-plugins.com/plugin/image), also failed to install **draft-js-drag-n-drop-upload-plugin**.

[2017-11-24 10:22] Hongbo-Miao commented on #705
Also failed to install **draft-js-drag-n-drop-upload-plugin** when I tried to follow the guide in image [Alignment + Resize + Focus + Drag'n'Drop + Drag'n'Drop Upload Example](https://www.draft-js-plugins.com/plugin/image).

[2017-11-24 10:27] Hongbo-Miao commented on #705
Also failed to install **draft-js-drag-n-drop-upload-plugin** when I tried to follow the guide in image [Alignment + Resize + Focus + Drag'n'Drop + Drag'n'Drop Upload Example](https://www.draft-js-plugins.com/plugin/image).

Can someone help publish **draft-js-drag-n-drop-upload-plugin** to the npm again? Thanks

[2017-11-25 02:06] Hongbo-Miao opened #979 "Configuration Parameters in Focus doc is missing"
**Configuration Parameters** section in Focus [doc](https://www.draft-js-plugins.com/plugin/focus
) is missing.

[2017-11-25 06:37] lednhatkhanh commented on #976
+1 for this problem, I am facing the same thing....

[2017-11-25 06:39] lednhatkhanh commented on #531
We should reopen this issue, I'm having the same problem...

[2017-11-25 08:46] divyenduz commented on #625
I think what you are looking for is the [anchor plugin](https://www.draft-js-plugins.com/plugin/anchor). Does this solve your issue?

[2017-11-25 11:03] divyenduz commented on #974
I think I found an [example of](https://github.com/simsim0709/draft-js-plugins/tree/master/draft-js-divider-plugin) editing the side-toolbar. Is this the right approach to get the BlockTypeSelect?

Like this
[code]

[2017-11-26 11:42] busov opened #980 "Mention plugin. Mention wider than editor"
When mention is long enough and takes more than one line of editor it also creates blank space highlighted with entity css. Is there a way to handle long entities to only highlight entity text on a new line?
![image](https://user-images.githubusercontent.com/596592/33239664-4045a1fe-d2af-11e7-9c80-96f6d8396450.png)

[2017-11-26 19:49] #689 closed

[2017-11-26 19:49] jgrisafe commented on #689
The was fixed after upgrading to the newest version.

[2017-11-27 12:42] easychen commented on #940
[code]
should be

[code]
maybe .

[2017-11-27 17:34] Arieg419 commented on #755
hey, any update on this? @nikgraf

[2017-11-27 19:09] misterioss commented on #357
yes

[2017-11-27 21:07] viridia commented on #278
It appears that this was deleted from the FAQ but the underlying problem still exists - clearing the editor state destroys the ability to show the mentions popup.

[2017-11-28 03:45] Hongbo-Miao opened #981 "Resize image size with same ratio by the top or bottom edges."
Originally posted on [Stack Overflow](https://stackoverflow.com/questions/47482447/failed-to-resize-image-vertically-in-draft-js). Mikhail answered me and thanks for him.

I try to resize the image with original length-to-width ratio.
The issue is when  I use the mouse to resize by the top or bottom edge of the image, the cursor changed, but it failed to resize. It only works well at the left and

[2017-11-28 14:23] galileomd commented on #705
+1 for publishing draft-js-drag-n-drop-upload-plugin

[2017-11-28 14:45] kalekseev commented on #705
Guys I think it was removed from npm because it was never implemented as stated in the docs.
If you look at the code https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-drag-n-drop-upload-plugin/src/handleDroppedFiles.js#L46 then you will find that handleUpload callback is commented out and the only thing that it does is show image thumbnail after upload. If that functionalit

[2017-11-28 21:22] bufordtaylor commented on #630
I'm confused as to the point of the linkify plugin if it doesn't actually create an anchor entity.

[2017-11-28 21:32] viridia opened #982 "Resetting editor state without losing decorators?"
I know this bug has been reported multiple time already, but every one of them has been closed with no clear resolution.

I need to be able to reset the state of the editor - clearing all undo history. Unfortunately, when I do this the mention plugin stops working because all of the decorators go away. I can't use EditorState.push() because that preserves undo history, which I don't want. I've als

[2017-11-30 19:10] evansque commented on #295
@tonypee can you please share your solution? and did you have to store the state on the server?

[2017-11-30 20:09] evansque opened #983 "[draft-js-mention-plugin] How to create a mention entity programatically?"
I am trying to load a plain text that has mentions from an API that I have no control of, so there is no way that I can export the editState and store it there.

the mention plugin fails to create a mention entity when the editor state is created from text, how can I create an entity programatically?

[2017-12-01 22:12] abhishek541 commented on #705
npm still says no valid versions available. Any updates ?

[2017-12-03 01:20] Hongbo-Miao commented on #373
Check my answer on [Stack Overflow](https://stackoverflow.com/a/47614259/2000548).

It tells you how to upload/insert an image in Draft.js

[2017-12-03 02:14] Hongbo-Miao commented on #898
Have same question, not sure where it hold the image size states.

[2017-12-04 00:11] export-mike commented on #618
@nikgraf where can I find the "legacy folder" with the last version of draft-js-table-plugin?

[2017-12-04 04:22] export-mike opened #984 "Contributing Workflow"
Hey,

I'm in the middle of creating a plugin, and notice the project has some repetitive changes regarding local requires within the repo, publishing and building the project.

Just a thought has anyone tried using lerna with this project? If so were there issues?

Otherwise I'm keen to contribute a PR with updated config. let me know if you think this will be useful.

Cheers,

[2017-12-04 08:54] slobodanl commented on #967
#951 PR resolves the problem you reported, sadly the bugfix it's not yet merged.

[2017-12-04 10:53] robgietema opened #985 "Pressing enter twice in a ordered or unordered list should fallback to normal paragraph"
When you have selected the ordered or unordered list style you can add list items by pressing enter. When you press enter twice it should fall back to paragraph style.

[2017-12-04 13:28] comatory opened #986 "draft-js-mentions-plugin: Viewarea detection is not present"
## Steps to reproduce

1. Go to [https://www.draft-js-plugins.com/plugin/mention](https://www.draft-js-plugins.com/plugin/mention) to the section with "Simple example" text area
2. Resize window to approximately 640px.
3. Write enough text so that when you add a mention you're at the end of the line in editor

Result:

![](https://i.imgur.com/bAZE2QZ.png)

I don't know if this is a bug or if it's

[2017-12-05 10:36] comatory commented on #251
If anybody is interested, I present my solution [here](https://codesandbox.io/s/2oyjo0m510). My editor clears its state when you lose focus. I also had to make sure that when you hit "edit" button again, the cursor is moved to the back.

[2017-12-05 10:45] adrianmcli commented on #251
You may be using an older version of DraftJS Plugins? Note the FAQ question that was removed in this commit: https://github.com/draft-js-plugins/draft-js-plugins/commit/97f242ca04262e8b5ecc4a26d17ff1b8bb918b0b

[2017-12-05 10:51] comatory commented on #251
@adrianmcli I think I'm using the latest versions:

[code]

I'm on React 15.4.2 though.

[2017-12-05 14:26] jynweythek223 commented on #645
As linkify plugin already renders links correctly, I'd suggest passing editorState to linkifyEditorState only when you need those link entities (e.g. right before converting it to raw)

[2017-12-05 15:48] Subalee commented on #969
I think the next version fill fix this
[changelog](https://github.com/draft-js-plugins/draft-js-plugins/blob/master/draft-js-mention-plugin/CHANGELOG.md#added) its the first point in to be added

[2017-12-06 10:54] comatory commented on #251
@adrianmcli I see that you are a contributor. First of all thanks for awesome work! It's very much appreciated.

It seems that the documentation does not say anything and clearing editor state should just work but there seems to be cases and people (like me) where it does not work (see https://github.com/draft-js-plugins/draft-js-plugins/issues/982).

Just wanted to bring this to your attention. H

[2017-12-06 11:45] comatory opened #988 "[draft-js-mention-plugin] Feature request: Add ability to style mention prefix"
Couldn't find a way to style this. Is it possible to control this?

My use case is that you pop up mentions suggestions by triggering via "@" key, I'd like that "@" prefix to be highlighted while mention suggestions pop up is opened.

[2017-12-06 18:54] bjrmatos commented on #834
i just found this behaviour today,

the render of my editor looks like this:

[code]

where `InlineStylesButtons` is a component of a plugin (`inlineStylesPlugin.InlineStyleButtons`)

just for the record i had to workaround by passing the last editorState as a prop to `InlineStylesButtons`

final render:

[code]

[2017-12-06 19:02] bjrmatos commented on #834
maybe this can be a nice addition to the FAQ, because it is not obvious (and can be a common bug to other people) to find why `getEditorState` returns the previous one in this case.

[2017-12-07 02:14] zzlw opened #989 "list-type invalid。。。"
click list 'list-type' invalid
<img width="688" alt="wx20171207-101256 2x" src="https://user-images.githubusercontent.com/29618863/33695258-4bc4a2f6-db37-11e7-876d-c7fd640d2ce7.png">

[2017-12-07 07:19] MartinCamen commented on #969
@Subalee Any idea when that might be released?

[2017-12-07 12:42] jeroenschieven commented on #791
This looks like the same problem as in the [emoji example](https://www.draft-js-plugins.com/plugin/emoji), where after the emoji editor gets rendered a new emoji will be added after latest emoji instead of at the end of the text.

@lrojas94 is this the same problem?

I think after a initial render of the editor the focus should always be set at the end right?

The problem lies at which moment move

[2017-12-08 08:03] divyenduz commented on #967
@slobodanl: Thanks for the PR, hoping for it to be merged soon.

Will the PR https://github.com/draft-js-plugins/draft-js-plugins/pull/951 solve the case when `overrideContent` is not used?

This [this sandbox](https://codesandbox.io/s/6z2jk3vzzn) I have a button wherein I just want to have an alert show up when it is clicked but the click goes right through it.

Any ideas?

[2017-12-08 16:38] icd2k3 opened #991 "[emoji-plugin]: Cannot read property 'unicode' of undefined (Repro-able on demo site)"
## Use-case/Problem

- Go to: https://www.draft-js-plugins.com/plugin/emoji
- Scroll down to the demo input box
- Type `:one:` and click on the icon in the list (the same problem exists for _some_ other emojis too)
- Observe error  `Cannot read property 'unicode' of undefined`

So far, reproducible with these emojis (will add more as I find 'em):
`:one:`, `:two:`, `:three:`, `:four:`, `:five:`, `:

[2017-12-11 08:12] slobodanl commented on #967
@divyenduz PR #951 effectively resolves the problem with override content functionality case when you want to render custom component as result of toolbar button onClick. I don't think that your specific use case will be supported, nevertheless, I don't think that alerting is useful by itself so maybe what you are actually up for is rendering custom content in the inline toolbar?

[2017-12-11 08:25] divyenduz commented on #967
What I actually want to achieve is [this](https://stackoverflow.com/questions/47538084/draft-js-custom-button-for-custom-block) which is to enter a custom block mode when I click an inline toolbar button.

But I am not able to get the click callback right, I might be doing something stupid. This is where I  was just trying to add a custom inline button to the inline toolbar but the click just goes

[2017-12-11 10:41] slobodanl commented on #967
Please take a look into https://www.draft-js-plugins.com/plugin/image , **Add Image Button Example** for some ideas how you can employ custom button to insert a new custom block into the draft editor.
In case of the inline plugin, this can be reworked as a custom button that will render custom component with input and ADD button using ```overrideContent``` functionality and on ADD onClick call the

[2017-12-11 18:39] bufordtaylor commented on #705
This appears to be a dead plugin

[2017-12-13 12:04] divyenduz commented on #967
Thanks for the detailed comment, in my case, I do not want to use the `overrideContent` but directly enter the custom block mode, but the first click as I have demonstrated in my example, just passes through the inline toolbar. I will revisit this shortly and share my findings.

[2017-12-13 16:22] nickvoronin commented on #941
@okonet Hi, could you please provide any information about this one?

[2017-12-13 18:47] williamcp commented on #941
@nikgraf help us please :)

[2017-12-15 16:59] GabrielDuarteM opened #995 "Editor throws an "Cannot read property 'size' of undefined" error when using custom decorators"
I'm having a bit of trouble making the editor of `draft-js-plugins-editor` work with custom decorators when I use EditorState.createWithContent passing them as a parameter.

When I do that, the editor crashes, throwing a `Cannot read property 'size' of undefined` error. You can reproduce the error here: [Reproducible example](https://stackblitz.com/edit/err-draft-js-plugins?file=TestEditor.js)

If

[2017-12-19 07:37] flyingpath opened #996 "onSearchChange not firing when typing dot (.)"
Problem

The onSearchChange not firing when typing dot (.).

And my mention list have mention begin with . (ex.   ".load")
Do you have any suggestion?

Thanks

Tao

[2017-12-19 07:52] #996 closed

[2017-12-20 02:09] export-mike commented on #921
@zjj131415 FYI I have a table plugin you can use here: @mikeljames/draft-js-table-plugin

[2017-12-20 02:19] export-mike commented on #618
FYI I have a table plugin you can use here: yarn add @mikeljames/draft-js-table-plugin its fairly simple it's not a nested editor just text allowed. its fits with the requirements of the project i'm currently working on,

hope its useful for others.

```yarn add @mikeljames/draft-js-table-plugin```

![ezgif-2-db9b5e8116](https://user-images.githubusercontent.com/2983327/34188012-4e3b386e-e588-11e7

[2017-12-20 07:34] flyingpath opened #997 "[draft-js-mention-plugin] Feature request: Have a div with scroll bar to deal with long mentions"
Hi:

When mention list is too long, the div get long too.
I tried to add style max-height: 200px and overflow-y: auto.
But I can't move the scroll bar by press "down button".

![default](https://user-images.githubusercontent.com/21292793/34195947-d1cd0a60-e59a-11e7-8cfb-ce62db3cd360.png)

( the picture shows that no on-focus div with blue background, it in the bottom overflow)

Do you have any sug

[2017-12-20 09:40] bengotow commented on #645
Hey folks—if anyone is still looking to do this, I needed `link` entities to be created and updated as the user edited the text and created this draft-js-plugin. In addition to automatically managing the link entity beneath the user's cursor, it also provides a way to set an "explicit" link entity on the selected text, which the autolinker will not modify (so the user can explicitly link the text

[2017-12-20 21:49] HenrikBechmann opened #998 "Editor getReadOnly() persistently returns initialized value of props.readOnly, regardless of change"
My environment includes latest `draft-js-plugins-editor` and the following plugins:
[code]
The interaction with the plugins breaks down when the user toggles edit mode
[code]
It turns out that getReadOnly() only returns the initialized value of props.readOnly. If I start the editor at readOnly = true, then getReadOnly returns true even after toggle to false. Likewise if I start the editor at readO

[2017-12-21 02:04] HenrikBechmann commented on #998
So the following unmount/remount brute force workaround works for toggling between readonly and edit modes:
[code]
the timeouts avoid rendering/un-mounting react errors

[2017-12-22 02:13] cmmartin opened #999 "How can you use this without CSS modules?"
I'm working on a project that can't use CSS modules. I assumed I could copy and paste the CSS into my own stylesheets, but CSS modules generate unique hashes for the class names. Is there any way to use this without CSS modules?

[2017-12-22 15:21] terencechow commented on #624
Note another issue with `EditorState.push` is that it maintains the undo stack.

if I have a page with 1 editor, that is populated with data from taskId 1, and I have a button for 'next task' which just updates the state to use data from taskId 2, I don't want the undo stack to be maintained between different tasks. Hence `EditorState.push` is not a complete solution. We need a way to set the Edit

[2017-12-23 05:46] linonetwo commented on #995
Seem to be a recent bug?

[2017-12-23 06:33] GabrielDuarteM commented on #995
Looks like it.

It was probably introduced in the following commit, at 14 Nov: e3d2c739c930aec545c511f4a1f1e6efcee95b69.

[2017-12-25 14:31] teeceepee commented on #995
encountered the same issue with custom decorators. A `CompositeDecorator` instance doesn't have a `decorators` property, so it crashed.

[2017-12-26 20:25] weasteam commented on #941
any solutions? @grydstedt

I got the same problem:

[code]

[2017-12-27 00:47] weasteam commented on #677
Mine is similar:

[code]

* draft-js-plugins-editor: ^2.0.3
* draft-js-mention-plugin: ^2.0.1
* draft-js: ^0.10.4

[2017-12-27 00:48] weasteam commented on #969
Mine is similar:

[code]

* draft-js-plugins-editor: ^2.0.3
* draft-js-mention-plugin: ^2.0.1
* draft-js: ^0.10.4

[2017-12-27 01:14] weasteam commented on #969
I resolved by using my own Entry

[code]

[2017-12-27 09:52] sirajulm opened #1001 "[Mentions] Provision for different Replacement Text"
Hi,
First of all thanks for all the great work behind in maintaining such a feature rich plugins for DraftJS editor.

I've a clarification about the mention plugin. Could you help me know the complete structure of the mentions JSON. I'm not able to understand how it works exactly.

## Use-case/Problem
My use case is like, I'd need one label to be shown for the suggestions dropdown and once a sugge

[2017-12-28 14:56] grydstedt commented on #941
No solutions yet

[2017-12-29 05:50] vibhu098 commented on #915
Do you got any solution to this. ?

[2017-12-30 01:21] LarsLiden commented on #298
Still having issues with multiple instances on the same parent component, specifically, onSearchChange is only called for the last one I create.

My parent component, creates multiple instances like this:

                            .map(slot =>
                            {
                                return (
                                    <ChildComponent

[2018-01-02 17:04] nareshbhatia opened #1005 "anchor-plugin not inserting an anchor-tag"
I have added the anchor-plugin to my editor as documented. When I add a link, it appears to get added correctly to the editorState, however the generated html does not have the `<a>` tag. What am I missing? My code is shown below:

    const linkPlugin = createLinkPlugin();
    const inlineToolbarPlugin = createInlineToolbarPlugin({
        structure: [
            BoldButton,
            ItalicBu

[2018-01-02 18:21] bengotow commented on #637
Hey folks—just wanted to chime in here, I think `moveSelectionToEnd` should be made into a boolean option on the component. In my case, the editorState I'm assigning to the editor already has a selection state that has been determined via more advanced logic. (Maybe it could detect whether selection appears to be the default and only force it in that case?)

[2018-01-02 20:11] eltiare commented on #999
Well, this would explain why I've been having issues trying to incorporate this into my SASS stylesheets. >:(